openapi: 3.2.0
info:
  title: Nedap Dossier.Domain API
  version: 0.0.0
  description: 'Operations tagged dossier.Domain across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: dossier.Domain
paths:
  /t/dossier/domains:
    get:
      tags:
      - dossier.Domain
      summary: Returns every Domain available from the DomainAPI
      operationId: dossier.DomainAPI.all
      parameters:
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.list.DomainList'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/dossier/domains
      deprecated: true
      x-deprecated-since: 19-11-2025
    post:
      tags:
      - dossier.Domain
      summary: Create Domain
      operationId: dossier.DomainAPI.create
      requestBody:
        description: Domain to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.Domain'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.Domain'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/dossier/domains
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/dossier/domains/{id}:
    get:
      tags:
      - dossier.Domain
      summary: Get a resource by its ID
      operationId: dossier.DomainAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting Domain
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.Domain'
        '404':
          description: Domain not found
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/dossier/domains/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    put:
      tags:
      - dossier.Domain
      summary: Updates the given Domain
      operationId: dossier.DomainAPI.update
      parameters:
      - name: id
        in: path
        description: used for selecting Domain
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      requestBody:
        description: Domain to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.Domain'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.Domain'
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/dossier/domains/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/dossier/domains/multiple:
    get:
      tags:
      - dossier.Domain
      summary: Method used for requesting multiple Domain objects using their ids
      operationId: dossier.DomainAPI.multiple
      parameters:
      - name: id
        in: query
        description: 'array style id''s: id=1&id=2&etc'
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.list.DomainList'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/dossier/domains/multiple
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/dossier/domains:
    get:
      tags:
      - dossier.Domain
      summary: Returns every Domain available from the DomainAPI
      operationId: dossier.DomainAPI.all
      parameters:
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.list.DomainList'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/domains
    post:
      tags:
      - dossier.Domain
      summary: Create Domain
      operationId: dossier.DomainAPI.create
      requestBody:
        description: Domain to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.Domain'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.Domain'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/domains
    servers:
    - url: https://api-development.ons.io
  /v0/administration/dossier/domains/{id}:
    get:
      tags:
      - dossier.Domain
      summary: Get a resource by its ID
      operationId: dossier.DomainAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting Domain
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.Domain'
        '404':
          description: Domain not found
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/domains/{id}
    put:
      tags:
      - dossier.Domain
      summary: Updates the given Domain
      operationId: dossier.DomainAPI.update
      parameters:
      - name: id
        in: path
        description: used for selecting Domain
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      requestBody:
        description: Domain to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.Domain'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.Domain'
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/domains/{id}
    servers:
    - url: https://api-development.ons.io
  /v0/administration/dossier/domains/multiple:
    get:
      tags:
      - dossier.Domain
      summary: Method used for requesting multiple Domain objects using their ids
      operationId: dossier.DomainAPI.multiple
      parameters:
      - name: id
        in: query
        description: 'array style id''s: id=1&id=2&etc'
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.list.DomainList'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/domains/multiple
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    dossier.Domain:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        name:
          type: string
          description: (nl) Naam van dit domein
        hidden:
          type: boolean
          default: false
        classificationId:
          type: string
      description: Zorgplan "domein"
      example:
        updatedAt: '2014-04-01T17:00:00.000+02:00'
        createdAt: '2013-12-01T17:00:00.000+01:00'
        createdBy: user
        id: 1
        name: Domein naam
        hidden: false
        classificationId: classification.domain.health
    AuditedBase:
      title: AuditedBase
      type: object
      properties:
        updatedAt:
          type:
          - string
          - 'null'
          description: Dated Base extension.
          format: date-time
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        createdBy:
          type:
          - string
          - 'null'
      description: AuditedBase model (no description)
      example:
        updatedAt: '2014-12-29T00:00:00.000+01:00'
        createdAt: '2014-12-29T00:00:00.000+01:00'
        createdBy: example
    dossier.list.DomainList:
      type: object
      properties:
        domains:
          type: array
          items:
            $ref: '#/components/schemas/dossier.Domain'
          xml:
            name: domain
      description: DomainList model (no description)
      example:
        domains:
        - updatedAt: '2014-04-01T17:00:00.000+02:00'
          createdAt: '2013-12-01T17:00:00.000+01:00'
          id: 1
          name: Domein naam
          hidden: false
      xml:
        name: domains
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
