openapi: 3.2.0
info:
  title: Nedap Finance.Forensic Care Order API
  version: 0.0.0
  description: 'Operations tagged finance.ForensicCareOrder across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: finance.ForensicCareOrder
paths:
  /t/finance/forensic_care_orders:
    post:
      tags:
      - finance.ForensicCareOrder
      summary: Create ForensicCareOrder
      operationId: finance.ForensicCareOrderAPI.create
      parameters:
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      requestBody:
        description: ForensicCareOrder to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/finance.ForensicCareOrder'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finance.ForensicCareOrder'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/finance/forensic_care_orders
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/finance/forensic_care_orders/{id}:
    get:
      tags:
      - finance.ForensicCareOrder
      summary: Return the Forensic Care Order corresponding to the given id
      operationId: finance.ForensicCareOrderAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting ForensicCareOrder
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finance.ForensicCareOrder'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/finance/forensic_care_orders/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    put:
      tags:
      - finance.ForensicCareOrder
      summary: Updates the given ForensicCareOrder
      description: Will create the object at the provided ID if it did not exist previously.
      operationId: finance.ForensicCareOrderAPI.update
      parameters:
      - name: id
        in: path
        description: used for selecting ForensicCareOrder
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      requestBody:
        description: ForensicCareOrder to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/finance.ForensicCareOrder'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finance.ForensicCareOrder'
        '400':
          description: The ID in the path does not match the request body
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/finance/forensic_care_orders/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    delete:
      tags:
      - finance.ForensicCareOrder
      summary: Deletes the ForensicCareOrder with given id
      description: Deleting a ForensicCareOrder may fail if other objects are still linked to it.
      operationId: finance.ForensicCareOrderAPI.delete
      parameters:
      - name: id
        in: path
        description: used for selecting ForensicCareOrder
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finance.ForensicCareOrder'
        '204':
          description: Success
        '400':
          description: The ID is not specified
        '404':
          description: The forensic care order does not exist
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/finance/forensic_care_orders/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/finance/forensic_care_orders:
    post:
      tags:
      - finance.ForensicCareOrder
      summary: Create ForensicCareOrder
      operationId: finance.ForensicCareOrderAPI.create
      parameters:
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      requestBody:
        description: ForensicCareOrder to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/finance.ForensicCareOrder'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finance.ForensicCareOrder'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/finance/forensic_care_orders
    servers:
    - url: https://api-development.ons.io
  /v0/administration/finance/forensic_care_orders/{id}:
    get:
      tags:
      - finance.ForensicCareOrder
      summary: Return the Forensic Care Order corresponding to the given id
      operationId: finance.ForensicCareOrderAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting ForensicCareOrder
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finance.ForensicCareOrder'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/finance/forensic_care_orders/{id}
    put:
      tags:
      - finance.ForensicCareOrder
      summary: Updates the given ForensicCareOrder
      description: Will create the object at the provided ID if it did not exist previously.
      operationId: finance.ForensicCareOrderAPI.update
      parameters:
      - name: id
        in: path
        description: used for selecting ForensicCareOrder
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      requestBody:
        description: ForensicCareOrder to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/finance.ForensicCareOrder'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finance.ForensicCareOrder'
        '400':
          description: The ID in the path does not match the request body
      x-cupido-common-method: true
      x-replacement-for:
      - /t/finance/forensic_care_orders/{id}
    delete:
      tags:
      - finance.ForensicCareOrder
      summary: Deletes the ForensicCareOrder with given id
      description: Deleting a ForensicCareOrder may fail if other objects are still linked to it.
      operationId: finance.ForensicCareOrderAPI.delete
      parameters:
      - name: id
        in: path
        description: used for selecting ForensicCareOrder
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finance.ForensicCareOrder'
        '204':
          description: Success
        '400':
          description: The ID is not specified
        '404':
          description: The forensic care order does not exist
      x-cupido-common-method: true
      x-replacement-for:
      - /t/finance/forensic_care_orders/{id}
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    finance.ForensicCareOrder:
      type: object
      properties:
        id:
          type: integer
          description: Object identifier
          format: int64
          x-cupido-id: true
        clientObjectId:
          type: integer
          description: The object identifier of the Client
          format: int64
        careOrderObjectId:
          type: integer
          description: The object identifier of the CareOrder
          format: int64
        plaatsingsbesluitnummer:
          type: string
          description: 9 digit number
        forensischeZorgtitel:
          type: string
          description: Codelijst https://www.vektis.nl/streams/standaardisatie/codelijsten/COD706-MVJ
        strafrechtketennummer:
          type: string
          description: 7 or 8 digits
        beginDate:
          type: string
          description: Begin date
          format: date
        endDate:
          type: string
          description: End date. May be null if the forensic care order has not been 'closed'
          format: date
        type:
          type: string
          description: 'Empty or ''DBBC''

            Deprecated since 18-02-2020, ForensicCareOrder no longer contains dbbc records, retrieve this data directly from ons-dbc'
          deprecated: true
      description: ForensicCareOrder model (no description)
      example:
        id: 123
        clientObjectId: 333
        careOrderObjectId: 666
        plaatsingsbesluitnummer: '999999999'
        forensischeZorgtitel: '151'
        strafrechtketennummer: '9999999'
        beginDate: '2019-01-01'
        endDate: '2019-01-01'
        type: DBBC
      xml:
        name: forensicCareOrder
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
