openapi: 3.2.0
info:
  title: Nedap Expense.Expense Type API
  version: 0.0.0
  description: 'Operations tagged expense.ExpenseType across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: expense.ExpenseType
paths:
  /t/expense/expense_types:
    get:
      tags:
      - expense.ExpenseType
      summary: Returns every ExpenseType available from the ExpenseTypeAPI
      operationId: expense.ExpenseTypeAPI.all
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/expense.list.ExpenseTypeList'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/expense_types
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/expense/expense_types/{id}:
    get:
      tags:
      - expense.ExpenseType
      summary: Return the Expense Type corresponding to the given id
      operationId: expense.ExpenseTypeAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting ExpenseType
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/expense.ExpenseType'
        '404':
          description: Expense type not found
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/expense_types/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/expense_types:
    get:
      tags:
      - expense.ExpenseType
      summary: Returns every ExpenseType available from the ExpenseTypeAPI
      operationId: expense.ExpenseTypeAPI.all
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/expense.list.ExpenseTypeList'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/expense/expense_types
    servers:
    - url: https://api-development.ons.io
  /v0/administration/expense_types/{id}:
    get:
      tags:
      - expense.ExpenseType
      summary: Return the Expense Type corresponding to the given id
      operationId: expense.ExpenseTypeAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting ExpenseType
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/expense.ExpenseType'
        '404':
          description: Expense type not found
      x-cupido-common-method: true
      x-replacement-for:
      - /t/expense/expense_types/{id}
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    expense.ExpenseType:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        name:
          type: string
          description: The name of this expenseType
        unit:
          type: string
          description: The unit in which this expensetype is calculated (km or days)
        inputType:
          type: string
          description: 'The type of input used to input expenses made with this unit;

            an input field in case of kilometers or a checkbox in case of days'
        format:
          type: string
          description: 'the format of the value in which an expense is stored in the database:

            0 for decimal, 1 for float'
        icon:
          type: string
          description: The path to the icon used for this expensetype.
        exportCode:
          type: string
          description: The exportcode for this expenseType
        exportCodeGreaterThanTen:
          type: string
          description: The exportcode for this expenseType used in case there are more than 10km a day
        compensationInCents:
          type: integer
          description: 'The compensation per km for this expensetype in Eurocents.

            Unless the EMIS export is used, the compensation in cents fields are for future use and have no effect'
          format: int64
        compensationInCentsGreaterThanTen:
          type: integer
          description: 'The compensation per km for this expensetype in Eurocents used in case there are more than 10km a day.

            Unless the EMIS export is used, the compensation in cents fields are for future use and have no effect'
          format: int64
        commuteCode:
          type: string
          description: The exportcode for this expenseType used for commute km
        commuteCompensationInCents:
          type: integer
          description: 'The compensation per km for this expensetype in Eurocents used for commute km.

            Unless the EMIS export is used, the compensation in cents fields are for future use and have no effect'
          format: int64
        commuteMaxKm:
          type: integer
          description: The maximum number of commute km for this expenseType
          format: int64
        removed:
          type: boolean
          description: A field denoting whether or not this expenseType has been removed
        travelCalculationEnabled:
          type: boolean
          description: A field denoting whether or not travel distances should be calculated automatically
        beginDate:
          type: string
          description: The begindate for this expenseType
          format: date-time
        endDate:
          type: string
          description: The enddate for this expenseType
          format: date-time
        alternativeToTravelCalc:
          type: boolean
      description: 'ExpenseType domain model used by Cupido system.

        An Expensetype is a type of expense for which an employee may be compensated.'
      example:
        id: 1
        name: Kilometers
        unit: KM
        inputType: Value
        format: Float
        icon: Walk
        exportCode: KMP
        exportCodeGreaterThanTen: KMD
        compensationInCents: 777
        compensationInCentsGreaterThanTen: 888
        commuteCode: WW
        commuteCompensationInCents: 555
        commuteMaxKm: 30
        removed: true
        travelCalculationEnabled: true
        beginDate: '1973-12-20T17:00:00.000+01:00'
        endDate: '2015-12-20T17:00:00.000+01:00'
        alternativeToTravelCalc: true
      xml:
        name: expenseType
    expense.list.ExpenseTypeList:
      type: object
      properties:
        expenseTypes:
          type: array
          items:
            $ref: '#/components/schemas/expense.ExpenseType'
          xml:
            name: expenseType
      description: ExpenseTypeList model (no description)
      example:
        expenseTypes:
        - id: 1
          name: Kilometers
          unit: KM
          inputType: Value
          format: Float
          icon: Walk
          exportCode: KMP
          exportCodeGreaterThanTen: KMD
          compensationInCents: 777
          compensationInCentsGreaterThanTen: 888
          removed: true
          travelCalculationEnabled: true
          beginDate: '1973-12-20T17:00:00.000+01:00'
          endDate: '2015-12-20T17:00:00.000+01:00'
      xml:
        name: expenseTypes
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
