openapi: 3.2.0
info:
  title: Nedap Finance.Export Profile API
  version: 0.0.0
  description: 'Operations tagged finance.ExportProfile across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: finance.ExportProfile
paths:
  /t/finance/export_profiles/x-stream-connect/data:
    get:
      tags:
      - finance.ExportProfile
      summary: Return all ExportProfile models in a streaming manner
      operationId: finance.ExportProfileAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finance.list.ExportProfileList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/finance.ExportProfile'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/export_profiles/data
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/finance/export_profiles/x-stream-connect/updates:
    get:
      tags:
      - finance.ExportProfile
      summary: Return all ExportProfile models which where updated since the date given in the…
      operationId: finance.ExportProfileAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finance.list.ExportProfileList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/finance.ExportProfile'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/export_profiles/updates
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/export_profiles/data:
    get:
      tags:
      - finance.ExportProfile
      summary: Return all ExportProfile models in a streaming manner
      operationId: finance.ExportProfileAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finance.list.ExportProfileList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/finance.ExportProfile'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/finance/export_profiles/x-stream-connect/data
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/export_profiles/updates:
    get:
      tags:
      - finance.ExportProfile
      summary: Return all ExportProfile models which where updated since the date given in the…
      operationId: finance.ExportProfileAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finance.list.ExportProfileList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/finance.ExportProfile'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/finance/export_profiles/x-stream-connect/updates
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    finance.ExportProfile:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        beginDate:
          type: string
          format: date-time
        name:
          type: string
        type:
          type: string
        filterId:
          type: integer
          format: int64
        invoiceProfileId:
          type: integer
          format: int64
        active:
          type: boolean
          default: false
        exportJournaling:
          type: boolean
          default: false
        exportRetourJournaling:
          type: boolean
          default: false
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      description: ExportProfile model (no description)
      example:
        id: 1
        beginDate: '2016-01-28T00:00:00.000+01:00'
        name: exportProfile1
        type: exportProfileType1
        filterId: 123
        invoiceProfileId: 23
        active: true
        exportJournaling: true
        exportRetourJournaling: true
        createdAt: '2016-02-01T00:00:00.000+01:00'
        updatedAt: '2016-02-07T00:00:00.000+01:00'
      xml:
        name: exportProfile
    finance.list.ExportProfileList:
      type: object
      properties:
        exportProfiles:
          type: array
          items:
            $ref: '#/components/schemas/finance.ExportProfile'
          xml:
            name: exportProfile
      description: ExportProfileList model (no description)
      example:
        exportProfiles:
        - id: 1
          beginDate: '2016-01-28T00:00:00.000+01:00'
          name: exportProfile1
          type: exportProfileType1
          filterId: 123
          invoiceProfileId: 23
          active: true
          exportJournaling: true
          exportRetourJournaling: true
          createdAt: '2016-02-01T00:00:00.000+01:00'
          updatedAt: '2016-02-07T00:00:00.000+01:00'
        - id: 2
          beginDate: '2016-01-28T00:00:00.000+01:00'
          name: exportProfile2
          type: exportProfileType2
          filterId: 124
          invoiceProfileId: 24
          active: false
          exportJournaling: true
          exportRetourJournaling: true
          createdAt: '2016-02-02T00:00:00.000+01:00'
          updatedAt: '2016-02-07T00:00:00.000+01:00'
      xml:
        name: exportProfiles
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
