openapi: 3.2.0
info:
  title: Nedap Moves.Flex Signup API
  version: 0.0.0
  description: 'Operations tagged moves.FlexSignup across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: moves.FlexSignup
paths:
  /t/moves/flex_signups:
    post:
      tags:
      - moves.FlexSignup
      summary: Creates a flex signup for an employee on a flex request
      description: 'Signs up an employee for a specific flex request. If the employee already has a flex signup for the same shift timeline and date, the flex request will be added to the existing signup only if the request properties match those of the other request(s). The matching properties are: shift timeline ID, date, start time, end time, break start time, break end time, and expertise profile ID.'
      operationId: moves.FlexSignupAPI.create
      requestBody:
        description: The employee ID and flex request ID to create a signup
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/moves.FlexSignupRequest'
        required: true
      responses:
        '200':
          description: Flex signup created or updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.FlexSignup'
        '400':
          description: Bad request - validation errors, employee already signed up, or resource not found
        '401':
          description: Unauthorized - authentication required
      x-cupido-common-method: true
      x-replaced-by: /v0/plannen_roosteren/flex_signups
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/plannen_roosteren/flex_signups:
    post:
      tags:
      - moves.FlexSignup
      summary: Creates a flex signup for an employee on a flex request
      description: 'Signs up an employee for a specific flex request. If the employee already has a flex signup for the same shift timeline and date, the flex request will be added to the existing signup only if the request properties match those of the other request(s). The matching properties are: shift timeline ID, date, start time, end time, break start time, break end time, and expertise profile ID.'
      operationId: moves.FlexSignupAPI.create
      requestBody:
        description: The employee ID and flex request ID to create a signup
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/moves.FlexSignupRequest'
        required: true
      responses:
        '200':
          description: Flex signup created or updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.FlexSignup'
        '400':
          description: Bad request - validation errors, employee already signed up, or resource not found
        '401':
          description: Unauthorized - authentication required
      x-cupido-common-method: true
      x-replacement-for:
      - /t/moves/flex_signups
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    moves.FlexSignupRequest:
      title: moves.FlexSignupRequest
      required:
      - employeeId
      - flexRequestId
      type: object
      properties:
        employeeId:
          type: string
          description: The external ID of the employee
          example: EMP123
        flexRequestId:
          type: integer
          description: The ID of the flex request to sign up for
          format: int64
          example: 456
      description: FlexSignupRequest model (no description)
      example:
        employeeId: EMP123
        flexRequestId: 456
    moves.FlexSignup:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        date:
          type: string
          format: date
        shiftId:
          type: string
        employeeId:
          type: integer
          format: int64
        employeeLeadingName:
          type: string
        employeeName:
          type: string
        suggested:
          type: boolean
        struckOut:
          type: boolean
        signedUpAt:
          type: string
          format: date-time
      description: FlexSignup model (no description)
      example:
        id: 1
        date: '1999-12-31'
        shiftId: 1@2014-03-28
        employeeId: 1
        employeeLeadingName: Jan Henk
        employeeName: Jan Henk Heilersig
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
