openapi: 3.2.0
info:
  title: Nedap Agenda.Label API
  version: 0.0.0
  description: 'Operations tagged agenda.Label across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: agenda.Label
paths:
  /t/agenda/labels:
    get:
      tags:
      - agenda.Label
      summary: Returns every Label available from the LabelAPI
      description: List appointment labels currently available
      operationId: agenda.LabelAPI.all
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agenda.list.LabelList'
      x-cupido-common-method: true
      x-replaced-by: /v0/agenda/labels
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/agenda/labels:
    get:
      tags:
      - agenda.Label
      summary: Returns every Label available from the LabelAPI
      description: List appointment labels currently available
      operationId: agenda.LabelAPI.all
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agenda.list.LabelList'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/agenda/labels
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    agenda.Label:
      title: Label
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        name:
          type: string
      description: Domain model for Labels for AgendaOccurrences/AgendaSeries
      example:
        id: 1
        name: Telefonisch
    agenda.list.LabelList:
      title: LabelList
      type: object
      properties:
        labels:
          type: array
          items:
            $ref: '#/components/schemas/agenda.Label'
      description: LabelList model (no description)
      example:
        labels:
        - id: 1
          name: Telefonisch
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
