openapi: 3.2.0
info:
  title: Nedap Moves.Membership API
  version: 0.0.0
  description: 'Operations tagged moves.Membership across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: moves.Membership
paths:
  /t/moves/memberships/x-stream-connect/data:
    get:
      tags:
      - moves.Membership
      summary: Return all Membership models in a streaming manner
      operationId: moves.MembershipAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.list.MembershipList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/moves.Membership'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/memberships/data
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/moves/memberships/x-stream-connect/deletes:
    get:
      tags:
      - moves.Membership
      summary: Return all Membership models which where deleted since the date given in the…
      description: 'If no date is

        given it will return all deleted Membership models'
      operationId: moves.MembershipAPI.streamDeletes
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.list.MembershipList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/moves.Membership'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/memberships/deletes
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/moves/memberships/x-stream-connect/updates:
    get:
      tags:
      - moves.Membership
      summary: Return all Membership models which where updated since the date given in the…
      operationId: moves.MembershipAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.list.MembershipList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/moves.Membership'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/memberships/updates
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/memberships/data:
    get:
      tags:
      - moves.Membership
      summary: Return all Membership models in a streaming manner
      operationId: moves.MembershipAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.list.MembershipList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/moves.Membership'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/moves/memberships/x-stream-connect/data
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/memberships/deletes:
    get:
      tags:
      - moves.Membership
      summary: Return all Membership models which where deleted since the date given in the…
      description: 'If no date is

        given it will return all deleted Membership models'
      operationId: moves.MembershipAPI.streamDeletes
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.list.MembershipList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/moves.Membership'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/moves/memberships/x-stream-connect/deletes
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/memberships/updates:
    get:
      tags:
      - moves.Membership
      summary: Return all Membership models which where updated since the date given in the…
      operationId: moves.MembershipAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.list.MembershipList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/moves.Membership'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/moves/memberships/x-stream-connect/updates
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    moves.list.MembershipList:
      type: object
      properties:
        memberships:
          type: array
          items:
            $ref: '#/components/schemas/moves.Membership'
          xml:
            name: membership
      description: MembershipList model (no description)
      example:
        memberships:
        - id: 1
          unitId: 85
          externalEmployeeId: 421
          movesEmployeeId: 221
          externalId: 24
          validFrom: '1999-12-27'
          validTo: '2015-12-27'
          hidden: true
      xml:
        name: memberships
    moves.Membership:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        unitId:
          type: integer
          format: int64
        externalEmployeeId:
          type: integer
          format: int64
        movesEmployeeId:
          type: integer
          format: int64
        externalId:
          type: integer
          format: int64
        validFrom:
          type: string
          format: date
        validTo:
          type: string
          format: date
        hidden:
          type: boolean
      description: Membership model (no description)
      example:
        id: 1
        unitId: 85
        externalEmployeeId: 421
        movesEmployeeId: 221
        externalId: 24
        validFrom: '1999-12-27'
        validTo: '2015-12-27'
        hidden: true
      xml:
        name: membership
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
