openapi: 3.2.0
info:
  title: Nedap Harmony.Zorgdomein Fhir Connector API
  version: 0.0.0
  description: 'Operations tagged harmony.ZorgdomeinFhirConnector across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: harmony.ZorgdomeinFhirConnector
paths:
  /t/harmony/zorgdomein/fhir/connector/bundle_wrapper:
    post:
      tags:
      - harmony.ZorgdomeinFhirConnector
      summary: Create BundleWrapper
      description: The bundle contains a single field `data` that contains serialized JSON. The response is an empty JSON object.
      operationId: harmony.ZorgdomeinFhirConnectorAPI.create
      requestBody:
        description: BundleWrapper to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/harmony.BundleWrapper'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/harmony.BundleWrapper'
        '409':
          description: Validation errors or Bundle parse errors that prevent the Bundle to be processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/harmony.JsonResponseDto'
        '412':
          description: Bundle processing precondition failed (eg. wrong customer code as preferred identifier)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/harmony.BundleWrapper'
        '422':
          description: Bundle parse error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/harmony.BundleWrapper'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/harmony.BundleWrapper'
      x-cupido-common-method: true
      x-replaced-by: /v0/ketenverkeer/fhir/r3/bundle_wrapper
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/ketenverkeer/fhir/r3/bundle_wrapper:
    post:
      tags:
      - harmony.ZorgdomeinFhirConnector
      summary: Create BundleWrapper
      description: The bundle contains a single field `data` that contains serialized JSON. The response is an empty JSON object.
      operationId: harmony.ZorgdomeinFhirConnectorAPI.create
      requestBody:
        description: BundleWrapper to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/harmony.BundleWrapper'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/harmony.BundleWrapper'
        '409':
          description: Validation errors or Bundle parse errors that prevent the Bundle to be processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/harmony.JsonResponseDto'
        '412':
          description: Bundle processing precondition failed (eg. wrong customer code as preferred identifier)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/harmony.BundleWrapper'
        '422':
          description: Bundle parse error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/harmony.BundleWrapper'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/harmony.BundleWrapper'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/harmony/zorgdomein/fhir/connector/bundle_wrapper
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    harmony.ZorgdomeinFhirConnector:
      required:
      - data
      type: object
      properties:
        data:
          type: string
          description: 'Data from original hl7 fhir dstu3 bundle

            Contains JSON'
      description: This object can be used to transport HL7 FHIR dstu3 bundle data to Ketenverkeer (Harmony).
      example:
        data: bundlejson
    harmony.JsonResponseDto:
      required:
      - status
      type: object
      properties:
        details:
          type: string
        status:
          type: integer
          format: int32
      description: harmony.JsonResponseDto model (no description)
      example:
        details: Validation error
        status: 1
    harmony.BundleWrapper:
      type: object
      allOf:
      - $ref: '#/components/schemas/harmony.ZorgdomeinFhirConnector'
      description: BundleWrapper model (no description)
      example:
        data: bundlejson
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
