openapi: 3.2.0
info:
  title: Nedap Payroll.Collective Agreement Rule API
  version: 0.0.0
  description: 'Operations tagged payroll.CollectiveAgreementRule across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: payroll.CollectiveAgreementRule
paths:
  /t/payroll/collective_agreement_rules/{id}:
    get:
      tags:
      - payroll.CollectiveAgreementRule
      operationId: payroll.CollectiveAgreementRuleAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting ColllectiveAgreementRule
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payroll.CollectiveAgreementRule'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/collective_agreement_rules/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
      summary: Payroll collective agreement rule API by id
      x-summary-source: derived
    servers:
    - url: https://api-development.ons.io
  /t/payroll/collective_agreements/{collective_agreement_id}/collective_agreement_rules:
    get:
      tags:
      - payroll.CollectiveAgreementRule
      summary: Return the CollectiveAgreementRules of an employee corresponding to the given id
      operationId: payroll.CollectiveAgreementRuleAPI.byCollectiveAgreementId
      parameters:
      - name: collective_agreement_id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payroll.list.CollectiveAgreementRuleList'
      x-replaced-by: /v0/administration/collective_agreement_rules/by_collective_agreement_id/{collective_agreement_id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/collective_agreement_rules/{id}:
    get:
      tags:
      - payroll.CollectiveAgreementRule
      operationId: payroll.CollectiveAgreementRuleAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting ColllectiveAgreementRule
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payroll.CollectiveAgreementRule'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/payroll/collective_agreement_rules/{id}
      summary: Payroll collective agreement rule API by id
      x-summary-source: derived
    servers:
    - url: https://api-development.ons.io
  /v0/administration/collective_agreement_rules/by_collective_agreement_id/{collective_agreement_id}:
    get:
      tags:
      - payroll.CollectiveAgreementRule
      summary: Return the CollectiveAgreementRules of an employee corresponding to the given id
      operationId: payroll.CollectiveAgreementRuleAPI.byCollectiveAgreementId
      parameters:
      - name: collective_agreement_id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payroll.list.CollectiveAgreementRuleList'
      x-replacement-for:
      - /t/payroll/collective_agreements/{collective_agreement_id}/collective_agreement_rules
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    payroll.list.CollectiveAgreementRuleList:
      type: object
      properties:
        collectiveAgreementRules:
          type: array
          items:
            $ref: '#/components/schemas/payroll.CollectiveAgreementRule'
      description: CollectiveAgreementRuleList model (no description)
      example:
        collectiveAgreementRules:
        - id: 1
          collectiveAgreementId: 1
          beginDate: '2015-01-01'
          endDate: '2020-01-01'
          calculateTravelTime: true
    payroll.CollectiveAgreementRule:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        collectiveAgreementId:
          type: integer
          format: int64
        beginDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        calculateTravelTime:
          type: boolean
      description: 'CollectiveAgreementRule model


        Created on 06/05/21.'
      example:
        id: 1
        collectiveAgreementId: 1
        beginDate: '2015-01-01'
        endDate: '2020-01-01'
        calculateTravelTime: true
      xml:
        name: collectiveAgreementRule
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
