openapi: 3.2.0
info:
  title: Nedap Transport.Client Transport API
  version: 0.0.0
  description: 'Operations tagged transport.ClientTransport across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: transport.ClientTransport
paths:
  /t/transport/client_transport/by_client/{client_id}:
    get:
      tags:
      - transport.ClientTransport
      summary: Find the ClientTransport information for a given client on the given date
      operationId: transport.ClientTransportAPI.byClientIdAtDate
      parameters:
      - name: client_id
        in: path
        description: id of client for which the ClientTransport should be retrieved
        required: true
        schema:
          type: integer
          format: int64
      - name: date
        in: query
        description: date for which the ClientTransport should be retrieved
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transport.ClientTransport'
        '400':
          description: Client ID and date are required
      x-replaced-by: /v0/administration/transport/client_transport/by_client/{client_id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/transport/client_transport/by_client/{client_id}:
    get:
      tags:
      - transport.ClientTransport
      summary: Find the ClientTransport information for a given client on the given date
      operationId: transport.ClientTransportAPI.byClientIdAtDate
      parameters:
      - name: client_id
        in: path
        description: id of client for which the ClientTransport should be retrieved
        required: true
        schema:
          type: integer
          format: int64
      - name: date
        in: query
        description: date for which the ClientTransport should be retrieved
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transport.ClientTransport'
        '400':
          description: Client ID and date are required
      x-replacement-for:
      - /t/transport/client_transport/by_client/{client_id}
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    transport.ClientTransport:
      required:
      - clientId
      - date
      - individualTransport
      - hasWeelchairAssignment
      - wlz
      - hourTypes
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        clientId:
          type: integer
          description: Id of {@link com.nedap.healthcare.domain.Client} for which these details are valid
          format: int64
        date:
          type: string
          description: Date for which the transport details for the given client is retrieved
          format: date
        individualTransport:
          type: boolean
          description: Is individual transport needed for this client at the given date
          default: false
        hasWeelchairAssignment:
          type: boolean
          description: Has this client a wheelchair assigned at the given date
          default: false
        wlz:
          type: boolean
          description: Receives this client WLZ care at the given date
          default: false
        contractedTransport:
          type: boolean
          description: Indicates whether the client uses contracted transport
          default: false
        hourTypes:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/HourType'
          description: Set of all {@link HourType} instances that can be used for this client
          xml:
            wrapped: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      description: ClientTransport the transport details for a client, financed in the WLZ, on a certain date
      example:
        id: 1
        clientId: 3
        date: '2018-01-01'
        individualTransport: false
        hasWeelchairAssignment: false
        wlz: false
        contractedTransport: true
        hourTypes:
        - id: 1
          description: Vervoer dagbesteding ghz - cat 1
          identificationNo: '881'
          activityGroupObjectId: 1
          active: true
          payrolling: true
          direct: true
          systemDefined: true
          travelTime: true
          activityType: Payrolling
          groupCare: true
          travelCalculationDisabled: false
        - id: 2
          description: Vervoer dagbesteding ghz - cat 2
          identificationNo: '882'
          activityGroupObjectId: 1
          active: true
          payrolling: true
          direct: true
          systemDefined: true
          travelTime: true
          activityType: Payrolling
          groupCare: true
          travelCalculationDisabled: false
        createdAt: '2018-01-01T01:02:03.000+01:00'
        updatedAt: '2018-01-01T01:02:03.000+01:00'
      xml:
        name: clientTransport
    HourType:
      type: object
      properties:
        id:
          type: integer
          description: An unique ID of this hourtype
          format: int64
          x-cupido-id: true
        description:
          type: string
          description: A description of this hourtype
        identificationNo:
          type: string
        activityGroupObjectId:
          type: integer
          format: int64
        externalCode3:
          type: string
        active:
          type: boolean
          description: Indicates if the hourtype is active and can be used in presencelogs
        payrolling:
          type: boolean
        direct:
          type: boolean
          description: Indicates if the hourtype is for client time a.k.a. direct time
        systemDefined:
          type: boolean
        travelTime:
          type: boolean
        activityType:
          type: string
        groupCare:
          type: boolean
          description: Indicates if the hourtype is meant for group care
        transport:
          type: boolean
        quantityBased:
          type: boolean
        directAllowed:
          type: boolean
          description: Indicates it is allowed to write direct clienttime on a presence log with this hourtype
        indirectAllowed:
          type: boolean
          description: Indicates it is allowed to write indirect clienttime on a presence log with this hourtype
        travelAllowed:
          type: boolean
          description: Indicates it is allowed to write travel clienttime on a presence log with this hourtype
        noShow:
          type: boolean
          description: Indicates if the hour type is a no show hourtype
        snomedCode:
          type: string
          description: Corresponding snomed code used for data exchange with zibs
        travelCalculationDisabled:
          type: boolean
          description: When set to true, this hourtype will not be used in travel calculations like travel time or distances
        absenceAllowed:
          type: boolean
          description: Indicates if client(s) are allowed to be partially absent during an activity with this hourtype
        splitHourtype:
          type: boolean
          description: When set to true, this hourtype will be divided in Administration
      description: A.K.A. Activity.
      example:
        id: 1
        description: Activiteiten begeleiding - patiëntgebonden handelen
        identificationNo: '194822'
        activityGroupObjectId: 1
        externalCode3: '3'
        active: true
        payrolling: true
        direct: true
        systemDefined: false
        travelTime: false
        activityType: Payrolling
        groupCare: false
        transport: false
        quantityBased: true
        directAllowed: true
        indirectAllowed: true
        travelAllowed: true
        noShow: true
        snomedCode: '1234'
        travelCalculationDisabled: false
        absenceAllowed: false
        splitHourtype: false
      xml:
        name: hourType
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
