openapi: 3.2.0
info:
  title: Nedap Openehr.Item Tag API
  version: 0.0.0
  description: 'Operations tagged openehr.ItemTag across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: openehr.ItemTag
paths:
  /t/openehr/composition_wrappers/{versioned_composition_id}/item_tags:
    post:
      tags:
      - openehr.ItemTag
      summary: Creates an item tag for a spesific versioned composition and returns the…
      operationId: openehr.ItemTagAPI.create
      parameters:
      - name: versioned_composition_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: module_uuid[]
        in: query
        description: UUID's of modules that the archetypes of the requested compositions should belong to
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: X-Chiron-Skip-Authorization
        in: header
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/openehr.ItemTag'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.ItemTag'
        '400':
          description: Composition cannot contain item tags with duplicate keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Composition could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-cupido-common-method: true
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/{versioned_composition_id}/item_tags
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/openehr/composition_wrappers/{versioned_composition_id}/item_tags/delete:
    post:
      tags:
      - openehr.ItemTag
      summary: Deletes item tag for a versioned composition
      operationId: openehr.ItemTagAPI.delete
      parameters:
      - name: versioned_composition_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: module_uuid[]
        in: query
        description: UUID's of modules that the archetypes of the requested compositions should belong to
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: X-Chiron-Skip-Authorization
        in: header
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/openehr.ItemTag'
        required: true
      responses:
        '200':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.ItemTag'
        '400':
          description: 'Item tag payload invalid: only key and targetPath are allowed, and key must be provided.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Composition or item tag key cannot be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-cupido-common-method: true
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/{versioned_composition_id}/item_tags/delete
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/{versioned_composition_id}/item_tags:
    post:
      tags:
      - openehr.ItemTag
      summary: Creates an item tag for a spesific versioned composition and returns the…
      operationId: openehr.ItemTagAPI.create
      parameters:
      - name: versioned_composition_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: module_uuid[]
        in: query
        description: UUID's of modules that the archetypes of the requested compositions should belong to
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: X-Chiron-Skip-Authorization
        in: header
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/openehr.ItemTag'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.ItemTag'
        '400':
          description: Composition cannot contain item tags with duplicate keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Composition could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/openehr/composition_wrappers/{versioned_composition_id}/item_tags
    servers:
    - url: https://api-development.ons.io
  /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/{versioned_composition_id}/item_tags/delete:
    post:
      tags:
      - openehr.ItemTag
      summary: Deletes item tag for a versioned composition
      operationId: openehr.ItemTagAPI.delete
      parameters:
      - name: versioned_composition_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: module_uuid[]
        in: query
        description: UUID's of modules that the archetypes of the requested compositions should belong to
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: X-Chiron-Skip-Authorization
        in: header
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/openehr.ItemTag'
        required: true
      responses:
        '200':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.ItemTag'
        '400':
          description: 'Item tag payload invalid: only key and targetPath are allowed, and key must be provided.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Composition or item tag key cannot be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/openehr/composition_wrappers/{versioned_composition_id}/item_tags/delete
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    ErrorResponse:
      title: ErrorResponse
      type: object
      properties:
        errorResponseEntries:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseEntry'
          xml:
            wrapped: true
      description: Error response model
      example:
        errorResponseEntries:
        - field: one
          value: a
          message: field can not be empty
        - field: two
          value: a
          message: too short
    openehr.ItemTag:
      required:
      - key
      type: object
      properties:
        id:
          type: integer
          format: int64
        key:
          type: string
          description: The tag key. May not be empty or contain leading or trailing whitespace.
        value:
          type: string
          description: The value. If set, may not be empty.
        targetPath:
          type: string
          description: Optional archetype or RM path within target, used to tag a fine-grained element.
      description: OpenEHR ItemTag, which is a tag with a key and optional value that is associated with a target ReferenceModelObjectWrapper.
      example:
        id: 59
        key: important
        value: value
        targetPath: /content[id0.1]/data[id2]/events[id3]/data[id4]/items[id5]
    ErrorResponseEntry:
      title: ErrorResponseEntry
      type: object
      properties:
        field:
          type: string
        value:
          type: string
        message:
          type: string
      description: Error response entry model
      example:
        field: one
        value: empty
        message: field can not be empty
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
