openapi: 3.2.0
info:
  title: Nedap Expertise Group API
  version: 0.0.0
  description: 'Operations tagged ExpertiseGroup across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: ExpertiseGroup
paths:
  /t/expertise_groups:
    get:
      tags:
      - ExpertiseGroup
      summary: Returns every ExpertiseGroup available from the ExpertiseGroupAPI
      operationId: ExpertiseGroupAPI.all
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseGroupList'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/expertise_groups
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/expertise_groups/{id}:
    get:
      tags:
      - ExpertiseGroup
      summary: Returns the ExpertiseGroup corresponding to the given id
      operationId: ExpertiseGroupAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting ExpertiseGroup
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpertiseGroup'
        '404':
          description: Expertise group not found
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/expertise_groups/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/expertise_groups/multiple:
    get:
      tags:
      - ExpertiseGroup
      summary: Method used for requesting multiple ExpertiseGroup objects using their ids
      operationId: ExpertiseGroupAPI.multiple
      parameters:
      - name: id
        in: query
        description: 'array style id''s: id=1&id=2&etc'
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseGroupList'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/expertise_groups/multiple
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/expertise_groups/x-stream-connect/data:
    get:
      tags:
      - ExpertiseGroup
      summary: Return all ExpertiseGroup models in a streaming manner
      operationId: ExpertiseGroupAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseGroupList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/ExpertiseGroup'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/expertise_groups/data
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/expertise_groups/x-stream-connect/updates:
    get:
      tags:
      - ExpertiseGroup
      summary: Return all ExpertiseGroup models which where updated since the date given in…
      operationId: ExpertiseGroupAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseGroupList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/ExpertiseGroup'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/expertise_groups/updates
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/expertise_groups:
    get:
      tags:
      - ExpertiseGroup
      summary: Returns every ExpertiseGroup available from the ExpertiseGroupAPI
      operationId: ExpertiseGroupAPI.all
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseGroupList'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/expertise_groups
    servers:
    - url: https://api-development.ons.io
  /v0/administration/expertise_groups/{id}:
    get:
      tags:
      - ExpertiseGroup
      summary: Returns the ExpertiseGroup corresponding to the given id
      operationId: ExpertiseGroupAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting ExpertiseGroup
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpertiseGroup'
        '404':
          description: Expertise group not found
      x-cupido-common-method: true
      x-replacement-for:
      - /t/expertise_groups/{id}
    servers:
    - url: https://api-development.ons.io
  /v0/administration/expertise_groups/multiple:
    get:
      tags:
      - ExpertiseGroup
      summary: Method used for requesting multiple ExpertiseGroup objects using their ids
      operationId: ExpertiseGroupAPI.multiple
      parameters:
      - name: id
        in: query
        description: 'array style id''s: id=1&id=2&etc'
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseGroupList'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/expertise_groups/multiple
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/expertise_groups/data:
    get:
      tags:
      - ExpertiseGroup
      summary: Return all ExpertiseGroup models in a streaming manner
      operationId: ExpertiseGroupAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseGroupList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/ExpertiseGroup'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/expertise_groups/x-stream-connect/data
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/expertise_groups/updates:
    get:
      tags:
      - ExpertiseGroup
      summary: Return all ExpertiseGroup models which where updated since the date given in…
      operationId: ExpertiseGroupAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseGroupList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/ExpertiseGroup'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/expertise_groups/x-stream-connect/updates
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    ExpertiseProfile:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        description:
          type: string
        visible:
          type: boolean
        beginDate:
          type: string
          description: 'Deprecated since: 2024-05-14, unused, always empty'
          format: date-time
          deprecated: true
          x-deprecated-since: 14-05-2024
        endDate:
          type: string
          description: 'Deprecated since: 2024-05-14, unused, always empty'
          format: date-time
          deprecated: true
          x-deprecated-since: 14-05-2024
        allowDossierActions:
          type: boolean
        allowDossierConfidential:
          type: boolean
        hourTypeIds:
          type: array
          items:
            type: integer
            description: List of Ids of {@link HourType}s assigned to this expertise profile
            format: int64
            xml:
              name: hourTypeId
          description: List of Ids of {@link HourType}s assigned to this expertise profile
          xml:
            wrapped: true
      description: Model is used to check to see if a person can be connected to a certain {@link HourType}.
      example:
        id: 5
        description: Helpenden
        visible: true
        beginDate: '2015-01-01T12:00:00.000+01:00'
        endDate: '2020-01-01T12:00:00.000+01:00'
        allowDossierActions: true
        allowDossierConfidential: false
        hourTypeIds:
        - 1
        - 2
        - 3
    ExpertiseGroup:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        parentObjectid:
          type: integer
          format: int64
        name:
          type: string
        beginDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        expertiseProfiles:
          type: array
          items:
            $ref: '#/components/schemas/ExpertiseProfile'
          xml:
            wrapped: true
      description: Model is used to group {@link ExpertiseProfile}'s, with possibly other {@link ExpertiseGroup}'s as parent/children.
      example:
        id: 2
        parentObjectid: 1
        name: Alle helpenden
        beginDate: '2016-01-01'
        endDate: '2021-12-31'
        expertiseProfiles:
        - id: 5
          description: Helpenden A
          visible: true
          beginDate: '2015-01-01T12:00:00.000+01:00'
          endDate: '2020-01-01T12:00:00.000+01:00'
          allowDossierActions: true
          allowDossierConfidential: false
        - id: 6
          description: Helpenden B
          visible: true
          beginDate: '2015-01-01T12:00:00.000+01:00'
          endDate: '2020-01-01T12:00:00.000+01:00'
          allowDossierActions: true
          allowDossierConfidential: false
      xml:
        name: expertiseGroup
    list.ExpertiseGroupList:
      type: object
      properties:
        expertiseGroups:
          type: array
          items:
            $ref: '#/components/schemas/ExpertiseGroup'
          xml:
            name: expertiseGroup
      description: ExpertiseGroupList model (no description)
      example:
        expertiseGroups:
        - id: 1
          name: Alphahulp
          beginDate: '2016-01-01'
          endDate: '2021-12-31'
          expertiseProfiles:
          - id: 5
            description: Helpenden A
            visible: true
            beginDate: '2015-01-01T12:00:00.000+01:00'
            endDate: '2020-01-01T12:00:00.000+01:00'
            allowDossierActions: true
            allowDossierConfidential: false
          - id: 6
            description: Helpenden B
            visible: true
            beginDate: '2015-01-01T12:00:00.000+01:00'
            endDate: '2020-01-01T12:00:00.000+01:00'
            allowDossierActions: true
            allowDossierConfidential: false
      xml:
        name: expertiseGroups
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
