openapi: 3.2.0
info:
  title: Nedap Client Story.Story API
  version: 0.0.0
  description: 'Operations tagged client_story.Story across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: client_story.Story
paths:
  /t/client_story/authorized/images/by_client_id_and_reference:
    get:
      tags:
      - client_story.Story
      summary: Authorized api Return a base64 encoded string of the image that is identified…
      operationId: client_story.StoryAPI.authorizedImageByClientIdAndReference
      parameters:
      - name: client_id
        in: query
        description: The client the image belongs to
        required: true
        schema:
          type: string
      - name: reference
        in: query
        description: The reference of the image
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            text/plain:
              schema:
                type: string
      x-replaced-by: /v0/client_story/authorized/clients/{client_id}/client_story/images
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/client_story/authorized_stories/full_by_client/{client_id}:
    get:
      tags:
      - client_story.Story
      summary: Return the full client story for the given client id
      description: Checks the ClientStoryOverview right and generates an audit.
      operationId: client_story.StoryAPI.authorizedFullByClient
      parameters:
      - name: client_id
        in: path
        description: The ID of the client
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_story.Story'
      x-replaced-by: /v0/client_story/authorized/stories/full_by_client/{client_id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/client_story/care_relations/request_for_client/{client_id}:
    post:
      tags:
      - client_story.Story
      summary: Get permission for the current careprovider to view the client story
      operationId: client_story.StoryAPI.createPermission
      parameters:
      - name: client_id
        in: path
        description: The ID of the client
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            text/plain:
              schema:
                type: string
      x-replaced-by: /v0/client_story/care_relations/request_for_client/{client_id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/client_story/images/by_client_id_and_reference:
    get:
      tags:
      - client_story.Story
      summary: Return a base64 encoded string of the image that is identified by the given…
      operationId: client_story.StoryAPI.imageByClientIdAndReference
      parameters:
      - name: client_id
        in: query
        description: The client the image belongs to
        required: true
        schema:
          type: string
      - name: reference
        in: query
        description: The reference of the image
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            text/plain:
              schema:
                type: string
      x-replaced-by: /v0/client_story/clients/{client_id}/client_story/images
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/client_story/stories/by_client/{client_id}:
    put:
      tags:
      - client_story.Story
      summary: Save updates to the story of the client incrementally
      operationId: client_story.StoryAPI.saveAnswer
      parameters:
      - name: client_id
        in: path
        description: The ID of the client
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: The story of the client
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/client_story.Story'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_story.Story'
      x-replaced-by: /v0/client_story/stories/by_client/{client_id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/client_story/stories/full_by_client/{client_id}:
    get:
      tags:
      - client_story.Story
      summary: Return the full client story for the given client id
      operationId: client_story.StoryAPI.fullByClient
      parameters:
      - name: client_id
        in: path
        description: The ID of the client
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_story.Story'
      x-replaced-by: /v0/client_story/stories/full_by_client/{client_id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/client_story/stories/single_answer_full_by_client/{client_id}:
    get:
      tags:
      - client_story.Story
      summary: Return the full client story for the given client id Collapses the full json…
      operationId: client_story.StoryAPI.singleAnswerFullByClient
      parameters:
      - name: client_id
        in: path
        description: The ID of the client
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_story.Story'
      x-replaced-by: /v0/client_story/stories/single_answer_full_by_client/{client_id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/client_story/authorized/clients/{client_id}/client_story/images:
    get:
      tags:
      - client_story.Story
      summary: Authorized api Return a base64 encoded string of the image that is identified…
      operationId: client_story.StoryAPI.authorizedImageByClientIdAndReference
      parameters:
      - name: client_id
        in: path
        description: The client the image belongs to
        required: true
        schema:
          type: string
        x-original-parameter:
          in: query
      - name: reference
        in: query
        description: The reference of the image
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            text/plain:
              schema:
                type: string
      x-replacement-for:
      - /t/client_story/authorized/images/by_client_id_and_reference
    servers:
    - url: https://api-development.ons.io
  /v0/client_story/authorized/stories/full_by_client/{client_id}:
    get:
      tags:
      - client_story.Story
      summary: Return the full client story for the given client id
      description: Checks the ClientStoryOverview right and generates an audit.
      operationId: client_story.StoryAPI.authorizedFullByClient
      parameters:
      - name: client_id
        in: path
        description: The ID of the client
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_story.Story'
      x-replacement-for:
      - /t/client_story/authorized_stories/full_by_client/{client_id}
    servers:
    - url: https://api-development.ons.io
  /v0/client_story/care_relations/request_for_client/{client_id}:
    post:
      tags:
      - client_story.Story
      summary: Get permission for the current careprovider to view the client story
      operationId: client_story.StoryAPI.createPermission
      parameters:
      - name: client_id
        in: path
        description: The ID of the client
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            text/plain:
              schema:
                type: string
      x-replacement-for:
      - /t/client_story/care_relations/request_for_client/{client_id}
    servers:
    - url: https://api-development.ons.io
  /v0/client_story/clients/{client_id}/client_story/images:
    get:
      tags:
      - client_story.Story
      summary: Return a base64 encoded string of the image that is identified by the given…
      operationId: client_story.StoryAPI.imageByClientIdAndReference
      parameters:
      - name: client_id
        in: path
        description: The client the image belongs to
        required: true
        schema:
          type: string
        x-original-parameter:
          in: query
      - name: reference
        in: query
        description: The reference of the image
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            text/plain:
              schema:
                type: string
      x-replacement-for:
      - /t/client_story/images/by_client_id_and_reference
    servers:
    - url: https://api-development.ons.io
  /v0/client_story/stories/by_client/{client_id}:
    put:
      tags:
      - client_story.Story
      summary: Save updates to the story of the client incrementally
      operationId: client_story.StoryAPI.saveAnswer
      parameters:
      - name: client_id
        in: path
        description: The ID of the client
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: The story of the client
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/client_story.Story'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_story.Story'
      x-replacement-for:
      - /t/client_story/stories/by_client/{client_id}
    servers:
    - url: https://api-development.ons.io
  /v0/client_story/stories/full_by_client/{client_id}:
    get:
      tags:
      - client_story.Story
      summary: Return the full client story for the given client id
      operationId: client_story.StoryAPI.fullByClient
      parameters:
      - name: client_id
        in: path
        description: The ID of the client
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_story.Story'
      x-replacement-for:
      - /t/client_story/stories/full_by_client/{client_id}
    servers:
    - url: https://api-development.ons.io
  /v0/client_story/stories/single_answer_full_by_client/{client_id}:
    get:
      tags:
      - client_story.Story
      summary: Return the full client story for the given client id Collapses the full json…
      operationId: client_story.StoryAPI.singleAnswerFullByClient
      parameters:
      - name: client_id
        in: path
        description: The ID of the client
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_story.Story'
      x-replacement-for:
      - /t/client_story/stories/single_answer_full_by_client/{client_id}
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    client_story.Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        definition:
          type: string
          description: A short description of this category
        description:
          type: string
          description: A longer description of this category
        answers:
          type: array
          items:
            $ref: '#/components/schemas/client_story.Answer'
          description: A list of answers in this category
      description: Category model (no description)
      example:
        id: 1
        definition: Interesses
        description: Interesses van de client
        answers:
        - id: 1
          schema: '{"type":"object","properties":{"/content[id3]/data[id4]/events[id5]/data[id6]/items[id65]/items[id2]":{"title":"Mijn favoriete gerecht is","description":"","type":"string"}}}'
          data: '{"/content[id3]/data[id4]/events[id5]/data[id6]/items[id65]/items[id2]":"Spare ribs"}'
    client_story.AccessLevel:
      enum:
      - NONE
      - READ_ONLY
      - READ_WRITE
      type: string
      description: The access level of the story, can be NONE, READ_ONLY, or READ_WRITE
      example: NONE
    client_story.Answer:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        schema:
          type: string
          description: The JsonSchemaForm representation of this answer
        data:
          type: string
          description: The JsonSchemaForm data for this answer
      description: Answer model (no description)
      example:
        id: 1
        schema: '{"type":"object","properties":{"/content[id3]/data[id4]/events[id5]/data[id6]/items[id65]/items[id2]":{"title":"Mijn favoriete gerecht is","description":"","type":"string"}}}'
        data: '{"/content[id3]/data[id4]/events[id5]/data[id6]/items[id65]/items[id2]":"Spare ribs"}'
    client_story.Story:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        categories:
          type: array
          items:
            $ref: '#/components/schemas/client_story.Category'
          description: A list of categories in this client story
        accessLevel:
          allOf:
          - $ref: '#/components/schemas/client_story.AccessLevel'
          description: The access level of the story, can be NONE, READ_ONLY, or READ_WRITE
        updatedAt:
          type: string
          description: When this story was last updated
          format: date-time
        updatedSource:
          type: string
          description: The deployment that last updated this story
        updatedBy:
          type: integer
          description: Who the story was last updated by
          format: int64
      description: Story model (no description)
      example:
        id: 1
        categories:
        - id: 1
          definition: Interesses
          description: Interesses van de client
          answers:
          - id: 1
            schema: '{"type":"object","properties":{"/content[id3]/data[id4]/events[id5]/data[id6]/items[id65]/items[id2]":{"title":"Mijn favoriete gerecht is","description":"","type":"string"}}}'
            data: '{"/content[id3]/data[id4]/events[id5]/data[id6]/items[id65]/items[id2]":"Spare ribs"}'
        accessLevel: READ_ONLY
        updatedAt: '2019-05-09T00:00:00.000+02:00'
        updatedSource: CarenDeployment
        updatedBy: 1
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
