openapi: 3.2.0
info:
  title: Nedap Moves.Employee Planning API
  version: 0.0.0
  description: 'Operations tagged moves.EmployeePlanning across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: moves.EmployeePlanning
paths:
  /t/employee_planning/employees/{employee_id}/planning:
    get:
      tags:
      - moves.EmployeePlanning
      summary: Returns the Planning for the given Employee for the requested period
      operationId: moves.EmployeePlanningAPI.planningByEmployeeId
      parameters:
      - name: employee_id
        in: path
        description: The {id} of the requested Employee
        required: true
        schema:
          type: integer
          format: int64
      - name: date
        in: query
        description: The start date of the period.
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.EmployeePlanning'
      x-replaced-by: /v0/plannen_roosteren/employees/{employee_id}/planning
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/employee_planning/employees/{employee_id}/roster:
    get:
      tags:
      - moves.EmployeePlanning
      summary: Returns the Roster for the given Employee for the requested period
      operationId: moves.EmployeePlanningAPI.rosterByEmployeeId
      parameters:
      - name: employee_id
        in: path
        description: The {id} of the requested Employee
        required: true
        schema:
          type: integer
          format: int64
      - name: from
        in: query
        description: The start date of the period.
        required: true
        schema:
          type: string
          format: date
      - name: to
        in: query
        description: The end date of the period (exclusive).
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.list.EmployeeRosterDayList'
      x-replaced-by: /v0/plannen_roosteren/employees/{employee_id}/roster
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/plannen_roosteren/employees/{employee_id}/planning:
    get:
      tags:
      - moves.EmployeePlanning
      summary: Returns the Planning for the given Employee for the requested period
      operationId: moves.EmployeePlanningAPI.planningByEmployeeId
      parameters:
      - name: employee_id
        in: path
        description: The {id} of the requested Employee
        required: true
        schema:
          type: integer
          format: int64
      - name: date
        in: query
        description: The start date of the period.
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.EmployeePlanning'
      x-replacement-for:
      - /t/employee_planning/employees/{employee_id}/planning
    servers:
    - url: https://api-development.ons.io
  /v0/plannen_roosteren/employees/{employee_id}/roster:
    get:
      tags:
      - moves.EmployeePlanning
      summary: Returns the Roster for the given Employee for the requested period
      operationId: moves.EmployeePlanningAPI.rosterByEmployeeId
      parameters:
      - name: employee_id
        in: path
        description: The {id} of the requested Employee
        required: true
        schema:
          type: integer
          format: int64
      - name: from
        in: query
        description: The start date of the period.
        required: true
        schema:
          type: string
          format: date
      - name: to
        in: query
        description: The end date of the period (exclusive).
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.list.EmployeeRosterDayList'
      x-replacement-for:
      - /t/employee_planning/employees/{employee_id}/roster
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    moves.list.EmployeeRosterDayList:
      type: object
      properties:
        employeeRosterDays:
          type: array
          items:
            $ref: '#/components/schemas/moves.EmployeeRosterDay'
      description: Employee roster day list
      example:
        employeeRosterDays:
        - date: '2023-11-25'
          availabilities:
          - startTime: '2023-11-25T07:00:00.000+01:00'
            stopTime: '2023-11-25T11:00:00.000+01:00'
            name: Hallo
          shiftAssignments:
          - startTime: '2023-11-25T07:00:00.000+01:00'
            stopTime: '2023-11-25T11:00:00.000+01:00'
            name: Ochtenddienst 4
    moves.EmployeeRosterDay:
      type: object
      properties:
        date:
          type: string
          format: date
        availabilities:
          type: array
          items:
            $ref: '#/components/schemas/moves.EmployeeRosterDayAvailability'
        shiftAssignments:
          type: array
          items:
            $ref: '#/components/schemas/moves.EmployeeRosterDayShiftAssignment'
      description: Employee roster
      example:
        date: '2023-11-25'
        availabilities:
        - startTime: '2023-11-25T07:00:00.000+01:00'
          stopTime: '2023-11-25T11:00:00.000+01:00'
          name: Hallo
        shiftAssignments:
        - startTime: '2023-11-25T07:00:00.000+01:00'
          stopTime: '2023-11-25T11:00:00.000+01:00'
          name: Ochtenddienst 4
    moves.EmployeePlanningPlanCard:
      type: object
      properties:
        startsAt:
          type: string
          format: date-time
        duration:
          type: integer
          format: int64
        description:
          type: string
      description: Part of the employee planning
      example:
        startsAt: '2023-11-24T16:39:00.000+01:00'
        duration: 1337
        description: (O4) Ochtenddienst 4
    moves.EmployeeRosterDayShiftAssignment:
      type: object
      properties:
        startTime:
          type: string
          format: date-time
        stopTime:
          type: string
          format: date-time
        name:
          type: string
      description: Employee roster shift assignment
      example:
        startTime: '2023-11-25T07:00:00.000+01:00'
        stopTime: '2023-11-25T11:00:00.000+01:00'
        name: Ochtenddienst 4
    moves.EmployeeRosterDayAvailability:
      type: object
      properties:
        startTime:
          type: string
          format: date-time
        stopTime:
          type: string
          format: date-time
        name:
          type: string
      description: Employee roster availability
      example:
        startTime: '2023-11-25T07:00:00.000+01:00'
        stopTime: '2023-11-25T11:00:00.000+01:00'
        name: Hallo
    moves.EmployeePlanningEventGroup:
      type: object
      properties:
        startsAt:
          type: string
          format: date-time
        duration:
          type: integer
          format: int64
        client:
          $ref: '#/components/schemas/moves.EmployeePlanningClient'
        notes:
          type: array
          items:
            type: string
        planCards:
          type: array
          items:
            $ref: '#/components/schemas/moves.EmployeePlanningPlanCard'
      description: Part of the employee planning
      example:
        startsAt: '2023-11-24T13:29:00.000+01:00'
        duration: 1234
        client:
          externalId: 123
          identificationNo: abc123
          name: Koning, F.C.
          address: Groeneweg 25, Groenlo
          gender: M
        notes:
        - sleutel onder de mat
        planCards:
        - startsAt: '2023-11-24T16:39:00.000+01:00'
          duration: 1337
          description: (O4) Ochtenddienst 4
    moves.EmployeePlanning:
      type: object
      properties:
        eventGroups:
          type: array
          items:
            $ref: '#/components/schemas/moves.EmployeePlanningEventGroup'
      description: The employee planning
      example:
        eventGroups:
        - startsAt: '2023-11-24T13:29:00.000+01:00'
          duration: 1234
          client:
            externalId: 123
            identificationNo: abc123
            name: Koning, F.C.
            address: Groeneweg 25, Groenlo
            gender: M
          notes:
          - sleutel onder de mat
          planCards:
          - startsAt: '2023-11-24T16:39:00.000+01:00'
            duration: 1337
            description: (O4) Ochtenddienst 4
    moves.EmployeePlanningClient:
      type: object
      properties:
        externalId:
          type: integer
          format: int64
        identificationNo:
          type: string
        name:
          type: string
        address:
          type: string
        gender:
          type: string
      description: Part of the employee planning
      example:
        externalId: 123
        identificationNo: abc123
        name: Koning, F.C.
        address: Groeneweg 25, Groenlo
        gender: M
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
