openapi: 3.2.0
info:
  title: Nedap Dossier.medical.Problem API
  version: 0.0.0
  description: 'Operations tagged dossier.medical.Problem across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: dossier.medical.Problem
paths:
  /t/dossier/medical/problems:
    post:
      tags:
      - dossier.medical.Problem
      summary: Create Problem
      operationId: dossier.medical.ProblemAPI.create
      requestBody:
        description: Problem to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.medical.Problem'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.medical.Problem'
      x-cupido-common-method: true
      x-replaced-by: /v0/dossier/back_channel/unauthorized/medical/problems
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/dossier/medical/problems/{id}:
    get:
      tags:
      - dossier.medical.Problem
      summary: Get a specific topic
      operationId: dossier.medical.ProblemAPI.byId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.medical.Problem'
      x-cupido-common-method: true
      x-replaced-by: /v0/dossier/back_channel/unauthorized/medical/problems/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    put:
      tags:
      - dossier.medical.Problem
      summary: Updates the given Problem
      operationId: dossier.medical.ProblemAPI.update
      parameters:
      - name: id
        in: path
        description: Identifier of Problem to update.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Problem to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.medical.Problem'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.medical.Problem'
      x-cupido-common-method: true
      x-replaced-by: /v0/dossier/back_channel/unauthorized/medical/problems/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    delete:
      tags:
      - dossier.medical.Problem
      summary: Deletes the Problem with given id
      operationId: dossier.medical.ProblemAPI.delete
      parameters:
      - name: id
        in: path
        description: Identifier of Problem to delete.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: If successfully removed the problem
      x-cupido-common-method: true
      x-replaced-by: /v0/dossier/back_channel/unauthorized/medical/problems/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    patch:
      tags:
      - dossier.medical.Problem
      summary: Patches Problem with given id
      operationId: dossier.medical.ProblemAPI.patch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.medical.Problem'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.medical.Problem'
      x-cupido-common-method: true
      x-replaced-by: /v0/dossier/back_channel/unauthorized/medical/problems/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/dossier/back_channel/unauthorized/medical/problems:
    post:
      tags:
      - dossier.medical.Problem
      summary: Create Problem
      operationId: dossier.medical.ProblemAPI.create
      requestBody:
        description: Problem to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.medical.Problem'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.medical.Problem'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/medical/problems
    servers:
    - url: https://api-development.ons.io
  /v0/dossier/back_channel/unauthorized/medical/problems/{id}:
    get:
      tags:
      - dossier.medical.Problem
      summary: Get a specific topic
      operationId: dossier.medical.ProblemAPI.byId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.medical.Problem'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/medical/problems/{id}
    put:
      tags:
      - dossier.medical.Problem
      summary: Updates the given Problem
      operationId: dossier.medical.ProblemAPI.update
      parameters:
      - name: id
        in: path
        description: Identifier of Problem to update.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Problem to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.medical.Problem'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.medical.Problem'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/medical/problems/{id}
    delete:
      tags:
      - dossier.medical.Problem
      summary: Deletes the Problem with given id
      operationId: dossier.medical.ProblemAPI.delete
      parameters:
      - name: id
        in: path
        description: Identifier of Problem to delete.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: If successfully removed the problem
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/medical/problems/{id}
    patch:
      tags:
      - dossier.medical.Problem
      summary: Patches Problem with given id
      operationId: dossier.medical.ProblemAPI.patch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.medical.Problem'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.medical.Problem'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/medical/problems/{id}
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    dossier.Encoding:
      type: object
      properties:
        code:
          type: string
        codeSystem:
          type: string
        displayName:
          type: string
          description: The display name (or title) corresponding to the code in its code system
      description: Encoding
      example:
        code: E10
        codeSystem: ICD-10
        displayName: Type 1-diabetes
    dossier.FeederAuditTransferType:
      enum:
      - eoverdracht_nursing
      - anw
      - other
      type: string
      description: Type of the transfer containing this content (a.k.a. the use case)
      example: eoverdracht_nursing
    dossier.medical.Problem:
      type: object
      allOf:
      - $ref: '#/components/schemas/dossier.medical.MedicalBase'
      properties:
        narrative:
          type: string
        starred:
          type: boolean
        onsetApproximateDate:
          type: string
        resolvedApproximateDate:
          type: string
        snomedExpressionValue:
          type: string
        active:
          type: boolean
        relevant:
          type: boolean
        certainty:
          type: string
        severity:
          type: string
        course:
          type: string
        onsetPeriodOfLife:
          type: string
        expertiseProfileIds:
          type: array
          items:
            type: integer
            format: int64
        authorizedExpertiseProfileIds:
          type: array
          items:
            type: integer
            format: int64
          description: 'Only users with these expertise profiles are allowed to access this problem

            Use expertiseProfileIds until implemented in Dossier'
        authorizedExpertiseGroupIds:
          type: array
          items:
            type: integer
            format: int64
          description: 'Only users with these expertise groups are allowed to access this problem

            Use expertiseProfileIds until implemented in Dossier'
        episodeId:
          type: integer
          format: int32
        episodeIds:
          type: array
          items:
            type: integer
            format: int64
          description: The episodes that are linked to this problem
        diagnosisBuilders:
          type: array
          items:
            $ref: '#/components/schemas/dossier.medical.DiagnosisBuilder'
        diagnoses:
          type: array
          items:
            $ref: '#/components/schemas/dossier.medical.Diagnosis'
        immutable:
          type: boolean
          description: Whether or not the problem is immutable
        feederAuditContentStore:
          allOf:
          - $ref: '#/components/schemas/dossier.FeederAuditContentStoreType'
          description: Identifier of the content store that is providing this content
        feederAuditContentId:
          type: string
          description: Identifier referencing the original content in the feederAuditContentStore
        feederAuditSenderName:
          type: string
          description: Name of the sender of the original content
        feederAuditTransferType:
          allOf:
          - $ref: '#/components/schemas/dossier.FeederAuditTransferType'
          description: Type of the transfer containing this content (a.k.a. the use case)
      description: Problem model (no description)
      example:
        id: 1
        uuid: 02a26900-64d4-11e4-b4af-0002a5d5c51b
        clientId: 2
        createdById: 3
        updatedById: 1
        createdAt: '2014-11-14T00:00:00.000+01:00'
        updatedAt: '2014-11-14T00:00:00.000+01:00'
        narrative: It hurts
        starred: true
        onsetApproximateDate: '2014'
        resolvedApproximateDate: 2014-12
        snomedExpressionValue: 22298006 | Myocardial infarction (disorder) |
        active: true
        relevant: true
        certainty: Ik ben er niet zo zeker van
        severity: Niet levensbedreigend
        course: De afgelopen twee weken
        onsetPeriodOfLife: Vanaf kleuterperiode
        expertiseProfileIds:
        - 1
        - 2
        authorizedExpertiseProfileIds:
        - 1
        - 2
        authorizedExpertiseGroupIds:
        - 3
        - 4
        episodeId: 1
        episodeIds:
        - 1
        - 2
        diagnosisBuilders:
        - system: example
          query: example
          name: example
        - system: example
          query: example
          name: example
        diagnoses:
        - name: example
          code: example
          encodings:
          - code: example
            codeSystem: example
            displayName: example
          - code: example
            codeSystem: example
            displayName: example
        - name: example
          code: example
          encodings:
          - code: example
            codeSystem: example
            displayName: example
          - code: example
            codeSystem: example
            displayName: example
        immutable: true
        feederAuditContentStore: ons_ketenverkeer
        feederAuditContentId: abz123
        feederAuditSenderName: Some care organisation
        feederAuditTransferType: eoverdracht_nursing
    dossier.medical.MedicalBase:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int64
          x-cupido-id: true
        uuid:
          type:
          - string
          - 'null'
        clientId:
          type:
          - integer
          - 'null'
          format: int64
        createdById:
          type:
          - integer
          - 'null'
          format: int64
        updatedById:
          type:
          - integer
          - 'null'
          format: int64
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
      description: MedicalBase model (no description)
      example:
        id: 1
        uuid: Dummy
        clientId: 1
        createdById: 1
        updatedById: 1
        createdAt: '2014-11-10T00:00:00.000+01:00'
        updatedAt: '2014-11-10T00:00:00.000+01:00'
    dossier.medical.DiagnosisBuilder:
      type: object
      allOf:
      - $ref: '#/components/schemas/dossier.medical.RelationshipBuilder'
      description: DiagnosisBuilder model (no description)
      example:
        system: SNOMED
        query: 22298006 | Myocardial infarction (disorder) |
        name: Hartinfarct
    dossier.medical.RelationshipBuilder:
      type: object
      properties:
        system:
          type:
          - string
          - 'null'
          description: 'Which code system this builder should query

            Can be any of CUSTOM, SNOMED, ICD-10, ICPC-1 or ICPC-2'
        query:
          type:
          - string
          - 'null'
          description: 'Query used to build the correct concept within the given code system.

            Will use the first concept within the code system that matches the query,

            for the best results your query should be as close as possible to a complete code from the system'
        name:
          type:
          - string
          - 'null'
      description: RelationshipBuilder model (no description)
      example:
        system: Dummy
        query: Dummy
        name: Dummy
    dossier.FeederAuditContentStoreType:
      enum:
      - ons_ketenverkeer
      - other
      type: string
      description: Identifier of the content store that is providing this content
      example: ons_ketenverkeer
    dossier.medical.Diagnosis:
      type: object
      properties:
        name:
          type: string
        code:
          type: string
          description: 'Deprecated since: 01-12-2021 - use encodings instead

            (the `code` field of all encodings is equivalent to this stringified array of codes)'
          deprecated: true
        encodings:
          type: array
          items:
            $ref: '#/components/schemas/dossier.Encoding'
      description: Diagnosis model (no description)
      example:
        name: Type 1-diabetes
        code: E10
        encodings:
        - code: E10
          codeSystem: ICD-10
          displayName: Type 1-diabetes
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
