openapi: 3.2.0
info:
  title: Nedap Dossier.Report Type API
  version: 0.0.0
  description: 'Operations tagged dossier.ReportType across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: dossier.ReportType
paths:
  /t/dossier/report_types:
    get:
      tags:
      - dossier.ReportType
      summary: Returns every ReportType available from the ReportTypeAPI
      operationId: dossier.ReportTypeAPI.all
      parameters:
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.list.ReportTypeList'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/dossier/report_types
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/dossier/report_types/{id}:
    get:
      tags:
      - dossier.ReportType
      operationId: dossier.ReportTypeAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting ReportType
        required: true
        schema:
          type: integer
          format: int64
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.ReportType'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/dossier/report_types/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
      summary: Dossier report type API by id
      x-summary-source: derived
    put:
      tags:
      - dossier.ReportType
      summary: Updates the given ReportType
      operationId: dossier.ReportTypeAPI.update
      parameters:
      - name: id
        in: path
        description: used for selecting ReportType
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      requestBody:
        description: ReportType to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.ReportType'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.ReportType'
        '400':
          description: Validation errors
        '404':
          description: The report type is not found
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/dossier/report_types/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/dossier/report_types:
    get:
      tags:
      - dossier.ReportType
      summary: Returns every ReportType available from the ReportTypeAPI
      operationId: dossier.ReportTypeAPI.all
      parameters:
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.list.ReportTypeList'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/report_types
    servers:
    - url: https://api-development.ons.io
  /v0/administration/dossier/report_types/{id}:
    get:
      tags:
      - dossier.ReportType
      operationId: dossier.ReportTypeAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting ReportType
        required: true
        schema:
          type: integer
          format: int64
      - name: include
        in: query
        schema:
          type: array
          items:
            type: string
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.ReportType'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/report_types/{id}
      summary: Dossier report type API by id
      x-summary-source: derived
    put:
      tags:
      - dossier.ReportType
      summary: Updates the given ReportType
      operationId: dossier.ReportTypeAPI.update
      parameters:
      - name: id
        in: path
        description: used for selecting ReportType
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      requestBody:
        description: ReportType to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.ReportType'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.ReportType'
        '400':
          description: Validation errors
        '404':
          description: The report type is not found
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/report_types/{id}
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    dossier.list.ReportTypeList:
      type: object
      properties:
        reportTypes:
          type: array
          items:
            $ref: '#/components/schemas/dossier.ReportType'
          xml:
            name: reportType
      description: ReportTypeList model (no description)
      example:
        reportTypes:
        - updatedAt: '2013-08-05T13:31:28.000+02:00'
          createdAt: '2009-07-01T00:00:00.000+02:00'
          id: 101
          name: Rapportage
          valueType: Comment
          defaultValue: 0
          hasTime: true
          iconSrc: zorgplan_blauw.png
          enabled: true
        - updatedAt: '2009-09-30T00:00:00.000+02:00'
          createdAt: '2009-09-30T00:00:00.000+02:00'
          id: 102
          name: Gewicht
          valueType: BMI
          format: '%.1f'
          unit: kg
          defaultValue: 0
          hasTime: true
          iconSrc: gewicht_blauw.png
          enabled: true
        - updatedAt: '2009-10-01T00:00:00.000+02:00'
          createdAt: '2009-10-01T00:00:00.000+02:00'
          id: 103
          name: Bloeddruk
          valueType: BloodPressure
          defaultValue: 0
          hasTime: true
          iconSrc: hartslag_blauw.png
          enabled: true
        - updatedAt: '2009-10-02T00:00:00.000+02:00'
          createdAt: '2009-10-02T00:00:00.000+02:00'
          id: 104
          name: Temperatuur
          valueType: Decimal
          format: '%.1f'
          unit: °C
          defaultValue: 0
          hasTime: true
          iconSrc: temperatuur_blauw.png
          enabled: true
        - updatedAt: '2010-05-05T00:00:00.000+02:00'
          createdAt: '2010-05-05T00:00:00.000+02:00'
          id: 105
          name: Bloedsuiker
          valueType: Decimal
          format: '%.1f'
          unit: mmol/l
          defaultValue: 0
          hasTime: true
          iconSrc: bloedsuiker_blauw.png
          enabled: true
        - updatedAt: '2010-05-05T00:00:00.000+02:00'
          createdAt: '2010-05-05T00:00:00.000+02:00'
          id: 106
          name: Vocht inname
          valueType: Decimal
          unit: ml
          defaultValue: 0
          hasTime: true
          iconSrc: vochtinname_blauw.png
          enabled: true
        - updatedAt: '2010-05-05T00:00:00.000+02:00'
          createdAt: '2010-05-05T00:00:00.000+02:00'
          id: 107
          name: Vocht uitscheiding
          valueType: Decimal
          unit: ml
          defaultValue: 0
          hasTime: true
          iconSrc: vochtuitscheiding_blauw.png
          enabled: true
        - updatedAt: '2013-01-09T11:37:39.000+01:00'
          createdAt: '2010-08-01T00:00:00.000+02:00'
          id: 109
          name: Medisch
          valueType: Comment
          defaultValue: 0
          hasTime: false
          iconSrc: zorg_blauw.png
          enabled: true
        - updatedAt: '2010-08-01T00:00:00.000+02:00'
          createdAt: '2010-08-01T00:00:00.000+02:00'
          id: 108
          name: Defaecatie
          valueType: Comment
          defaultValue: 0
          hasTime: true
          iconSrc: ondersteek_blauw.png
          enabled: true
        - updatedAt: '2013-02-12T11:34:42.000+01:00'
          createdAt: '2010-08-31T00:00:00.000+02:00'
          id: 110
          name: Voortgang
          valueType: ProgressReport
          format: '%.1f'
          unit: '%'
          defaultValue: 0
          hasTime: false
          iconSrc: procent_blauw.png
          enabled: true
        - updatedAt: '2012-12-06T15:27:05.000+01:00'
          createdAt: '2011-06-01T00:00:00.000+02:00'
          id: 111
          name: Familie communicatie
          valueType: FamilyCommunication
          defaultValue: 0
          hasTime: false
          iconSrc: caren_blauw.png
          enabled: true
        - updatedAt: '2012-07-24T14:38:36.000+02:00'
          createdAt: '2011-07-01T00:00:00.000+02:00'
          id: 212
          name: Wondbehandeling
          valueType: Comment
          defaultValue: 0
          hasTime: false
          iconSrc: zorg_blauw.png
          enabled: false
        - updatedAt: '2013-08-20T14:30:10.000+02:00'
          createdAt: '2011-07-01T00:00:00.000+02:00'
          id: 220
          name: Saturatie
          valueType: Decimal
          format: '%.1f'
          unit: '%'
          defaultValue: 0
          hasTime: false
          iconSrc: bloedsuiker_blauw.png
          enabled: false
        - updatedAt: '2012-09-11T16:29:42.000+02:00'
          createdAt: '2011-07-01T00:00:00.000+02:00'
          id: 221
          name: INR
          valueType: Decimal
          format: '%.1f'
          defaultValue: 0
          hasTime: false
          iconSrc: bloedsuiker_blauw.png
          enabled: false
        - updatedAt: '2013-08-26T15:13:01.000+02:00'
          createdAt: '2013-06-11T18:07:22.000+02:00'
          id: 112
          name: Keten communicatie
          valueType: ExternalCommunication
          defaultValue: 0
          hasTime: true
          iconSrc: caren_keten_blauw.png
          enabled: true
      xml:
        name: reportTypes
    AuditedBase:
      title: AuditedBase
      type: object
      properties:
        updatedAt:
          type:
          - string
          - 'null'
          description: Dated Base extension.
          format: date-time
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        createdBy:
          type:
          - string
          - 'null'
      description: AuditedBase model (no description)
      example:
        updatedAt: '2014-12-29T00:00:00.000+01:00'
        createdAt: '2014-12-29T00:00:00.000+01:00'
        createdBy: example
    dossier.ReportType:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        name:
          type: string
        valueType:
          type: string
        format:
          type: string
        unit:
          type: string
        defaultValue:
          type: integer
          format: int32
        hasTime:
          type: boolean
        iconSrc:
          type: string
        enabled:
          type: boolean
      description: ReportType model (no description)
      example:
        updatedAt: '2014-04-01T17:00:00.000+02:00'
        createdAt: '2013-12-01T17:00:00.000+01:00'
        createdBy: user
        id: 1
        name: Rapportage
        valueType: Comment
        format: '%s'
        unit: mm[Hg]
        defaultValue: 0
        hasTime: false
        iconSrc: heartbleed.gif
        enabled: true
      xml:
        name: reportType
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
