openapi: 3.2.0
info:
  title: Nedap Dossier.medical.advance Directives.Context API
  version: 0.0.0
  description: 'Operations tagged dossier.medical.advance_directives.Context across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: dossier.medical.advance_directives.Context
paths:
  /t/clients/{client_id}/medical/advance_directives/contexts:
    get:
      tags:
      - dossier.medical.advance_directives.Context
      summary: Return the contexts of a Client corresponding to the given id
      operationId: dossier.medical.advance_directives.ContextAPI.byClientId
      parameters:
      - name: client_id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.medical.advance_directives.list.ContextList'
      x-replaced-by: /v0/dossier/back_channel/unauthorized/clients/{client_id}/medical/advance_directives/contexts
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/dossier/medical/advance_directives/contexts:
    post:
      tags:
      - dossier.medical.advance_directives.Context
      summary: Create Context
      operationId: dossier.medical.advance_directives.ContextAPI.create
      requestBody:
        description: Context to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.medical.advance_directives.Context'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.medical.advance_directives.Context'
      x-cupido-common-method: true
      x-replaced-by: /v0/dossier/back_channel/unauthorized/medical/advance_directives/contexts
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/dossier/medical/advance_directives/contexts/{id}:
    put:
      tags:
      - dossier.medical.advance_directives.Context
      summary: Updates the given Context
      operationId: dossier.medical.advance_directives.ContextAPI.update
      parameters:
      - name: id
        in: path
        description: Identifier of Context to update.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Context to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.medical.advance_directives.Context'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.medical.advance_directives.Context'
      x-cupido-common-method: true
      x-replaced-by: /v0/dossier/back_channel/unauthorized/medical/advance_directives/contexts/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    delete:
      tags:
      - dossier.medical.advance_directives.Context
      summary: Deletes the Context with given id
      operationId: dossier.medical.advance_directives.ContextAPI.delete
      parameters:
      - name: id
        in: path
        description: Identifier of Context to delete.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: If successfully removed the context
      x-cupido-common-method: true
      x-replaced-by: /v0/dossier/back_channel/unauthorized/medical/advance_directives/contexts/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    patch:
      tags:
      - dossier.medical.advance_directives.Context
      summary: Patches Context with given id
      operationId: dossier.medical.advance_directives.ContextAPI.patch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.medical.advance_directives.Context'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.medical.advance_directives.Context'
      x-cupido-common-method: true
      x-replaced-by: /v0/dossier/back_channel/unauthorized/medical/advance_directives/contexts/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/dossier/back_channel/unauthorized/clients/{client_id}/medical/advance_directives/contexts:
    get:
      tags:
      - dossier.medical.advance_directives.Context
      summary: Return the contexts of a Client corresponding to the given id
      operationId: dossier.medical.advance_directives.ContextAPI.byClientId
      parameters:
      - name: client_id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.medical.advance_directives.list.ContextList'
      x-replacement-for:
      - /t/clients/{client_id}/medical/advance_directives/contexts
    servers:
    - url: https://api-development.ons.io
  /v0/dossier/back_channel/unauthorized/medical/advance_directives/contexts:
    post:
      tags:
      - dossier.medical.advance_directives.Context
      summary: Create Context
      operationId: dossier.medical.advance_directives.ContextAPI.create
      requestBody:
        description: Context to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.medical.advance_directives.Context'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.medical.advance_directives.Context'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/medical/advance_directives/contexts
    servers:
    - url: https://api-development.ons.io
  /v0/dossier/back_channel/unauthorized/medical/advance_directives/contexts/{id}:
    put:
      tags:
      - dossier.medical.advance_directives.Context
      summary: Updates the given Context
      operationId: dossier.medical.advance_directives.ContextAPI.update
      parameters:
      - name: id
        in: path
        description: Identifier of Context to update.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Context to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.medical.advance_directives.Context'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.medical.advance_directives.Context'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/medical/advance_directives/contexts/{id}
    delete:
      tags:
      - dossier.medical.advance_directives.Context
      summary: Deletes the Context with given id
      operationId: dossier.medical.advance_directives.ContextAPI.delete
      parameters:
      - name: id
        in: path
        description: Identifier of Context to delete.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: If successfully removed the context
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/medical/advance_directives/contexts/{id}
    patch:
      tags:
      - dossier.medical.advance_directives.Context
      summary: Patches Context with given id
      operationId: dossier.medical.advance_directives.ContextAPI.patch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.medical.advance_directives.Context'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.medical.advance_directives.Context'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/medical/advance_directives/contexts/{id}
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    dossier.medical.advance_directives.Context:
      type: object
      allOf:
      - $ref: '#/components/schemas/dossier.medical.MedicalBase'
      properties:
        narrative:
          type: string
        snomedExpressionValue:
          type: string
        date:
          type: string
          format: date
        employeeId:
          type: integer
          format: int64
        status:
          type: string
          description: The human readable status of the AdvanceDirective Context.
        statusKey:
          allOf:
          - $ref: '#/components/schemas/dossier.medical.advance_directives.context.StatusKey'
          description: The status of the AdvanceDirective Context.
        documentId:
          type: integer
          format: int32
        documentName:
          type: string
          deprecated: true
          x-deprecated-since: 01-04-2026
        decisionBuilders:
          type: array
          items:
            $ref: '#/components/schemas/dossier.medical.DecisionBuilder'
          description: 'Used by the update and create api''s to build the Decisions of this AdvanceDirective

            Both the update and create api will only look at the builders and not at the decision list.'
        decisions:
          type: array
          items:
            $ref: '#/components/schemas/dossier.medical.advance_directives.Decision'
          description: The decisions of the AdvanceDirective Context.
        immutable:
          type: boolean
          description: Whether or not the context is immutable
      description: The current medical policy of the client
      example:
        id: 3
        uuid: 02a26900-64d4-11e4-b4af-0002a5d5c51b
        clientId: 1
        createdById: 2
        updatedById: 4
        createdAt: '2014-11-14T00:00:00.000+01:00'
        updatedAt: '2014-11-14T00:00:00.000+01:00'
        narrative: Thats what I want
        snomedExpressionValue: Dummy
        date: '2014-11-14'
        employeeId: 1337
        status: Discussed with patient
        statusKey: DISCUSSED_WITH_PATIENT
        documentId: 1
        documentName: Document
        decisionBuilders:
        - system: example
          query: example
          name: example
          outcome: example
        - system: example
          query: example
          name: example
          outcome: example
        decisions:
        - name: Resuscitation
          outcome: 'Yes'
        immutable: true
    dossier.medical.advance_directives.Decision:
      type: object
      properties:
        name:
          type: string
        outcome:
          type: string
        snomedExpressionValue:
          type: string
          description: 'snomedexpression of the whole decision.

            Example: "363589002 | associated procedure |: 246456000 | has interpretation | =439569004 | resuscitation |, 408729009 | finding context | =373066001 | yes |"'
      description: Decision model (no description)
      example:
        name: Resuscitation
        outcome: 'Yes'
        snomedExpressionValue: '363589002 | associated procedure |: 246456000 | has interpretation | =439569004 | resuscitation |, 408729009 | finding context | =373066001 | yes |'
    dossier.medical.MedicalBase:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int64
          x-cupido-id: true
        uuid:
          type:
          - string
          - 'null'
        clientId:
          type:
          - integer
          - 'null'
          format: int64
        createdById:
          type:
          - integer
          - 'null'
          format: int64
        updatedById:
          type:
          - integer
          - 'null'
          format: int64
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
      description: MedicalBase model (no description)
      example:
        id: 1
        uuid: Dummy
        clientId: 1
        createdById: 1
        updatedById: 1
        createdAt: '2014-11-10T00:00:00.000+01:00'
        updatedAt: '2014-11-10T00:00:00.000+01:00'
    dossier.medical.advance_directives.context.StatusKey:
      enum:
      - ACTIVE
      - DISCUSSED_WITH_PATIENT
      - DISCUSSED_WITH_RELATIVE
      type: string
      description: The status of the AdvanceDirective Context.
      example: DISCUSSED_WITH_PATIENT
    dossier.medical.RelationshipBuilder:
      type: object
      properties:
        system:
          type:
          - string
          - 'null'
          description: 'Which code system this builder should query

            Can be any of CUSTOM, SNOMED, ICD-10, ICPC-1 or ICPC-2'
        query:
          type:
          - string
          - 'null'
          description: 'Query used to build the correct concept within the given code system.

            Will use the first concept within the code system that matches the query,

            for the best results your query should be as close as possible to a complete code from the system'
        name:
          type:
          - string
          - 'null'
      description: RelationshipBuilder model (no description)
      example:
        system: Dummy
        query: Dummy
        name: Dummy
    dossier.medical.advance_directives.list.ContextList:
      type: object
      properties:
        contexts:
          type: array
          items:
            $ref: '#/components/schemas/dossier.medical.advance_directives.Context'
      description: ContextList model (no description)
      example:
        contexts:
        - id: 3
          uuid: 02a26900-64d4-11e4-b4af-0002a5d5c51b
          clientId: 1
          createdById: 2
          updatedById: 4
          createdAt: '2014-11-14T00:00:00.000+01:00'
          updatedAt: '2014-11-14T00:00:00.000+01:00'
          narrative: Thats what I want
          snomedExpressionValue: Dummy
          date: '2014-11-14'
          employeeId: 1337
          status: Discussed with patient
          immutable: true
    dossier.medical.DecisionBuilder:
      type: object
      allOf:
      - $ref: '#/components/schemas/dossier.medical.RelationshipBuilder'
      properties:
        outcome:
          type: string
          description: 'The outcome that should be set on the decision

            Should be a valid outcome code within the system that is set on this builder'
      description: DecisionBuilder model (no description)
      example:
        system: SNOMED
        query: 61420007 | Tube feeding |
        name: Sondevoeding
        outcome: 373067005 | no |
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
