openapi: 3.2.0
info:
  title: Nedap Wmo.Wmo Zorglegitimatie API
  version: 0.0.0
  description: 'Operations tagged wmo.WmoZorglegitimatie across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: wmo.WmoZorglegitimatie
paths:
  /t/wmo/zorglegitimaties:
    post:
      tags:
      - wmo.WmoZorglegitimatie
      summary: Create WmoZorglegitimatie
      operationId: wmo.WmoZorglegitimatieAPI.create
      requestBody:
        description: WmoZorglegitimatie to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wmo.WmoZorglegitimatie'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wmo.WmoZorglegitimatie'
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/wmo/zorglegitimaties
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/wmo/zorglegitimaties/{id}:
    get:
      tags:
      - wmo.WmoZorglegitimatie
      summary: Return the WmoZorgLegitimatie corresponding to the given id
      operationId: wmo.WmoZorglegitimatieAPI.byId
      parameters:
      - name: id
        in: path
        description: used to find the WmoZorglegitimatie
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wmo.WmoZorglegitimatie'
        '404':
          description: WMO Toewijzing Beschikking cannot be found
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/wmo/zorglegitimaties/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    delete:
      tags:
      - wmo.WmoZorglegitimatie
      summary: Delete a WmoZorglegitimatie
      operationId: wmo.WmoZorglegitimatieAPI.delete
      parameters:
      - name: id
        in: path
        description: used to find the WmoZorglegitimatie
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wmo.WmoZorglegitimatie'
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/wmo/zorglegitimaties/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/wmo/zorglegitimaties:
    post:
      tags:
      - wmo.WmoZorglegitimatie
      summary: Create WmoZorglegitimatie
      operationId: wmo.WmoZorglegitimatieAPI.create
      requestBody:
        description: WmoZorglegitimatie to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wmo.WmoZorglegitimatie'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wmo.WmoZorglegitimatie'
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replacement-for:
      - /t/wmo/zorglegitimaties
    servers:
    - url: https://api-development.ons.io
  /v0/administration/wmo/zorglegitimaties/{id}:
    get:
      tags:
      - wmo.WmoZorglegitimatie
      summary: Return the WmoZorgLegitimatie corresponding to the given id
      operationId: wmo.WmoZorglegitimatieAPI.byId
      parameters:
      - name: id
        in: path
        description: used to find the WmoZorglegitimatie
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wmo.WmoZorglegitimatie'
        '404':
          description: WMO Toewijzing Beschikking cannot be found
      x-cupido-common-method: true
      x-replacement-for:
      - /t/wmo/zorglegitimaties/{id}
    delete:
      tags:
      - wmo.WmoZorglegitimatie
      summary: Delete a WmoZorglegitimatie
      operationId: wmo.WmoZorglegitimatieAPI.delete
      parameters:
      - name: id
        in: path
        description: used to find the WmoZorglegitimatie
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wmo.WmoZorglegitimatie'
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replacement-for:
      - /t/wmo/zorglegitimaties/{id}
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    wmo.WmoZorglegitimatie:
      required:
      - id
      - client
      - berichten
      type: object
      properties:
        id:
          type: integer
          description: The id for the import
          format: int64
          x-cupido-id: true
        client:
          type: integer
          description: The client
          format: int64
        berichten:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/lz.Bericht'
            xml:
              name: bericht
          description: A list with messages
          xml:
            wrapped: true
      description: WmoZorglegitimatie model (no description)
      example:
        id: 1
        client: 1
        berichten:
        - content: test
      xml:
        name: wmoZorglegitimatie
    lz.Bericht:
      required:
      - content
      type: object
      properties:
        content:
          type: string
          description: 'The content of the messages, surrounded with CDATA tags.

            The content needs to be a valid AW33 / AW35 or AW39 message.'
      description: Bericht model (no description)
      example:
        content: Dummy
      xml:
        name: bericht
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
