openapi: 3.2.0
info:
  title: Nedap Payroll.holiday.Holiday API
  version: 0.0.0
  description: 'Operations tagged payroll.holiday.Holiday across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: payroll.holiday.Holiday
paths:
  /t/payroll/holiday/holidays:
    get:
      tags:
      - payroll.holiday.Holiday
      summary: Returns every Holiday available from the HolidayAPI
      operationId: payroll.holiday.HolidayAPI.all
      parameters:
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payroll.holiday.list.HolidayList'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/holidays
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/payroll/holiday/holidays/between:
    get:
      tags:
      - payroll.holiday.Holiday
      summary: Returns a list with holidays which lay between the given days
      operationId: payroll.holiday.HolidayAPI.between
      parameters:
      - name: valid_from
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: valid_to
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payroll.holiday.list.HolidayList'
        '400':
          description: The end date must not be before the begin date and the end date cannot be after today.
      x-replaced-by: /v0/administration/holidays/between
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/holidays:
    get:
      tags:
      - payroll.holiday.Holiday
      summary: Returns every Holiday available from the HolidayAPI
      operationId: payroll.holiday.HolidayAPI.all
      parameters:
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payroll.holiday.list.HolidayList'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/payroll/holiday/holidays
    servers:
    - url: https://api-development.ons.io
  /v0/administration/holidays/between:
    get:
      tags:
      - payroll.holiday.Holiday
      summary: Returns a list with holidays which lay between the given days
      operationId: payroll.holiday.HolidayAPI.between
      parameters:
      - name: valid_from
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: valid_to
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payroll.holiday.list.HolidayList'
        '400':
          description: The end date must not be before the begin date and the end date cannot be after today.
      x-replacement-for:
      - /t/payroll/holiday/holidays/between
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    payroll.holiday.list.HolidayList:
      type: object
      properties:
        holidays:
          type: array
          items:
            $ref: '#/components/schemas/payroll.holiday.Holiday'
          xml:
            name: holiday
      description: HolidayList model (no description)
      example:
        holidays:
        - id: 1
          name: Nieuwjaarsdag
          compensationMinutes: 250
          date: '2016-01-01'
        - id: 1234
          name: Geen EK voor nederland dag
          compensationMinutes: 125
          date: '2016-06-01'
      xml:
        name: holidays
    payroll.holiday.Holiday:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        name:
          type: string
        compensationMinutes:
          type: integer
          format: int32
          default: 0
        date:
          type: string
          format: date
      description: Holiday model (no description)
      example:
        id: 1
        name: Nieuwjaarsdag
        compensationMinutes: 250
        date: '2016-01-01'
      xml:
        name: holiday
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
