openapi: 3.2.0
info:
  title: Nedap Finance.Invoice Row Finance Log API
  version: 0.0.0
  description: 'Operations tagged finance.InvoiceRowFinanceLog across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: finance.InvoiceRowFinanceLog
paths:
  /t/finance/invoice_row_finance_logs/x-stream-connect/updates:
    get:
      tags:
      - finance.InvoiceRowFinanceLog
      summary: Return all InvoiceRowFinanceLog models which where updated since the date given…
      operationId: finance.InvoiceRowFinanceLogAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finance.list.InvoiceRowFinanceLogList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/finance.InvoiceRowFinanceLog'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/invoice_row_finance_logs/updates
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/invoice_row_finance_logs/updates:
    get:
      tags:
      - finance.InvoiceRowFinanceLog
      summary: Return all InvoiceRowFinanceLog models which where updated since the date given…
      operationId: finance.InvoiceRowFinanceLogAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finance.list.InvoiceRowFinanceLogList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/finance.InvoiceRowFinanceLog'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/finance/invoice_row_finance_logs/x-stream-connect/updates
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    finance.InvoiceRowFinanceLog:
      type: object
      properties:
        invoiceRowId:
          type: integer
          format: int64
        financeLogId:
          type: integer
          format: int64
      description: Relations between InoviceRow and FinanceLog
      example:
        invoiceRowId: 1
        financeLogId: 1
      xml:
        name: invoiceRowFinanceLog
    finance.list.InvoiceRowFinanceLogList:
      type: object
      properties:
        invoiceRowFinanceLogs:
          type: array
          items:
            $ref: '#/components/schemas/finance.InvoiceRowFinanceLog'
          xml:
            name: invoiceRowFinanceLog
      description: InvoiceRowFinanceLogList model (no description)
      example:
        invoiceRowFinanceLogs:
        - invoiceRowId: 1
          financeLogId: 1
        - invoiceRowId: 1
          financeLogId: 2
        - invoiceRowId: 2
          financeLogId: 3
        - invoiceRowId: 2
          financeLogId: 4
      xml:
        name: invoiceRowFinanceLogs
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
