openapi: 3.2.0
info:
  title: Nedap Survey.Answer API
  version: 0.0.0
  description: 'Operations tagged survey.Answer across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: survey.Answer
paths:
  /t/survey/answers/{id}:
    delete:
      tags:
      - survey.Answer
      summary: Deletes the Answer with given id
      description: Answer IDs are found through the endpoint /t/suveys/survey_results/{survey_result_id}
      operationId: survey.AnswerAPI.delete
      parameters:
      - name: id
        in: path
        description: Identifier of Answer to delete.
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/survey.Answer'
        '204':
          description: Success
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/survey_answer/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/survey_answer/{id}:
    delete:
      tags:
      - survey.Answer
      summary: Deletes the Answer with given id
      description: Answer IDs are found through the endpoint /t/suveys/survey_results/{survey_result_id}
      operationId: survey.AnswerAPI.delete
      parameters:
      - name: id
        in: path
        description: Identifier of Answer to delete.
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/survey.Answer'
        '204':
          description: Success
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replacement-for:
      - /t/survey/answers/{id}
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    AuditedBase:
      title: AuditedBase
      type: object
      properties:
        updatedAt:
          type:
          - string
          - 'null'
          description: Dated Base extension.
          format: date-time
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        createdBy:
          type:
          - string
          - 'null'
      description: AuditedBase model (no description)
      example:
        updatedAt: '2014-12-29T00:00:00.000+01:00'
        createdAt: '2014-12-29T00:00:00.000+01:00'
        createdBy: example
    survey.Answer:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        surveyResultObjectId:
          type: integer
          format: int64
        questionObjectId:
          type: integer
          format: int64
        answerDefinitionObjectId:
          type: integer
          format: int64
        text:
          type: string
        important:
          type: boolean
        booleanAnswer:
          type: boolean
      description: Answer model (no description)
      example:
        id: 1
        surveyResultObjectId: 1
        questionObjectId: 1
        text: heeeeel oud
        answerDefinitionObjectId: 1
        important: false
        booleanAnswer: false
        createdAt: '2012-08-02T13:48:46.836+02:00'
        updatedAt: '2012-08-02T13:48:46.836+02:00'
        createdBy: user
      xml:
        name: answer
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
