openapi: 3.2.0
info:
  title: Nedap Wlz.Wlz Zorglegitimatie API
  version: 0.0.0
  description: 'Operations tagged wlz.WlzZorglegitimatie across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: wlz.WlzZorglegitimatie
paths:
  /t/wlz/zorglegitimaties:
    post:
      tags:
      - wlz.WlzZorglegitimatie
      summary: Create WlzZorglegitimatie
      operationId: wlz.WlzZorglegitimatieAPI.create
      requestBody:
        description: WlzZorglegitimatie to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wlz.WlzZorglegitimatie'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wlz.WlzZorglegitimatie'
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/wlz/zorglegitimaties
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/wlz/zorglegitimaties/{id}:
    get:
      tags:
      - wlz.WlzZorglegitimatie
      summary: Return the WlzZorgLegitimatie corresponding to the given id
      operationId: wlz.WlzZorglegitimatieAPI.byId
      parameters:
      - name: id
        in: path
        description: used to find the WlzZorglegitimatie
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wlz.WlzZorglegitimatie'
        '404':
          description: Indicatiebesluit cannot be found
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/wlz/zorglegitimaties/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    delete:
      tags:
      - wlz.WlzZorglegitimatie
      summary: Delete a WlzZorglegitimatie
      operationId: wlz.WlzZorglegitimatieAPI.delete
      parameters:
      - name: id
        in: path
        description: used to find the WlzZorglegitimatie
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wlz.WlzZorglegitimatie'
        '400':
          description: Validation errors
        '404':
          description: Indicatiebesluit cannot be found
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/wlz/zorglegitimaties/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/wlz/zorglegitimaties:
    post:
      tags:
      - wlz.WlzZorglegitimatie
      summary: Create WlzZorglegitimatie
      operationId: wlz.WlzZorglegitimatieAPI.create
      requestBody:
        description: WlzZorglegitimatie to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wlz.WlzZorglegitimatie'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wlz.WlzZorglegitimatie'
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replacement-for:
      - /t/wlz/zorglegitimaties
    servers:
    - url: https://api-development.ons.io
  /v0/administration/wlz/zorglegitimaties/{id}:
    get:
      tags:
      - wlz.WlzZorglegitimatie
      summary: Return the WlzZorgLegitimatie corresponding to the given id
      operationId: wlz.WlzZorglegitimatieAPI.byId
      parameters:
      - name: id
        in: path
        description: used to find the WlzZorglegitimatie
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wlz.WlzZorglegitimatie'
        '404':
          description: Indicatiebesluit cannot be found
      x-cupido-common-method: true
      x-replacement-for:
      - /t/wlz/zorglegitimaties/{id}
    delete:
      tags:
      - wlz.WlzZorglegitimatie
      summary: Delete a WlzZorglegitimatie
      operationId: wlz.WlzZorglegitimatieAPI.delete
      parameters:
      - name: id
        in: path
        description: used to find the WlzZorglegitimatie
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wlz.WlzZorglegitimatie'
        '400':
          description: Validation errors
        '404':
          description: Indicatiebesluit cannot be found
      x-cupido-common-method: true
      x-replacement-for:
      - /t/wlz/zorglegitimaties/{id}
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    wlz.WlzZorglegitimatie:
      required:
      - id
      - client
      - berichten
      type: object
      properties:
        id:
          type: integer
          description: The id for the import
          format: int64
          x-cupido-id: true
        client:
          type: integer
          description: The client
          format: int64
        berichten:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/lz.Bericht'
            xml:
              name: bericht
          description: A list with messages
          xml:
            wrapped: true
      description: WlzZorglegitimatie model (no description)
      example:
        id: 1
        client: 1
        berichten:
        - content: test
      xml:
        name: wlzZorglegitimatie
    lz.Bericht:
      required:
      - content
      type: object
      properties:
        content:
          type: string
          description: 'The content of the messages, surrounded with CDATA tags.

            The content needs to be a valid AW33 / AW35 or AW39 message.'
      description: Bericht model (no description)
      example:
        content: Dummy
      xml:
        name: bericht
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
