openapi: 3.2.0
info:
  title: Nedap Whismur.Care Provider Setting API
  version: 0.0.0
  description: 'Operations tagged whismur.CareProviderSetting across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: whismur.CareProviderSetting
paths:
  /t/whismur/server/settings:
    get:
      tags:
      - whismur.CareProviderSetting
      summary: Retrieve speech to text settings for Care Organization
      operationId: whismur.CareProviderSettingAPI.all
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/whismur.CareProviderSetting'
      x-cupido-common-method: true
      x-replaced-by: /v0/whismur/settings
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/whismur/settings:
    get:
      tags:
      - whismur.CareProviderSetting
      summary: Retrieve speech to text settings for Care Organization
      operationId: whismur.CareProviderSettingAPI.all
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/whismur.CareProviderSetting'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/whismur/server/settings
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    whismur.Provider:
      enum:
      - NONE
      - ATTENDI
      - DEEPGRAM
      - TELLJAMES
      type: string
      description: The speech to text provider configured for this care organization.
      example: ATTENDI
    whismur.CareProviderSetting:
      type: object
      properties:
        provider:
          allOf:
          - $ref: '#/components/schemas/whismur.Provider'
          description: The speech to text provider configured for this care organization.
        recorder:
          allOf:
          - $ref: '#/components/schemas/whismur.Recorder'
          description: Recorder to use for speech to text service.
        recordingMode:
          allOf:
          - $ref: '#/components/schemas/whismur.RecordingMode'
          description: Recording mode to use.
        speechToTextActive:
          type: boolean
          description: Indicates if speech to text service is enabled for this care organization.
      description: The speech to text settings for a care provider
      example:
        provider: ATTENDI
        recorder: OnsSpraak
        recordingMode: Bulk
        speechToTextActive: true
    whismur.RecordingMode:
      enum:
      - Bulk
      - Streaming
      type: string
      description: Recording mode to use.
      example: Bulk
    whismur.Recorder:
      enum:
      - OnsSpraak
      - AttendiLimited
      - AttendiFull
      type: string
      description: Recorder to use for speech to text service.
      example: OnsSpraak
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
