openapi: 3.2.0
info:
  title: Nedap Caretech.Product Allocation API
  version: 0.0.0
  description: 'Operations tagged caretech.ProductAllocation across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: caretech.ProductAllocation
paths:
  /t/caretech/server/product_allocations:
    post:
      tags:
      - caretech.ProductAllocation
      summary: Create a product allocation, including a new product instance, for a client
      operationId: caretech.ProductAllocationAPI.createProductAllocationServerGateway
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/caretech.ProductAllocation'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/caretech.ProductAllocation'
        '400':
          description: Validation errors
      x-replaced-by: /v0/caretech/server/product_allocations
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/caretech/server/product_allocations:
    post:
      tags:
      - caretech.ProductAllocation
      summary: Create a product allocation, including a new product instance, for a client
      operationId: caretech.ProductAllocationAPI.createProductAllocationServerGateway
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/caretech.ProductAllocation'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/caretech.ProductAllocation'
        '400':
          description: Validation errors
      x-replacement-for:
      - /t/caretech/server/product_allocations
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    caretech.Status:
      enum:
      - REQUEST
      - ACTIVE
      - INACTIVE
      - UNKNOWN
      type: string
      description: The status of a product allocation, can be REQUEST, ACTIVE, INACTIVE or UNKNOWN
      example: ACTIVE
    caretech.ProductInstanceDto:
      required:
      - product
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        externalId:
          pattern: ^([A-Za-z0-9_., -]{1,50})$
          type: string
        id:
          type: integer
          format: int64
        product:
          $ref: '#/components/schemas/caretech.ProductDto'
        updatedAt:
          type: string
          format: date-time
        uuid:
          type: string
          format: uuid
      description: Reference to a caretech product instance
      example:
        createdAt: '2017-10-02T21:10:43.000+02:00'
        externalId: serial-12345678
        id: 56
        product:
          createdAt: '2017-10-02T21:10:43.000+02:00'
          id: 1
          manufacturer: Nedap
          name: Nedap Luna
          updatedAt: '2017-10-02T21:10:43.000+02:00'
          uuid: 042f53df-37e5-4ad7-af77-16a212763bba
        updatedAt: '2017-10-02T21:10:43.000+02:00'
        uuid: 042f53df-37e5-4ad7-af77-16a212763bba
      xml:
        name: productInstanceDto
    caretech.ProductDto:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        id:
          type: integer
          format: int64
        manufacturer:
          type: string
        name:
          type: string
        orderable:
          type: boolean
        updatedAt:
          type: string
          format: date-time
        uuid:
          type: string
          format: uuid
        startDate:
          type: string
          format: date
        stopDate:
          type: string
          format: date
      description: Caretech product
      example:
        createdAt: '2017-10-02T21:10:43.000+02:00'
        id: 1
        manufacturer: Nedap
        name: Nedap Luna
        orderable: false
        updatedAt: '2017-10-02T21:10:43.000+02:00'
        uuid: 042f53df-37e5-4ad7-af77-16a212763bba
        startDate: '2024-01-02'
        stopDate: '2024-04-17'
      xml:
        name: productDto
    caretech.ProductAllocation:
      required:
      - clientId
      - productInstance
      type: object
      properties:
        clientId:
          type: integer
          format: int64
        createdAt:
          type: string
          format: date-time
        employeeUuid:
          type: string
          format: uuid
        id:
          type: integer
          format: int64
          x-cupido-id: true
        productInstance:
          $ref: '#/components/schemas/caretech.ProductInstanceDto'
        requestDate:
          type: string
          format: date
        startDate:
          type: string
          format: date
        stopDate:
          type: string
          format: date
        status:
          allOf:
          - $ref: '#/components/schemas/caretech.Status'
          description: The status of a product allocation, can be REQUEST, ACTIVE, INACTIVE or UNKNOWN
        updatedAt:
          type: string
          format: date-time
        uuid:
          type: string
          format: uuid
      description: Caretech product which is allocated by a client
      example:
        clientId: 1
        createdAt: '2017-10-02T21:10:43.000+02:00'
        employeeUuid: 042f53df-37e5-4ad7-af77-16a212763bba
        id: 4
        productInstance:
          createdAt: '2017-10-02T21:10:43.000+02:00'
          externalId: serial-12345678
          id: 56
          product:
            createdAt: '2017-10-02T21:10:43.000+02:00'
            id: 1
            manufacturer: Nedap
            name: Nedap Luna
            updatedAt: '2017-10-02T21:10:43.000+02:00'
            uuid: 042f53df-37e5-4ad7-af77-16a212763bba
          updatedAt: '2017-10-02T21:10:43.000+02:00'
          uuid: 042f53df-37e5-4ad7-af77-16a212763bba
        requestDate: '2024-03-10'
        startDate: '2024-03-11'
        stopDate: '2024-03-12'
        status: INACTIVE
        updatedAt: '2017-10-02T21:10:43.000+02:00'
        uuid: 042f53df-37e5-4ad7-af77-16a212763bba
      xml:
        name: productAllocation
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
