openapi: 3.2.0
info:
  title: Nedap Dossier.omaha.Intervention Category API
  version: 0.0.0
  description: 'Operations tagged dossier.omaha.InterventionCategory across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: dossier.omaha.InterventionCategory
paths:
  /t/dossier/omaha/intervention_categories:
    get:
      tags:
      - dossier.omaha.InterventionCategory
      summary: Returns every InterventionCategory available from the InterventionCategoryAPI
      operationId: dossier.omaha.InterventionCategoryAPI.all
      parameters:
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.omaha.list.InterventionCategoryList'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/omaha/intervention_categories
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/omaha/intervention_categories:
    get:
      tags:
      - dossier.omaha.InterventionCategory
      summary: Returns every InterventionCategory available from the InterventionCategoryAPI
      operationId: dossier.omaha.InterventionCategoryAPI.all
      parameters:
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.omaha.list.InterventionCategoryList'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/omaha/intervention_categories
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    dossier.omaha.InterventionCategory:
      type: object
      properties:
        classificationId:
          type: string
          x-cupido-id: true
        name:
          type: string
          description: (nl) Naam van deze actie
      description: 'Omaha soort actie '
      example:
        classificationId: Dummy
        name: Dummy
      xml:
        name: omahaInterventionCategory
    dossier.omaha.list.InterventionCategoryList:
      type: object
      properties:
        omahaInterventionCategories:
          type: array
          items:
            $ref: '#/components/schemas/dossier.omaha.InterventionCategory'
          xml:
            name: omahaInterventionCategory
      description: InterventionCategoryList model (no description)
      example:
        omahaInterventionCategories:
        - classificationId: intervention.category.teaching_guidance_counseling
          name: Adviseren, Instrueren, Begeleiden
        - classificationId: intervention.category.treatments_and_procedures
          name: Behandelen en procedures toepassen
      xml:
        name: omahaInterventionCategories
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
