openapi: 3.2.0
info:
  title: Nedap Dossier.omaha.Problem API
  version: 0.0.0
  description: 'Operations tagged dossier.omaha.Problem across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: dossier.omaha.Problem
paths:
  /t/dossier/omaha/problems:
    get:
      tags:
      - dossier.omaha.Problem
      summary: Returns every Problem available from the ProblemAPI
      operationId: dossier.omaha.ProblemAPI.all
      parameters:
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.omaha.list.ProblemList'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/omaha/problems
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/omaha/problems:
    get:
      tags:
      - dossier.omaha.Problem
      summary: Returns every Problem available from the ProblemAPI
      operationId: dossier.omaha.ProblemAPI.all
      parameters:
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.omaha.list.ProblemList'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/omaha/problems
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    dossier.omaha.Problem:
      type: object
      properties:
        classificationId:
          type: string
          x-cupido-id: true
        name:
          type: string
          description: (nl) Naam van dit gebied
        omahaDomain:
          allOf:
          - $ref: '#/components/schemas/dossier.omaha.Domain'
          description: (nl) Domein van dit gebied
        omahaSignsAndSymptoms:
          type: array
          items:
            $ref: '#/components/schemas/dossier.omaha.SignOrSymptom'
          description: (nl) Gerelateerde signalen en symptomen
          xml:
            wrapped: true
      description: 'Omaha definitie van ''gebied'' '
      example:
        classificationId: Dummy
        name: Dummy
        omahaDomain:
          classificationId: example
          name: example
        omahaSignsAndSymptoms:
        - classificationId: example
          name: example
          problemId: example
          textAllowed: true
        - classificationId: example
          name: example
          problemId: example
          textAllowed: true
      xml:
        name: omahaProblem
    dossier.omaha.SignOrSymptom:
      type: object
      properties:
        classificationId:
          type: string
          x-cupido-id: true
        name:
          type: string
          description: (nl) Naam van dit signaal/symptoom
        problemId:
          type: string
          description: Object id of the related problem
        textAllowed:
          type: boolean
          description: 'Indicates the presence of an extra textfield

            (nl) Geeft aan of er een extra tekstveld aanwezig is'
      description: 'Omaha definitie van ''signalen en symptomen'' '
      example:
        classificationId: Dummy
        name: Dummy
        problemId: some.classification.id
        textAllowed: true
      xml:
        name: omahaSignOrSymptom
    dossier.omaha.list.ProblemList:
      type: object
      properties:
        omahaProblems:
          type: array
          items:
            $ref: '#/components/schemas/dossier.omaha.Problem'
          xml:
            name: omahaProblem
      description: ProblemList model (no description)
      example:
        omahaProblems:
        - classificationId: classification.problem.health.physical_activity
          name: Fysieke activiteit
        - classificationId: classification.problem.health.substance_use
          name: Gebruik van verslavende middelen
      xml:
        name: omahaProblems
    dossier.omaha.Domain:
      type: object
      properties:
        classificationId:
          type: string
          x-cupido-id: true
        name:
          type: string
          description: (nl) Naam van dit domein
      description: 'Omaha Domein '
      example:
        classificationId: Dummy
        name: Dummy
      xml:
        name: omahaDomain
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
