openapi: 3.2.0
info:
  title: Nedap Tasque.Care Task Series API
  version: 0.0.0
  description: 'Operations tagged tasque.CareTaskSeries across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: tasque.CareTaskSeries
paths:
  /t/tasque/care_task_series:
    post:
      tags:
      - tasque.CareTaskSeries
      summary: Create CareTaskSeries
      operationId: tasque.CareTaskSeriesAPI.create
      requestBody:
        description: CareTaskSeries to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tasque.CareTaskSeries'
        required: true
      responses:
        '200':
          description: If successfully created the care task series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tasque.CareTaskSeries'
        '204':
          description: Success
          content: {}
      x-cupido-common-method: true
      x-replaced-by: /v0/taken/care_task_series
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/taken/care_task_series:
    post:
      tags:
      - tasque.CareTaskSeries
      summary: Create CareTaskSeries
      operationId: tasque.CareTaskSeriesAPI.create
      requestBody:
        description: CareTaskSeries to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tasque.CareTaskSeries'
        required: true
      responses:
        '200':
          description: If successfully created the care task series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tasque.CareTaskSeries'
        '204':
          description: Success
          content: {}
      x-cupido-common-method: true
      x-replacement-for:
      - /t/tasque/care_task_series
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    tasque.Subject:
      type: object
      properties:
        clientId:
          type: integer
          format: int64
        employeeId:
          type: integer
          format: int64
        locationId:
          type: integer
          format: int64
        teamId:
          type: integer
          format: int64
      description: A client, employee, location or team
      example:
        clientId: 1
        employeeId: 1
        locationId: 1
        teamId: 1
    tasque.CareTaskGroup:
      required:
      - namedPath
      type:
      - object
      - 'null'
      properties:
        id:
          type: string
          description: ID of task group provided by source
          readOnly: true
          x-cupido-id: true
        namedPath:
          type: string
          description: Name of the task group including hierarchy when nesting via '/'
        active:
          type:
          - boolean
          - 'null'
          description: True if task group is active globally
        qualityTask:
          type: boolean
          description: True if task group is active and tasks are visible in Kwaliteitsmonitor
        rights:
          type: array
          items:
            type: string
          description: A list of rights
      description: Group of tasks with the same subtype
      example:
        id: care_plan_renew
        namedPath: Dossier/Care plan/renewal
        active: true
        qualityTask: true
        rights:
        - client_overview
    RecurrenceType:
      title: RecurrenceType
      type:
      - string
      - 'null'
      oneOf:
      - title: SINGLE
        enum:
        - single
      - title: DAILY
        enum:
        - daily
      - title: WEEKLY
        enum:
        - weekly
      - title: MONTHLY_ON_DAY
        enum:
        - monthly_on_day
      - title: MONTHLY_ON_WEEK
        enum:
        - monthly_on_week
      - title: YEARLY
        enum:
        - yearly
      description: Frequency of the recurrence
      default: single
      example: single
    tasque.Executor:
      type: object
      properties:
        employeeId:
          type: integer
          format: int64
        locationId:
          type: integer
          format: int64
        teamId:
          type: integer
          format: int64
        expertiseProfileId:
          type: integer
          format: int64
        expertiseGroupId:
          type: integer
          format: int64
      description: Executor model (no description)
      example:
        employeeId: 1
        locationId: 1
        teamId: 1
        expertiseProfileId: 1
        expertiseGroupId: 1
    tasque.CareTaskSeries:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        uuid:
          type:
          - string
          - 'null'
          description: UUID from source or autogenerated to enforce uniqueness
          format: uuid
        type:
          type: string
          description: 'The type of the task

            <pre>

            Possible values:

            BeforeTask

            DuringTask

            </pre>'
        subType:
          type: string
          description: Type of task to group multiple tasks. For example care_plan_base_renew, survey_base_review, profile etc.
        subTypeId:
          type:
          - string
          - 'null'
          description: 'ID to uniquely identify the task in the subType.

            For example in care_plan_base_renew the client id and for survey_base_review the survey id, etc.'
        manual:
          type: boolean
          description: Manual tasks are allowed to mark as finished manually
        limitView:
          type: boolean
          description: True if the task should only be visible to the executors
        groupName:
          type: string
        name:
          type: string
          description: The title of the task
        comment:
          type:
          - string
          - 'null'
          description: A comment added to a task
        url:
          type:
          - string
          - 'null'
          description: URL to where the task can be executed
        validFrom:
          type: string
          description: Begin date of the task
          format: date
        validTo:
          type: string
          description: End date of the task
          format: date
        recurrenceType:
          allOf:
          - $ref: '#/components/schemas/RecurrenceType'
          description: 'If and when the task should reoccure

            <pre>

            single

            daily

            weekly

            monthly_on_day

            monthly_on_week

            yearly

            </pre>'
        startAfter:
          type:
          - string
          - 'null'
          description: The time on the validFrom date the task should be started to be executed
          format: time
        finishBefore:
          type:
          - string
          - 'null'
          description: The time on the validTo date the task should be finished before
          format: time
        expectedDuration:
          type:
          - integer
          - 'null'
          description: Expected duration of task in seconds
          format: int32
          default: 0
        monday:
          type: boolean
          description: True if task happens on Monday
        tuesday:
          type: boolean
          description: True if task happens on Tuesday
        wednesday:
          type: boolean
          description: True if task happens on Wednesday
        thursday:
          type: boolean
          description: True if task happens on Thursday
        friday:
          type: boolean
          description: True if task happens on Friday
        saturday:
          type: boolean
          description: True if task happens on Saturday
        sunday:
          type: boolean
          description: True if task happens on Sunday
        cycleInterval:
          type: integer
          description: The interval of the cycle based on the recurrence type
          format: int32
          default: 0
        cycleBase:
          type: string
          description: Date on which the task cycle starts
          format: date
          readOnly: true
        subject:
          allOf:
          - $ref: '#/components/schemas/tasque.Subject'
          description: A client, employee, location or team
        executors:
          type: array
          items:
            $ref: '#/components/schemas/tasque.Executor'
          description: A list of employees, locations, teams, expertise profiles or expertise groups
        creatorId:
          type:
          - integer
          - 'null'
          description: ID of the person who created the task
          format: int64
        careTaskGroup:
          allOf:
          - $ref: '#/components/schemas/tasque.CareTaskGroup'
          description: Group of tasks with the same subtype
        autoExpireAfter:
          type:
          - integer
          - 'null'
          description: Amount of days after which the task should automatically expire
          format: int64
        morning:
          type: boolean
          description: True if task should happen in the morning
        afternoon:
          type: boolean
          description: True is task should happen in the afternoon
        evening:
          type: boolean
          description: True is task should happen in the evening
        night:
          type: boolean
          description: True is task should happen in the night
        rights:
          type: array
          items:
            type: string
          description: A list of rights
        hideExpiredSubject:
          type: boolean
      description: Care Task series domain model used by Cupido system. Only used for creating new care tasks
      example:
        id: 1
        uuid: abca58ed-0138-4aec-87c6-5d391e98161b
        type: before
        subType: CarePlan
        subTypeId: '12'
        manual: true
        limitView: true
        groupName: groep
        name: Renew care plan
        comment: no comment
        url: /client/view/13/careplan
        validFrom: '2012-08-02'
        validTo: '2012-09-02'
        recurrenceType: single
        startAfter: '12:00:00.000'
        finishBefore: '16:00:00.000'
        expectedDuration: 120
        monday: true
        tuesday: true
        wednesday: true
        thursday: true
        friday: true
        saturday: true
        sunday: true
        cycleInterval: 1
        cycleBase: '2012-08-02'
        subject:
          clientId: 13
        executors:
        - employeeId: 1
        creatorId: 12
        careTaskGroup:
          id: care_plan_renew
          namedPath: Dossier/Care plan/renewal
          qualityTask: true
        autoExpireAfter: 5
        morning: true
        afternoon: true
        evening: true
        night: true
        rights:
        - client_overview
        hideExpiredSubject: true
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
