openapi: 3.2.0
info:
  title: Nedap Openehr.Composition Wrapper API
  version: 0.0.0
  description: 'Operations tagged openehr.CompositionWrapper across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: openehr.CompositionWrapper
paths:
  /t/openehr/composition_wrappers:
    get:
      tags:
      - openehr.CompositionWrapper
      summary: Finds all CompositionWrappers of all clients that are an instance of the given…
      description: This API supports pagination by using limit, and by default will only return the 20 most recent results.
      operationId: openehr.CompositionWrapperAPI.all
      parameters:
      - name: client_id
        in: query
        description: The client id
        schema:
          type: integer
          format: int64
      - name: archetype_id
        in: query
        description: Id of the archetype that the requested compositions should be an instance of
        schema:
          type: string
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the compositions. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      - name: with_incomplete
        in: query
        description: Set to true to also include compositions with lifecycleState INCOMPLETE. By default only compositions with lifecycleState COMPLETE are included.
        schema:
          type: boolean
      - name: limit
        in: query
        description: Limits the number of results returned
        schema:
          maximum: 10000
          minimum: 1
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the number of records of the first result.
        schema:
          type: integer
          format: int32
      - name: valid_from
        in: query
        description: Starting time
        schema:
          type: string
          format: date
      - name: valid_to
        in: query
        description: End time
        schema:
          type: string
          format: date
      - name: updated_since
        in: query
        description: Fetch only the compositions that were updated on or after the given date
        schema:
          type: string
          format: local-date-time
        example: '2014-12-29T00:00:00'
      - name: item_tag_key
        in: query
        description: Fetch only the compositions associated with any of the provided item tag keys
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: module_uuid
        in: query
        description: UUID's of modules that the archetypes of the requested compositions should belong to
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: with_abandoned
        in: query
        description: Set to true to also include compositions with lifecycleState ABANDONED. By default only compositions with lifecycleState COMPLETE are included.
        schema:
          type: boolean
      - name: with_inactive
        in: query
        description: Set to true to also include compositions with lifecycleState INACTIVE. By default only compositions with lifecycleState COMPLETE are included.
        schema:
          type: boolean
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.list.CompositionWrapperList'
        '400':
          description: Limit exceeds bounds (1-10000)
        '404':
          description: When the clientId does not exist
      x-cupido-common-method: true
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers
      deprecated: true
      x-deprecated-since: 19-11-2025
    post:
      tags:
      - openehr.CompositionWrapper
      summary: Create CompositionWrapper
      description: Composition data can be provided by means of either paths and values or ReferenceModelObject. A provided ReferenceModelObject will be deserialized using the standard-compliant Jackson deserializer.
      operationId: openehr.CompositionWrapperAPI.createV2
      parameters:
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the composition. The default value is PATHS_AND_VALUES. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: false
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      requestBody:
        description: CompositionWrapper to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/openehr.CompositionWrapper'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.CompositionWrapper'
        '400':
          description: When the composition could not be created because it failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.CompositionValidationErrorResponse'
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers
      deprecated: true
      x-deprecated-since: 19-11-2025
    delete:
      tags:
      - openehr.CompositionWrapper
      summary: Deletes multiple Compositions by given id's
      operationId: openehr.CompositionWrapperAPI.deleteMultiple
      parameters:
      - name: id
        in: query
        description: A list with Identifiers of CompositionWrappers to delete
        required: true
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '204':
          description: Deleted
        '404':
          description: When one or more compositions do not exist or are deleted
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/openehr/composition_wrappers/all:
    get:
      tags:
      - openehr.CompositionWrapper
      summary: Finds all CompositionWrappers of all clients that are an instance of the given…
      description: 'This API supports pagination by using limit, and by default will only return the 20 most recent results.


        Deprecated operation, please use ''openehr.CompositionWrapperAPI.all'' instead'
      operationId: openehr.CompositionWrapperAPI.all2
      parameters:
      - name: client_id
        in: query
        description: The client id
        schema:
          type: integer
          format: int64
      - name: archetype_id
        in: query
        description: Id of the archetype that the requested compositions should be an instance of
        schema:
          type: string
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the compositions. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      - name: with_incomplete
        in: query
        description: Set to true to also include compositions with lifecycleState INCOMPLETE. By default only compositions with lifecycleState COMPLETE are included.
        schema:
          type: boolean
      - name: limit
        in: query
        description: Limits the number of results returned
        schema:
          maximum: 10000
          minimum: 1
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the number of records of the first result.
        schema:
          type: integer
          format: int32
      - name: valid_from
        in: query
        description: Starting time
        schema:
          type: string
          format: date
      - name: valid_to
        in: query
        description: End time
        schema:
          type: string
          format: date
      - name: updated_since
        in: query
        description: Fetch only the compositions that were updated on or after the given date
        schema:
          type: string
          format: local-date-time
        example: '2014-12-29T00:00:00'
      - name: item_tag_key
        in: query
        description: Fetch only the compositions associated with any of the provided item tag keys
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: module_uuid
        in: query
        description: UUID's of modules that the archetypes of the requested compositions should belong to
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: with_abandoned
        in: query
        description: Set to true to also include compositions with lifecycleState ABANDONED. By default only compositions with lifecycleState COMPLETE are included.
        schema:
          type: boolean
      - name: with_inactive
        in: query
        description: Set to true to also include compositions with lifecycleState INACTIVE. By default only compositions with lifecycleState COMPLETE are included.
        schema:
          type: boolean
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.list.CompositionWrapperList'
        '400':
          description: Limit exceeds bounds (1-10000)
        '404':
          description: When the clientId does not exist
      x-cupido-common-method: true
      deprecated: true
      x-deprecated-since: 03-05-2023
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers
    servers:
    - url: https://api-development.ons.io
  /t/openehr/composition_wrappers/{id}:
    get:
      tags:
      - openehr.CompositionWrapper
      summary: Finds a compositionWrapper in the requested form
      operationId: openehr.CompositionWrapperAPI.byId
      parameters:
      - name: id
        in: path
        description: The id of the composition
        required: true
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the composition. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.CompositionWrapper'
        '404':
          description: When the composition does not exist or is deleted
      x-cupido-common-method: true
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    put:
      tags:
      - openehr.CompositionWrapper
      summary: Updates the given CompositionWrapper
      description: Updated composition data can be provided by means of either paths and values or ReferenceModelObject. A provided ReferenceModelObject will be deserialized using the standard-compliant Jackson deserializer.
      operationId: openehr.CompositionWrapperAPI.updateV2
      parameters:
      - name: id
        in: path
        description: The id of the composition
        required: true
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the composition. The default value is PATHS_AND_VALUES. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: false
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      requestBody:
        description: CompositionWrapper to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/openehr.CompositionWrapper'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.CompositionWrapper'
        '400':
          description: When the composition could not be updated because it failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.CompositionValidationErrorResponse'
        '404':
          description: When the composition does not exist or is deleted
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    delete:
      tags:
      - openehr.CompositionWrapper
      summary: Deletes the CompositionWrapper with given id
      operationId: openehr.CompositionWrapperAPI.delete
      parameters:
      - name: id
        in: path
        description: The id of the composition
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.CompositionWrapper'
        '404':
          description: When the composition does not exist or is deleted
      x-cupido-common-method: true
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/openehr/composition_wrappers/{id}/composition_versions:
    get:
      tags:
      - openehr.CompositionWrapper
      summary: Finds all CompositionVersionWrappers of a given composition
      description: 'Finds all {@link CompositionVersionWrapper}s of a given composition.

        Contains logic for both authorized and non-authorized API usage.

        This API supports pogination by using limit and offset. By default will only the 20 most recent results.'
      operationId: openehr.CompositionWrapperAPI.compositionVersions
      parameters:
      - name: id
        in: path
        description: The id of the composition
        required: true
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the composition. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      - name: limit
        in: query
        description: The amount of {@link CompositionVersionWrapper}s should be returned
        schema:
          maximum: 10000
          minimum: 1
          type: integer
          format: int32
          default: 20
      - name: offset
        in: query
        description: Offsets the number of records of the first result
        schema:
          type: integer
          format: int32
      - name: client_id
        in: query
        description: The client id
        schema:
          type: integer
          format: int64
      - name: lifecycle_state
        in: query
        description: 'List of lifecycle states that composition versions should be in, should be called in style: ?lifecycle_state[]=ABANDONED&lifecycle_state[]=INACTIVE'
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/openehr.LifecycleState'
        example:
        - COMPLETE
        - INACTIVE
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.list.CompositionVersionWrapperList'
        '400':
          description: Limit exceeds bounds (1-10000)
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/{id}/composition_versions
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/openehr/composition_wrappers/{id}/incoming_links:
    get:
      tags:
      - openehr.CompositionWrapper
      summary: Finds all reference model objects linking to given composition that are an…
      description: This API supports pagination by using limit, and by default will only return the 20 most recent results.
      operationId: openehr.CompositionWrapperAPI.incomingLinks
      parameters:
      - name: id
        in: path
        description: The id of the composition
        required: true
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the reference model object. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      - name: archetype_id
        in: query
        description: List of archetype Ids that the requested compositions should be an instance of
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Limits the number of results returned
        schema:
          maximum: 10000
          minimum: 1
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the number of records of the first result.
        schema:
          type: integer
          format: int32
      - name: valid_from
        in: query
        description: Starting time
        schema:
          type: string
          format: date
      - name: valid_to
        in: query
        description: End time
        schema:
          type: string
          format: date
      - name: module_uuid
        in: query
        description: UUID's of modules that the archetypes of the requested compositions should belong to
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: lifecycle_state
        in: query
        description: 'List of lifecycle states that the incoming links should be in, should be called in style: ?lifecycle_state=ABANDONED&lifecycle_state=INACTIVE'
        required: false
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/openehr.LifecycleState'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.list.LinkedReferenceModelObjectWrapperList'
        '400':
          description: Limit exceeds bounds (1-10000)
        '404':
          description: When the composition does not exist or is deleted
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/{id}/incoming_links
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/openehr/composition_wrappers/by_item_tags:
    post:
      tags:
      - openehr.CompositionWrapper
      summary: Returns all compositions that contain all given item tags
      description: Only compositions that match all item tags with key and/or value are returned (AND semantics). At least one item tag needs to be provided and each should have a key and optionally a value. If an archetype id is provided, only the compositions of that archetype are returned. Results are ordered by first event time, most recent first. If module uuid's are provided, only the archetypes that are assigned to these modules are returned.
      operationId: openehr.CompositionWrapperAPI.byItemTags
      parameters:
      - name: client_id
        in: query
        description: The client id.
        required: true
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: The requested form of the compositions.
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      - name: archetype_id
        in: query
        description: Id of the archetype that the requested compositions should be an instance of.
        required: false
        schema:
          type: string
      - name: module_uuid
        in: query
        description: UUID's of modules that the archetypes of the requested compositions should belong to.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: offset
        in: query
        description: Offsets the number of records of the first result.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: limit
        in: query
        description: Limits the number of results returned.
        required: false
        schema:
          maximum: 10000
          minimum: 1
          type: integer
          format: int32
          default: 20
      requestBody:
        description: The item tags that the returned compositions must all match where key is mandatory and value optional.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/openehr.list.ItemTagList'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.list.CompositionWrapperList'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/by_item_tags
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/openehr/composition_wrappers/evaluate:
    post:
      tags:
      - openehr.CompositionWrapper
      summary: Posts a compositionWrapper and returns the ruleEvaluation
      description: Composition data can be provided by means of either paths and values or ReferenceModelObject. A provided ReferenceModelObject will be deserialized using the standard-compliant Jackson deserializer.
      operationId: openehr.CompositionWrapperAPI.evaluate
      parameters:
      - name: save_temporary_composition
        in: query
        description: When true, this will save the provided composition as temporary composition.
        schema:
          type: boolean
      requestBody:
        description: The posted CompositionWrapper, containing the structure of the paths and values.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/openehr.CompositionWrapper'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.RuleEvaluationResult'
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/evaluate
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/openehr/composition_wrappers/export_to_xlsx:
    get:
      tags:
      - openehr.CompositionWrapper
      summary: Returns an XLSX file with the content of all compositions within a clients ehr…
      operationId: openehr.CompositionWrapperAPI.exportToXLSX
      parameters:
      - name: client_id
        in: query
        description: client id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '404':
          description: When the clientId does not exist
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/export_to_xlsx
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/openehr/composition_wrappers/plan_elements:
    get:
      tags:
      - openehr.CompositionWrapper
      summary: Lists all plan element compositions associated with the requested executor…
      description: A provided archetype id for filtering must be (a specialization of) openEHR-EHR-COMPOSITION.care_plan-plan_element. If no executor group names are provided, all plan elements are returned. Matches also direct parent and child groups of the provided executor group names. If a client id is provided, only the compositions of that client are returned. Results are ordered by first event time, most recent first. If module UUIDs are provided, only the archetypes that are assigned to these modules are returned.
      operationId: openehr.CompositionWrapperAPI.planElementCompositions
      parameters:
      - name: client_id
        in: query
        description: The client id, when given only the compositions of that client are returned
        required: false
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: The requested form of the compositions
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      - name: archetype_id
        in: query
        description: Id of the archetype that the requested compositions should be an instance of, must be (a specialization of) openEHR-EHR-COMPOSITION.care_plan-plan_element
        required: false
        schema:
          type: string
      - name: executor_group_name
        in: query
        description: Names of the executor employee groups that the requested plan elements should be assigned to
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: lifecycle_state
        in: query
        description: List of lifecycle states that the requested compositions should be in
        required: false
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/openehr.LifecycleState'
      - name: module_uuid
        in: query
        description: UUIDs of modules that the archetypes of the requested compositions should belong to
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: offset
        in: query
        description: Offsets the number of records of the first result.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: limit
        in: query
        description: Limits the number of results returned
        required: false
        schema:
          maximum: 10000
          minimum: 1
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.list.CompositionWrapperList'
        '400':
          description: Invalid request
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/plan_elements
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/openehr/composition_wrappers/selected_values:
    post:
      tags:
      - openehr.CompositionWrapper
      summary: Query composition data by archetype and path
      description: Queries values from compositions based on the requested archetypes and paths, optionally limited by a start and/or end date/time. Returns values for the requested paths from compositions that match the requested archetype ids or specializations thereof. The result is ordered by first event time descending.
      operationId: openehr.CompositionWrapperAPI.selectedValues
      parameters:
      - name: client_id
        in: query
        description: The id of the client in Ons Administratie for which the data is requested
        required: true
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the compositions. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      - name: with_authorized_employee_groups
        in: query
        description: Set this to true if the response should also include the employee groups who are allowed to read or update the composition
        schema:
          type: boolean
          default: false
      - name: with_item_tags
        in: query
        description: Set this to true if the response should also include the item tags connected to the composition
        schema:
          type: boolean
          default: false
      - name: lifecycle_state
        in: query
        description: 'List of lifecycle states that the compositions should be in, should be called in style: ?lifecycle_state=ABANDONED&lifecycle_state=INACTIVE'
        required: false
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/openehr.LifecycleState'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/openehr.list.ArchetypeSelectionList'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.list.CompositionValuesForArchetypeList'
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/selected_values
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/openehr/vvt_care_profiles/{careplan_id}:
    get:
      tags:
      - openehr.CompositionWrapper
      summary: Finds a VVT care profile compositionWrapper in the requested form
      operationId: openehr.CompositionWrapperAPI.byVvtCareProfileCareplanId
      parameters:
      - name: careplan_id
        in: path
        description: The id of the careplan for which to request the vvt care profile
        required: true
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the vvt care profile composition. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.CompositionWrapper'
        '404':
          description: When the vvt care profile composition does not exist or is deleted
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/vvt_care_profiles/{careplan_id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/openehr/vvt_care_profiles/{careplan_id}/copy:
    post:
      tags:
      - openehr.CompositionWrapper
      summary: Copies a VVT care profile compositionWrapper to a new careplan
      description: 'This will update the event time of the observation in

        the composition to the date time this was copied'
      operationId: openehr.CompositionWrapperAPI.copyVvtCareProfile
      parameters:
      - name: careplan_id
        in: path
        description: The id of the careplan from which to copy the vvt care profile
        required: true
        schema:
          type: integer
          format: int64
      - name: new_careplan_id
        in: query
        description: The id of the careplan for which to create a vvt care profile
        required: true
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the vvt care profile composition. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.CompositionWrapper'
        '404':
          description: When the vvt care profile composition does not exist or is deleted
      x-replaced-by: /v0/openehr_dossier/back_channel/unauthorized/vvt_care_profiles/{careplan_id}/copy
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers:
    get:
      tags:
      - openehr.CompositionWrapper
      summary: Finds all CompositionWrappers of all clients that are an instance of the given…
      description: This API supports pagination by using limit, and by default will only return the 20 most recent results.
      operationId: openehr.CompositionWrapperAPI.all
      parameters:
      - name: client_id
        in: query
        description: The client id
        schema:
          type: integer
          format: int64
      - name: archetype_id
        in: query
        description: Id of the archetype that the requested compositions should be an instance of
        schema:
          type: string
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the compositions. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      - name: with_incomplete
        in: query
        description: Set to true to also include compositions with lifecycleState INCOMPLETE. By default only compositions with lifecycleState COMPLETE are included.
        schema:
          type: boolean
      - name: limit
        in: query
        description: Limits the number of results returned
        schema:
          maximum: 10000
          minimum: 1
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the number of records of the first result.
        schema:
          type: integer
          format: int32
      - name: valid_from
        in: query
        description: Starting time
        schema:
          type: string
          format: date
      - name: valid_to
        in: query
        description: End time
        schema:
          type: string
          format: date
      - name: updated_since
        in: query
        description: Fetch only the compositions that were updated on or after the given date
        schema:
          type: string
          format: local-date-time
        example: '2014-12-29T00:00:00'
      - name: item_tag_key[]
        in: query
        description: Fetch only the compositions associated with any of the provided item tag keys
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
        x-original-parameter:
          name: item_tag_key
      - name: module_uuid[]
        in: query
        description: UUID's of modules that the archetypes of the requested compositions should belong to
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        x-original-parameter:
          name: module_uuid
      - name: with_abandoned
        in: query
        description: Set to true to also include compositions with lifecycleState ABANDONED. By default only compositions with lifecycleState COMPLETE are included.
        schema:
          type: boolean
      - name: with_inactive
        in: query
        description: Set to true to also include compositions with lifecycleState INACTIVE. By default only compositions with lifecycleState COMPLETE are included.
        schema:
          type: boolean
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.list.CompositionWrapperList'
        '400':
          description: Limit exceeds bounds (1-10000)
        '404':
          description: When the clientId does not exist
      x-cupido-common-method: true
      x-replacement-for:
      - /t/openehr/composition_wrappers
      - /t/openehr/composition_wrappers/all
    post:
      tags:
      - openehr.CompositionWrapper
      summary: Create CompositionWrapper
      description: Composition data can be provided by means of either paths and values or ReferenceModelObject. A provided ReferenceModelObject will be deserialized using the standard-compliant Jackson deserializer.
      operationId: openehr.CompositionWrapperAPI.createV2
      parameters:
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the composition. The default value is PATHS_AND_VALUES. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: false
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      requestBody:
        description: CompositionWrapper to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/openehr.CompositionWrapper'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.CompositionWrapper'
        '400':
          description: When the composition could not be created because it failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.CompositionValidationErrorResponse'
      x-replacement-for:
      - /t/openehr/composition_wrappers
    delete:
      tags:
      - openehr.CompositionWrapper
      summary: Deletes multiple Compositions by given id's
      operationId: openehr.CompositionWrapperAPI.deleteMultiple
      parameters:
      - name: id[]
        in: query
        description: A list with Identifiers of CompositionWrappers to delete
        required: true
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
        x-original-parameter:
          name: id
      responses:
        '204':
          description: Deleted
        '404':
          description: When one or more compositions do not exist or are deleted
      x-replacement-for:
      - /t/openehr/composition_wrappers
    servers:
    - url: https://api-development.ons.io
  /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/{id}:
    get:
      tags:
      - openehr.CompositionWrapper
      summary: Finds a compositionWrapper in the requested form
      operationId: openehr.CompositionWrapperAPI.byId
      parameters:
      - name: id
        in: path
        description: The id of the composition
        required: true
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the composition. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.CompositionWrapper'
        '404':
          description: When the composition does not exist or is deleted
      x-cupido-common-method: true
      x-replacement-for:
      - /t/openehr/composition_wrappers/{id}
    put:
      tags:
      - openehr.CompositionWrapper
      summary: Updates the given CompositionWrapper
      description: Updated composition data can be provided by means of either paths and values or ReferenceModelObject. A provided ReferenceModelObject will be deserialized using the standard-compliant Jackson deserializer.
      operationId: openehr.CompositionWrapperAPI.updateV2
      parameters:
      - name: id
        in: path
        description: The id of the composition
        required: true
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the composition. The default value is PATHS_AND_VALUES. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: false
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      requestBody:
        description: CompositionWrapper to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/openehr.CompositionWrapper'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.CompositionWrapper'
        '400':
          description: When the composition could not be updated because it failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.CompositionValidationErrorResponse'
        '404':
          description: When the composition does not exist or is deleted
      x-replacement-for:
      - /t/openehr/composition_wrappers/{id}
    delete:
      tags:
      - openehr.CompositionWrapper
      summary: Deletes the CompositionWrapper with given id
      operationId: openehr.CompositionWrapperAPI.delete
      parameters:
      - name: id
        in: path
        description: The id of the composition
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.CompositionWrapper'
        '404':
          description: When the composition does not exist or is deleted
      x-cupido-common-method: true
      x-replacement-for:
      - /t/openehr/composition_wrappers/{id}
    servers:
    - url: https://api-development.ons.io
  /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/{id}/composition_versions:
    get:
      tags:
      - openehr.CompositionWrapper
      summary: Finds all CompositionVersionWrappers of a given composition
      description: 'Finds all {@link CompositionVersionWrapper}s of a given composition.

        Contains logic for both authorized and non-authorized API usage.

        This API supports pogination by using limit and offset. By default will only the 20 most recent results.'
      operationId: openehr.CompositionWrapperAPI.compositionVersions
      parameters:
      - name: id
        in: path
        description: The id of the composition
        required: true
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the composition. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      - name: limit
        in: query
        description: The amount of {@link CompositionVersionWrapper}s should be returned
        schema:
          maximum: 10000
          minimum: 1
          type: integer
          format: int32
          default: 20
      - name: offset
        in: query
        description: Offsets the number of records of the first result
        schema:
          type: integer
          format: int32
      - name: client_id
        in: query
        description: The client id
        schema:
          type: integer
          format: int64
      - name: lifecycle_state[]
        in: query
        description: 'List of lifecycle states that composition versions should be in, should be called in style: ?lifecycle_state[]=ABANDONED&lifecycle_state[]=INACTIVE'
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/openehr.LifecycleState'
        example:
        - COMPLETE
        - INACTIVE
        x-original-parameter:
          name: lifecycle_state
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.list.CompositionVersionWrapperList'
        '400':
          description: Limit exceeds bounds (1-10000)
      x-replacement-for:
      - /t/openehr/composition_wrappers/{id}/composition_versions
    servers:
    - url: https://api-development.ons.io
  /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/{id}/incoming_links:
    get:
      tags:
      - openehr.CompositionWrapper
      summary: Finds all reference model objects linking to given composition that are an…
      description: This API supports pagination by using limit, and by default will only return the 20 most recent results.
      operationId: openehr.CompositionWrapperAPI.incomingLinks
      parameters:
      - name: id
        in: path
        description: The id of the composition
        required: true
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the reference model object. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      - name: archetype_id[]
        in: query
        description: List of archetype Ids that the requested compositions should be an instance of
        schema:
          type: array
          items:
            type: string
        x-original-parameter:
          name: archetype_id
      - name: limit
        in: query
        description: Limits the number of results returned
        schema:
          maximum: 10000
          minimum: 1
          type: integer
          format: int32
      - name: offset
        in: query
        description: Offsets the number of records of the first result.
        schema:
          type: integer
          format: int32
      - name: valid_from
        in: query
        description: Starting time
        schema:
          type: string
          format: date
      - name: valid_to
        in: query
        description: End time
        schema:
          type: string
          format: date
      - name: module_uuid[]
        in: query
        description: UUID's of modules that the archetypes of the requested compositions should belong to
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        x-original-parameter:
          name: module_uuid
      - name: lifecycle_state
        in: query
        description: 'List of lifecycle states that the incoming links should be in, should be called in style: ?lifecycle_state=ABANDONED&lifecycle_state=INACTIVE'
        required: false
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/openehr.LifecycleState'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.list.LinkedReferenceModelObjectWrapperList'
        '400':
          description: Limit exceeds bounds (1-10000)
        '404':
          description: When the composition does not exist or is deleted
      x-replacement-for:
      - /t/openehr/composition_wrappers/{id}/incoming_links
    servers:
    - url: https://api-development.ons.io
  /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/by_item_tags:
    post:
      tags:
      - openehr.CompositionWrapper
      summary: Returns all compositions that contain all given item tags
      description: Only compositions that match all item tags with key and/or value are returned (AND semantics). At least one item tag needs to be provided and each should have a key and optionally a value. If an archetype id is provided, only the compositions of that archetype are returned. Results are ordered by first event time, most recent first. If module uuid's are provided, only the archetypes that are assigned to these modules are returned.
      operationId: openehr.CompositionWrapperAPI.byItemTags
      parameters:
      - name: client_id
        in: query
        description: The client id.
        required: true
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: The requested form of the compositions.
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      - name: archetype_id
        in: query
        description: Id of the archetype that the requested compositions should be an instance of.
        required: false
        schema:
          type: string
      - name: module_uuid[]
        in: query
        description: UUID's of modules that the archetypes of the requested compositions should belong to.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        x-original-parameter:
          name: module_uuid
      - name: offset
        in: query
        description: Offsets the number of records of the first result.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: limit
        in: query
        description: Limits the number of results returned.
        required: false
        schema:
          maximum: 10000
          minimum: 1
          type: integer
          format: int32
          default: 20
      requestBody:
        description: The item tags that the returned compositions must all match where key is mandatory and value optional.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/openehr.list.ItemTagList'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.list.CompositionWrapperList'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-replacement-for:
      - /t/openehr/composition_wrappers/by_item_tags
    servers:
    - url: https://api-development.ons.io
  /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/evaluate:
    post:
      tags:
      - openehr.CompositionWrapper
      summary: Posts a compositionWrapper and returns the ruleEvaluation
      description: Composition data can be provided by means of either paths and values or ReferenceModelObject. A provided ReferenceModelObject will be deserialized using the standard-compliant Jackson deserializer.
      operationId: openehr.CompositionWrapperAPI.evaluate
      parameters:
      - name: save_temporary_composition
        in: query
        description: When true, this will save the provided composition as temporary composition.
        schema:
          type: boolean
      requestBody:
        description: The posted CompositionWrapper, containing the structure of the paths and values.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/openehr.CompositionWrapper'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.RuleEvaluationResult'
      x-replacement-for:
      - /t/openehr/composition_wrappers/evaluate
    servers:
    - url: https://api-development.ons.io
  /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/export_to_xlsx:
    get:
      tags:
      - openehr.CompositionWrapper
      summary: Returns an XLSX file with the content of all compositions within a clients ehr…
      operationId: openehr.CompositionWrapperAPI.exportToXLSX
      parameters:
      - name: client_id
        in: query
        description: client id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '404':
          description: When the clientId does not exist
      x-replacement-for:
      - /t/openehr/composition_wrappers/export_to_xlsx
    servers:
    - url: https://api-development.ons.io
  /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/plan_elements:
    get:
      tags:
      - openehr.CompositionWrapper
      summary: Lists all plan element compositions associated with the requested executor…
      description: A provided archetype id for filtering must be (a specialization of) openEHR-EHR-COMPOSITION.care_plan-plan_element. If no executor group names are provided, all plan elements are returned. Matches also direct parent and child groups of the provided executor group names. If a client id is provided, only the compositions of that client are returned. Results are ordered by first event time, most recent first. If module UUIDs are provided, only the archetypes that are assigned to these modules are returned.
      operationId: openehr.CompositionWrapperAPI.planElementCompositions
      parameters:
      - name: client_id
        in: query
        description: The client id, when given only the compositions of that client are returned
        required: false
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: The requested form of the compositions
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      - name: archetype_id
        in: query
        description: Id of the archetype that the requested compositions should be an instance of, must be (a specialization of) openEHR-EHR-COMPOSITION.care_plan-plan_element
        required: false
        schema:
          type: string
      - name: executor_group_name[]
        in: query
        description: Names of the executor employee groups that the requested plan elements should be assigned to
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
        x-original-parameter:
          name: executor_group_name
      - name: lifecycle_state[]
        in: query
        description: List of lifecycle states that the requested compositions should be in
        required: false
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/openehr.LifecycleState'
        x-original-parameter:
          name: lifecycle_state
      - name: module_uuid[]
        in: query
        description: UUIDs of modules that the archetypes of the requested compositions should belong to
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        x-original-parameter:
          name: module_uuid
      - name: offset
        in: query
        description: Offsets the number of records of the first result.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: limit
        in: query
        description: Limits the number of results returned
        required: false
        schema:
          maximum: 10000
          minimum: 1
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.list.CompositionWrapperList'
        '400':
          description: Invalid request
      x-replacement-for:
      - /t/openehr/composition_wrappers/plan_elements
    servers:
    - url: https://api-development.ons.io
  /v0/openehr_dossier/back_channel/unauthorized/composition_wrappers/selected_values:
    post:
      tags:
      - openehr.CompositionWrapper
      summary: Query composition data by archetype and path
      description: Queries values from compositions based on the requested archetypes and paths, optionally limited by a start and/or end date/time. Returns values for the requested paths from compositions that match the requested archetype ids or specializations thereof. The result is ordered by first event time descending.
      operationId: openehr.CompositionWrapperAPI.selectedValues
      parameters:
      - name: client_id
        in: query
        description: The id of the client in Ons Administratie for which the data is requested
        required: true
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the compositions. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      - name: with_authorized_employee_groups
        in: query
        description: Set this to true if the response should also include the employee groups who are allowed to read or update the composition
        schema:
          type: boolean
          default: false
      - name: with_item_tags
        in: query
        description: Set this to true if the response should also include the item tags connected to the composition
        schema:
          type: boolean
          default: false
      - name: lifecycle_state
        in: query
        description: 'List of lifecycle states that the compositions should be in, should be called in style: ?lifecycle_state=ABANDONED&lifecycle_state=INACTIVE'
        required: false
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/openehr.LifecycleState'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/openehr.list.ArchetypeSelectionList'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.list.CompositionValuesForArchetypeList'
      x-replacement-for:
      - /t/openehr/composition_wrappers/selected_values
    servers:
    - url: https://api-development.ons.io
  /v0/openehr_dossier/back_channel/unauthorized/vvt_care_profiles/{careplan_id}:
    get:
      tags:
      - openehr.CompositionWrapper
      summary: Finds a VVT care profile compositionWrapper in the requested form
      operationId: openehr.CompositionWrapperAPI.byVvtCareProfileCareplanId
      parameters:
      - name: careplan_id
        in: path
        description: The id of the careplan for which to request the vvt care profile
        required: true
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the vvt care profile composition. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.CompositionWrapper'
        '404':
          description: When the vvt care profile composition does not exist or is deleted
      x-replacement-for:
      - /t/openehr/vvt_care_profiles/{careplan_id}
    servers:
    - url: https://api-development.ons.io
  /v0/openehr_dossier/back_channel/unauthorized/vvt_care_profiles/{careplan_id}/copy:
    post:
      tags:
      - openehr.CompositionWrapper
      summary: Copies a VVT care profile compositionWrapper to a new careplan
      description: 'This will update the event time of the observation in

        the composition to the date time this was copied'
      operationId: openehr.CompositionWrapperAPI.copyVvtCareProfile
      parameters:
      - name: careplan_id
        in: path
        description: The id of the careplan from which to copy the vvt care profile
        required: true
        schema:
          type: integer
          format: int64
      - name: new_careplan_id
        in: query
        description: The id of the careplan for which to create a vvt care profile
        required: true
        schema:
          type: integer
          format: int64
      - name: reference_model_object_form
        in: query
        description: 'The requested form of the vvt care profile composition. The options are:

          * **METADATA**: Return only the metadata. `referenceModelObject` and `pathsAndValues` will be empty.

          * **PATHS_AND_VALUES**: Return the `pathsAndValues`. `referenceModelObject` will be empty.

          * **RM_OBJECT**: Return the `referenceModelObject` in the older Nedap specific JSON format. Matches `ArchieJacksonConfiguration.createLegacyConfiguration` in the Archie library. `pathsAndValues` will be empty.

          * **RM_OBJECT_STANDARDS_COMPLIANT_JSON**: Return the `referenceModelObject` compliant with the openEHR JSON specification. Matches `ArchieJacksonConfiguration.createStandardsCompliant` in the Archie library. `pathsAndValues` will be empty.'
        required: true
        schema:
          $ref: '#/components/schemas/openehr.ReferenceModelObjectForm'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openehr.CompositionWrapper'
        '404':
          description: When the vvt care profile composition does not exist or is deleted
      x-replacement-for:
      - /t/openehr/vvt_care_profiles/{careplan_id}/copy
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    ErrorResponseEntry:
      title: ErrorResponseEntry
      type: object
      properties:
        field:
          type: string
        value:
          type: string
        message:
          type: string
      description: Error response entry model
      example:
        field: one
        value: empty
        message: field can not be empty
    openehr.list.CompositionValuesForArchetypeList:
      type: object
      properties:
        compositionValuesForArchetypes:
          type: array
          items:
            $ref: '#/components/schemas/openehr.CompositionValuesForArchetype'
      description: List of the requested archetype ids and the values for the matching compositions. Will contain one entry for each of the requested archetype ids.
      example:
        compositionValuesForArchetypes:
        - archetypeId: openEHR-EHR-OBSERVATION.bem.v1
          compositionValues:
          - archetypeId: openEHR-EHR-COMPOSITION.bem_ggz_report.v0.0.2
            versionedCompositionId: 5
            versionedCompositionUuid: e3d332a0-27bf-42f8-8d7c-0997a9b74ae9
            ehrId: 1
            clientId: 3
            composerId: 1
            composerName: Dhr. Mike Wazowski
            composerEmployeeId: 10
            timeCommitted: '2024-05-03T10:43:45.000+02:00'
            firstEventTime: '2023-05-03T10:43:45.000+02:00'
            lifecycleState: COMPLETE
            authorizedForUpdate: true
            authorizedEmployeeGroupsForRead:
            - id: 57
              employeeGroupType: EXPERTISE_GROUP
              name: TestGroup
              deleted: false
            authorizedEmployeeGroupsForUpdate:
            - id: 57
              employeeGroupType: EXPERTISE_GROUP
              name: TestGroup
              deleted: false
            valuesForPath:
            - path: /data[id2]/events[id3]/time/value
              values:
              - '"2021-06-16T11:18:30+0100"'
            - path: /data[id2]/events[id3]/data[id4]/items[id31]/items[id77.1]/value/value
              values:
              - '"Categorie 1: cliënt bestelt en gebruikt medicatie zelf"'
    openehr.list.ArchetypeSelectionList:
      type: object
      properties:
        archetypeSelections:
          type: array
          items:
            $ref: '#/components/schemas/openehr.ArchetypeSelection'
      description: List of archetypes and paths to request the values of
      example:
        archetypeSelections:
        - archetypeId: openEHR-EHR-OBSERVATION.bem.v1
          requestedPaths:
          - /data[id2]/events[id3]/time/value
          - /data[id2]/events[id3]/data[id4]/items[id31]/items[id77]/value/value
          startDateTime: '2022-09-07T01:00:00.000+02:00'
          endDateTime: '2023-09-14T23:59:59.000+02:00'
        - archetypeId: openEHR-EHR-OBSERVATION.six_minute_walking_test.v1.0.0
          requestedPaths:
          - /data[id2]/events[id3]/time/value
          - /data[id2]/events[id3]/data[id4]/items[id30]/value/magnitude
          startDateTime: '2022-08-03T00:00:00.000+02:00'
          endDateTime: '2023-06-01T00:00:00.000+02:00'
    openehr.LinkedReferenceModelObjectWrapper:
      type: object
      allOf:
      - $ref: '#/components/schemas/openehr.ReferenceModelObjectWrapper'
      properties:
        sourcePath:
          type:
          - string
          - 'null'
          description: 'String containing the path from where the link is made.

            Example: "/" or "/content[id0.2]/data[id2]/events[id3]".'
        targetEhrUri:
          type:
          - string
          - 'null'
          description: 'String containing the full target EHR URI of the link.

            Note: Some characters might be escaped, e.g. square brackets can be %5B and %5D and spaces can be %20.

            Example: "ehr:/32/compositions/42" or

            "ehr:compositions/20/content[id0.2]/data[id2]/events[id3]/data[id4]/items[id5.1]" or

            "ehr:compositions/20/content%5Bid0.2%5D/data%5Bid2%5D/events%5Bid3%5D/data%5Bid4%5D/items%5Bid5.1%5D".'
        targetPathInsideTopLevelStructure:
          type:
          - string
          - 'null'
          description: 'String containing target path inside the top level structure (composition).

            Null when linked to the composition root.

            Note: This will not contain escaped characters.

            Example: "/content[id0.2]/data[id2]/events[id3]/data[id4]/items[id5.1]".'
        linkMeaningValue:
          type:
          - string
          - 'null'
          description: 'String containing meaning value of the link.

            Example: "related information".'
        linkTypeValue:
          type:
          - string
          - 'null'
          description: 'String containing type value of the link.

            Example: "intake".'
      description: 'OpenEHR Linked Reference Model Object Wrapper model.

        Object to return an LinkedReferenceModelObjectWrapper.


        This object includes additional information about linked Reference Model Objects.


        Created on 19/02/2019.'
      example:
        id: 1
        ehrId: 1
        clientId: 1
        archetypeId: openEHR-EHR-COMPOSITION.wound.v0.0.0
        storedCompositionId: 5
        versionedCompositionUuid: e3d332a0-27bf-42f8-8d7c-0997a9b74ae8
        type: COMPOSITION
        firstEventTime: '2019-02-18T00:00:00.000+01:00'
        composerId: 9
        composerName: R den Doorn
        composerEmployeeId: 5
        timeCommitted: '2019-02-18T00:00:00.000+01:00'
        committerName: R den Doorn
        committerEmployeeId: 5
        authorizedForUpdate: true
        lifecycleState: COMPLETE
        referenceModelObject: '{"@type":"COMPOSITION","content":[{"@type":"OBSERVATION","archetype_node_id":"id0.0.100.1","links":[{"target":{"@type":"DV_EHR_URI","value":"ehr:compositions/97/content%5Bid0.2%5D/data%5Bid2%5D/events%5Bid3%5D"}}]}]}'
        pathsAndValues: '{"/content[id0.0.100.1,1]/links/target/value":"ehr:compositions/1/content%5Bid0.2%5D/data%5Bid2%5D/events%5Bid3%5D"}'
        authorizedEmployeeGroupsForRead: []
        authorizedEmployeeGroupsForUpdate:
        - id: 57
          employeeGroupType: EXPERTISE_GROUP
          name: TestGroup
          deleted: false
        - id: 58
          employeeGroupType: EXPERTISE_GROUP
          name: TestGroup
          deleted: false
        itemTags:
        - id: 59
          key: important
          value: value
          targetPath: /content[id0.1]/data[id2]/events[id3]/data[id4]/items[id5]
        updatedAt: '2019-02-18T00:00:00.000+01:00'
        createdAt: '2019-02-18T00:00:00.000+01:00'
        createdBy: R den Doorn
        sourcePath: /content[id0.0.100.1,1]
        targetEhrUri: ehr:compositions/1/content%5Bid0.2%5D/data%5Bid2%5D/events%5Bid3%5D
        targetPathInsideTopLevelStructure: /content[id0.2]/data[id2]/events[id3]
        linkMeaningValue: Meaning
        linkTypeValue: Type
        instructions: []
    openehr.InstructionState:
      enum:
      - PRE_ACTIVE
      - ACTIVE
      - INACTIVE
      - TERMINATED
      type: string
      description: The aggregated state of the instruction.
      example: TERMINATED
    openehr.list.ItemTagList:
      type: object
      properties:
        itemTags:
          type: array
          items:
            $ref: '#/components/schemas/openehr.ItemTag'
      description: List of openEHR ItemTags.
      example:
        itemTags:
        - id: 59
          key: important
          value: value
          targetPath: /content[id0.1]/data[id2]/events[id3]/data[id4]/items[id5]
    openehr.ReferenceModelObjectWrapper:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int64
          x-cupido-id: true
        ehrId:
          type:
          - integer
          - 'null'
          description: Integer containing the ehrId.
          format: int64
        clientId:
          type:
          - integer
          - 'null'
          description: 'Integer containing the clientId. This might be empty, since a reference model object is primarily linked to an

            ehr. An EHR might not have a link to a cupido client, for example if a client is not known in Ons Administratie.'
          format: int64
        archetypeId:
          type:
          - string
          - 'null'
          description: 'String containing the archetypeId of the archetype used.

            Example: "openEHR-EHR-CLUSTER.symptom_sign.v1.0.0"'
        storedCompositionId:
          type:
          - integer
          - 'null'
          description: 'Long containing the storedCompositionId, referring to the id of the object in Chiron.

            Integer containing the storedCompositionId, referring to the id of the object in Chiron.'
          format: int64
        versionedCompositionUuid:
          type: string
          description: UUID containing the versionedCompositionUuid, referring to the UUID of the object in Chiron.
        type:
          type:
          - string
          - 'null'
          description: 'String containing the type of object stored.

            Example: "composition", "archetyped_object" or "temporary_composition"'
        firstEventTime:
          type:
          - string
          - 'null'
          description: DateTime of the first event that took place when the reference model was created.
          format: date-time
        composerId:
          type:
          - integer
          - 'null'
          description: 'Long containing the composerId, referring to the composer of the object.

            Integer containing the composerId, referring to the composer of the object.

            Note: The composer is not always the same person as the person who commits the object.'
          format: int64
        composerName:
          type:
          - string
          - 'null'
          description: 'String containing the composerName, referring to the composer of the object.

            Note: The composer is not always the same person as the person who commits the object.'
        composerEmployeeId:
          type:
          - integer
          - 'null'
          description: 'Integer containing the employeeId in Ons Administratie of the composer. This can be empty when the composer

            is not known in Ons Administratie, or when just the name was recorded.

            Note: The composer is not always the same person as the person who commits the object.'
          format: int64
        timeCommitted:
          type:
          - string
          - 'null'
          description: Fetched from the contribution. Time that the composition was committed
          format: date-time
        committerName:
          type: string
          description: 'String containing the name of the committer.

            Note: The committer is not always the same person as the person who composes the object.'
        committerEmployeeId:
          type:
          - integer
          - 'null'
          description: 'Integer containing the employeeId in Ons Administratie of the committer. This can be empty when the committer

            is not known in Ons Administratie. The name of the committer is recorded in the committerName field.

            Note: The committer is not always the same person as the person who composes the object.'
          format: int64
        authorizedForUpdate:
          type:
          - boolean
          - 'null'
          description: 'Boolean to indicate that the current user is authorized to update this

            composition.


            True if authorizedEmployeeGroupsForUpdate is empty or the current user

            is a member of one of the authorizedEmployeeGroupsForUpdate.


            False if the user not a member of one of the

            authorizedEmployeeGroupsForUpdate.


            Null if no user information is available.'
        lifecycleState:
          type:
          - string
          - 'null'
          description: 'String containing the state of the ReferenceModelObject.

            Example: "COMPLETE", "INCOMPLETE" or "DELETED"'
        referenceModelObject:
          type:
          - string
          - 'null'
          description: 'String containing the JSON-blob with the actual OpenEHR Reference Object

            This is the actual referenceModelObject stored in Chiron, the openEHR database'
        pathsAndValues:
          type:
          - string
          - 'null'
          description: 'String containing the summarized structure of the paths and values of an stored object.

            This contains the same information as a fully fledged ReferenceModelObject, but combined in one data-structure.

            Example: {

            "/content[id3]/data[id4]/items[id7]/value/defining_code": "at2",

            "/category/defining_code": "at1",

            "/content[id3]/data[id4]/items[id9]/value/value": "2017-11-05T13:15:30Z",

            }'
        authorizedEmployeeGroupsForRead:
          type:
          - array
          - 'null'
          items:
            allOf:
            - $ref: '#/components/schemas/openehr.EmployeeGroup'
            xml:
              name: employeeGroup
          description: 'List of {@link EmployeeGroup}s who are by allowed to read this

            composition.


            An empty list means all employees are allowed to read this composition.'
        authorizedEmployeeGroupsForUpdate:
          type:
          - array
          - 'null'
          items:
            allOf:
            - $ref: '#/components/schemas/openehr.EmployeeGroup'
            xml:
              name: employeeGroup
          description: 'List of {@link EmployeeGroup}s who are allowed to update this

            composition.



            An empty list means all employees are allowed to update this

            composition.'
        itemTags:
          type: array
          items:
            $ref: '#/components/schemas/openehr.ItemTag'
          description: List of {@link ItemTag}s connected to this ReferenceModelObject.
        instructions:
          type: array
          items:
            $ref: '#/components/schemas/openehr.Instruction'
          description: List of instructions in the returned composition.
      description: 'OpenEHR Reference Model Object Wrapper model.

        Object to return an ReferenceModelObjectWrapper.

        This is the superclass of every object in an EHR, such as StoredComposition, ArchetypedObject or Observation.

        It also includes relevant metadata.


        See also https://www.openehr.org/releases/BASE/latest/docs/resource/resource.html


        Created on 08/06/2018.'
      example:
        id: 1
        ehrId: 1
        clientId: 1
        archetypeId: openEHR-EHR-COMPOSITION.text_report.v1.0.0
        storedCompositionId: 1
        versionedCompositionUuid: e3d332a0-27bf-42f8-8d7c-0997a9b74ae8
        type: COMPOSITION
        firstEventTime: '2018-06-08T00:00:00.000+02:00'
        composerId: 1
        composerName: Dhr. Mike Wazowski
        composerEmployeeId: 1
        timeCommitted: '2021-06-16T11:18:30.000+02:00'
        committerName: Dhr. Mike Wazowski
        committerEmployeeId: 1
        authorizedForUpdate: true
        lifecycleState: COMPLETE
        referenceModelObject: '{"@type":"COMPOSITION","archetype_details":{"@type":"ARCHETYPED","archetype_id":{"@type":"ARCHETYPE_ID","domain_concept":"text_report","qualified_rm_entity":"openEHR-EHR-COMPOSITION","rm_entity":"COMPOSITION","rm_name":"EHR","rm_originator":"openEHR","value":"openEHR-EHR-COMPOSITION.text_report.v1.0.0","versionId":"1.0.0","full_id":"openEHR-EHR-COMPOSITION.text_report.v1.0.0","semantic_id":"openEHR-EHR-COMPOSITION.text_report.v1"},"rm_version":"1.0.4"},"archetype_node_id":"id1.1","category":{"@type":"DV_CODED_TEXT","defining_code":{"@type":"CODE_PHRASE","code_string":"433","terminology_id":{"@type":"TERMINOLOGY_ID","value":"openehr"}},"mappings":[],"value":"event"},"composer":{"@type":"PARTY_IDENTIFIED","external_ref":{"@type":"PARTY_REF","id":{"@type":"HIER_OBJECT_ID","value":"com.nedap.NE0001.employee::2"},"namespace":"demographic","type":"PERSON"},"identifiers":[],"name":"administrator"},"content":[{"@type":"OBSERVATION","archetype_details":{"@type":"ARCHETYPED","archetype_id":{"@type":"ARCHETYPE_ID","domain_concept":"text_report","qualified_rm_entity":"openEHR-EHR-OBSERVATION","rm_entity":"OBSERVATION","rm_name":"EHR","rm_originator":"openEHR","value":"openEHR-EHR-OBSERVATION.text_report.v1.0.0","versionId":"1.0.0","full_id":"openEHR-EHR-OBSERVATION.text_report.v1.0.0","semantic_id":"openEHR-EHR-OBSERVATION.text_report.v1"},"rm_version":"1.0.4"},"archetype_node_id":"id0.2","data":{"@type":"HISTORY","archetype_node_id":"id2","events":[{"@type":"POINT_EVENT","archetype_node_id":"id3","data":{"@type":"ITEM_TREE","archetype_node_id":"id4","items":[{"@type":"ELEMENT","archetype_node_id":"id5","links":[],"name":{"@type":"DV_TEXT","mappings":[],"value":"Text report"},"path":"/content[id0.2]/data[id2]/events[id3]/data[id4]/items[id5]"}],"links":[],"name":{"@type":"DV_TEXT","mappings":[],"value":""},"path":"/content[id0.2]/data[id2]/events[id3]/data[id4]"},"links":[],"name":{"@type":"DV_TEXT","mappings":[],"value":"Point event"},"path":"/content[id0.2]/data[id2]/events[id3]","time":{"@type":"DV_DATE_TIME","other_reference_ranges":[],"value":"2021-06-16T11:18:30.000+02:00"}}],"links":[],"name":{"@type":"DV_TEXT","mappings":[],"value":""},"origin":{"@type":"DV_DATE_TIME","other_reference_ranges":[],"value":"2021-06-16T11:18:30.000+02:00"},"path":"/content[id0.2]/data[id2]"},"encoding":{"@type":"CODE_PHRASE","code_string":"UTF-8","terminology_id":{"@type":"TERMINOLOGY_ID","value":"IANA_character-sets"}},"language":{"@type":"CODE_PHRASE","code_string":"en","terminology_id":{"@type":"TERMINOLOGY_ID","value":"ISO_639-1"}},"links":[],"name":{"@type":"DV_TEXT","mappings":[],"value":"Text report"},"other_participations":[],"path":"/content[id0.2]","subject":{"@type":"PARTY_SELF"}}],"language":{"@type":"CODE_PHRASE","code_string":"en","terminology_id":{"@type":"TERMINOLOGY_ID","value":"ISO_639-1"}},"links":[],"name":{"@type":"DV_TEXT","mappings":[],"value":"Text report"},"path":"/","territory":{"@type":"CODE_PHRASE","code_string":"NL","terminology_id":{"@type":"TERMINOLOGY_ID","value":"ISO_3166-1"}}}'
        pathsAndValues: '{"/content[id0.2]/data[id2]/events[id3]/time/value": "2021-06-16T11:18:30.000+02:00", "/content[id0.2]/data[id2]/events[id3]/data[id4]/items[id5,1]": "Tekst rapportage test"}'
        authorizedEmployeeGroupsForRead: []
        authorizedEmployeeGroupsForUpdate:
        - id: 57
          employeeGroupType: EXPERTISE_GROUP
          name: TestGroup
          deleted: false
        - id: 58
          employeeGroupType: EXPERTISE_GROUP
          name: TestGroup
          deleted: false
        itemTags:
        - id: 59
          key: important
          value: value
          targetPath: /content[id0.2]/data[id2]/events[id3]/data[id4]/items[id5]
        - id: 60
          key: evaluation
          value: value
          targetPath: /content[id0.2]/data[id2]/events[id3]/data[id4]/items[id7]
        updatedAt: '2021-06-16T11:18:30.000+02:00'
        createdAt: '2018-06-08T00:00:00.000+02:00'
        createdBy: Dhr. Mike Wazowski
        instructions: []
    ErrorResponse:
      title: ErrorResponse
      type: object
      properties:
        errorResponseEntries:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseEntry'
          xml:
            wrapped: true
      description: Error response model
      example:
        errorResponseEntries:
        - field: one
          value: a
          message: field can not be empty
        - field: two
          value: a
          message: too short
    AuditedBase:
      title: AuditedBase
      type: object
      properties:
        updatedAt:
          type:
          - string
          - 'null'
          description: Dated Base extension.
          format: date-time
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        createdBy:
          type:
          - string
          - 'null'
      description: AuditedBase model (no description)
      example:
        updatedAt: '2014-12-29T00:00:00.000+01:00'
        createdAt: '2014-12-29T00:00:00.000+01:00'
        createdBy: example
    openehr.RuleEvaluationResult:
      type: object
      properties:
        compositionAfterRuleEvaluation:
          type:
          - string
          - 'null'
          description: String containing the JSON-blob with the openEHR referenceModelObject obtained after rule evaluation of the build composition in Chiron.
        evaluationResult:
          type:
          - string
          - 'null'
          description: 'String containing the evaluationResult

            Example:

            "evaluation_result": {

            "assertion_results": [],

            "paths_that_must_not_exist": [],

            "set_path_values": {},

            "paths_that_must_exist": []

            }'
          example: "\"evaluation_result\": {\n    \"assertion_results\": [],\n    \"paths_that_must_not_exist\": [],\n    \"set_path_values\": {},\n    \"paths_that_must_exist\": []\n}"
        validationMessages:
          type:
          - string
          - 'null'
          description: 'String containing the validationMessages

            Example: "validation_messages":

            "validation_messages": [

            {

            "archetype_path": "/category",

            "path": "/category",

            "human_readable_archetype_path": "/category",

            "message": "Attribute category of class COMPOSITION does not match existence 1..1",

            "type": "REQUIRED"

            }

            ]'
          example: "\"validation_messages\": [\n    {\n        \"archetype_path\": \"/category\",\n        \"path\": \"/category\",\n        \"human_readable_archetype_path\": \"/category\",\n        \"message\": \"Attribute category of class COMPOSITION does not match existence 1..1\",\n        \"type\": \"REQUIRED\"\n    }\n]"
      description: 'OpenEHR RuleEvaluationResult model.

        Object to return an RuleEvaluationResult, which checks the rules of an archetype.


        Created on 18/06/2018.'
      example:
[...]
