openapi: 3.2.0
info:
  title: Nedap Hour Type Category API
  version: 0.0.0
  description: 'Operations tagged HourTypeCategory across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: HourTypeCategory
paths:
  /t/hour_type_categories:
    get:
      tags:
      - HourTypeCategory
      summary: Returns every HourTypeCategory available from the HourTypeCategoryAPI
      operationId: HourTypeCategoryAPI.all
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.HourTypeCategoryList'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/hour_type_categories
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/hour_type_categories/{id}:
    get:
      tags:
      - HourTypeCategory
      summary: Get the Hour Type Category corresponding to the given id
      operationId: HourTypeCategoryAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting HourTypeCategory
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HourTypeCategory'
        '404':
          description: Hour type category not found
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/hour_type_categories/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/hour_type_categories/by_name/{name}:
    get:
      tags:
      - HourTypeCategory
      summary: Return the hour type category corresponding to the given name
      operationId: HourTypeCategoryAPI.byName
      parameters:
      - name: name
        in: path
        description: name of the hour type category
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HourTypeCategory'
        '404':
          description: Hour type category not found
      x-replaced-by: /v0/administration/hour_type_categories/by_name/{name}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/hour_type_categories:
    get:
      tags:
      - HourTypeCategory
      summary: Returns every HourTypeCategory available from the HourTypeCategoryAPI
      operationId: HourTypeCategoryAPI.all
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.HourTypeCategoryList'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/hour_type_categories
    servers:
    - url: https://api-development.ons.io
  /v0/administration/hour_type_categories/{id}:
    get:
      tags:
      - HourTypeCategory
      summary: Get the Hour Type Category corresponding to the given id
      operationId: HourTypeCategoryAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting HourTypeCategory
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HourTypeCategory'
        '404':
          description: Hour type category not found
      x-cupido-common-method: true
      x-replacement-for:
      - /t/hour_type_categories/{id}
    servers:
    - url: https://api-development.ons.io
  /v0/administration/hour_type_categories/by_name/{name}:
    get:
      tags:
      - HourTypeCategory
      summary: Return the hour type category corresponding to the given name
      operationId: HourTypeCategoryAPI.byName
      parameters:
      - name: name
        in: path
        description: name of the hour type category
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HourTypeCategory'
        '404':
          description: Hour type category not found
      x-replacement-for:
      - /t/hour_type_categories/by_name/{name}
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    list.HourTypeCategoryList:
      type: object
      properties:
        hourTypeCategories:
          type: array
          items:
            $ref: '#/components/schemas/HourTypeCategory'
          xml:
            name: hourTypeCategory
      description: HourTypeCategoryList model (no description)
      example:
        hourTypeCategories:
        - id: 1
          description: Vervoer dagbesteding WLZ 2019
      xml:
        name: hourTypeCategories
    HourTypeCategory:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        description:
          type: string
      description: Category for {@link HourType}.
      example:
        id: 1
        description: Vervoer dagbesteding WLZ 2019
      xml:
        name: hourTypeCategory
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
