openapi: 3.2.0
info:
  title: Nedap Dbc.ggz.Diagnose Toekenning API
  version: 0.0.0
  description: 'Operations tagged dbc.ggz.DiagnoseToekenning across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: dbc.ggz.DiagnoseToekenning
paths:
  /t/dbc/ggz/zorgtrajecten/{zorgtraject_id}/diagnose_toekenningen:
    post:
      tags:
      - dbc.ggz.DiagnoseToekenning
      operationId: dbc.ggz.DiagnoseToekenningAPI.createDiagnoseToekenningen
      parameters:
      - name: zorgtraject_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dbc.ggz.list.DiagnoseToekenningList'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dbc.ggz.list.DiagnoseToekenningList'
      x-replaced-by: /v0/dbc/ggz/zorgtraject/{zorgtraject_id}/diagnose_toekenningen
      deprecated: true
      x-deprecated-since: 19-11-2025
      summary: Dbc ggz diagnose toekenning API create diagnose toekenningen
      x-summary-source: derived
    delete:
      tags:
      - dbc.ggz.DiagnoseToekenning
      summary: Deletes diagnosis with a given externalid that belong to a given zorgtraject
      operationId: dbc.ggz.DiagnoseToekenningAPI.deleteDiagnoseToekenningen
      parameters:
      - name: zorgtraject_id
        in: path
        description: the technical id of the zorgtraject where the diagnosis belongs to
        required: true
        schema:
          type: integer
          format: int64
      - name: external_id
        in: query
        description: the external id of the diagnosis to delete
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dbc.ggz.list.DiagnoseToekenningList'
      x-replaced-by: /v0/dbc/ggz/zorgtraject/{zorgtraject_id}/diagnose_toekenningen
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/dbc/ggz/zorgtraject/{zorgtraject_id}/diagnose_toekenningen:
    post:
      tags:
      - dbc.ggz.DiagnoseToekenning
      operationId: dbc.ggz.DiagnoseToekenningAPI.createDiagnoseToekenningen
      parameters:
      - name: zorgtraject_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dbc.ggz.list.DiagnoseToekenningList'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dbc.ggz.list.DiagnoseToekenningList'
      x-replacement-for:
      - /t/dbc/ggz/zorgtrajecten/{zorgtraject_id}/diagnose_toekenningen
      summary: Dbc ggz diagnose toekenning API create diagnose toekenningen
      x-summary-source: derived
    delete:
      tags:
      - dbc.ggz.DiagnoseToekenning
      summary: Deletes diagnosis with a given externalid that belong to a given zorgtraject
      operationId: dbc.ggz.DiagnoseToekenningAPI.deleteDiagnoseToekenningen
      parameters:
      - name: zorgtraject_id
        in: path
        description: the technical id of the zorgtraject where the diagnosis belongs to
        required: true
        schema:
          type: integer
          format: int64
      - name: external_id
        in: query
        description: the external id of the diagnosis to delete
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dbc.ggz.list.DiagnoseToekenningList'
      x-replacement-for:
      - /t/dbc/ggz/zorgtrajecten/{zorgtraject_id}/diagnose_toekenningen
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    dbc.StamData:
      required:
      - code
      type: object
      properties:
        id:
          type: integer
          description: Object identifier
          format: int64
          x-cupido-id: true
        code:
          type: string
          description: The code taken from NZA code lists.
        begindatum:
          type: string
          description: The first date this value is valid at.
          format: date
        einddatum:
          type: string
          description: 'The last date this value is valid at.


            May be 9999-12-31 to signify ''valid forever'''
          format: date
        omschrijving:
          type: string
          description: A humanly readable description for the value, in Dutch
      description: 'Base class for a code list of the NZA.

        See documentation at https://puc.overheid.nl/nza/zorgsectoren/pagina/NZA003b/-/gdlv/1/p/1/'
      example:
        id: 1
        code: example
        begindatum: '2014-12-29'
        einddatum: '2014-12-29'
        omschrijving: example
    dbc.ggz.DiagnoseToekenning:
      required:
      - primair
      - datum
      type: object
      properties:
        id:
          type: integer
          description: Object identifier
          format: int64
          x-cupido-id: true
        externalId:
          type: integer
          description: Link a diagnosetoekenning to the original dsm classification series in ons-dossier.
          format: int64
        primair:
          type: boolean
          description: 'Indicate that this object is the primary part of a set.

            One DSM classification can contain a list of DiagnoseToekenningen. Only one of them can be primary'
          deprecated: true
          x-deprecated-since: 20-11-2023
        trekkenVan:
          type: boolean
          description: 'To indicate that the client has ''signs of'' a diagnosis.

            This is used when the user is not sure of the diagnosis.'
          deprecated: true
          x-deprecated-since: 20-11-2023
        datum:
          type: string
          description: The date at which the diagnosis took place
          format: date
        diagnoseAs:
          type: integer
          description: 'Possible values:

            1,2,3,4,5

            <p>

            A DSM 4 classification consists of 5 axis.

            The speficication says:

            <p>

            1 Klinische stoornis (bijv. depressie)

            2 Persoonlijkheidsstoornissen (bijv. afhankelijke persoonlijkheidsstoornis)

            3 Lichamelijke aandoeningen (relevant voor het begrijpen of behandelen van een psychische stoornis) (bijv. migraine)

            4 Psychosociale en omgevingsfactoren (bijv. scheiding, werkeloosheid )

            5 Algehele beoordeling van het functioneren (Global Assement of Functioning Scale, GAF) uitgedrukt op een schaal van 0 tot 100'
          format: int32
        diagnoseCode:
          allOf:
          - $ref: '#/components/schemas/dbc.ggz.Diagnose'
          description: NZA Stamdata code for this diagnosis
        zorgtrajectId:
          type: integer
          description: Object identifier for the corresponding Zorgtraject
          format: int64
      description: A diagnosis which has been assigned to a client.
      example:
        id: 1
        externalId: 123
        primair: true
        trekkenVan: false
        datum: '2016-08-18'
        diagnoseAs: 1
        diagnoseCode:
          id: 1
          code: '000'
          begindatum: '2016-08-16'
          einddatum: '2016-08-16'
          omschrijving: Traject
          icd10: UUU
        zorgtrajectId: 1
    dbc.ggz.Diagnose:
      type: object
      allOf:
      - $ref: '#/components/schemas/dbc.StamData'
      properties:
        groepcode:
          type: string
          description: Group for this diagnosis
        element:
          type: string
          description: Element in group
        zvzSubscore:
          type: integer
          format: int32
        aanspraakType:
          type: string
          description: 'Possible values:

            NIET_VERZEKERD(0),

            VERZEKERD(1);'
        hierarchieniveau:
          type: integer
          description: The nesting level
          format: int32
        selecteerbaar:
          type: string
          description: 'Whether the user may select this diagnosis


            NIET_SELECTEERBAAR(0)

            SELECTEERBAAR_DIEPSTE_NIVEAU(1)

            SELECTEERBAAR_DIEPER_NIVEAU_MOGELIJK(2)'
        sorteervolgorde:
          type: integer
          description: Sorting order
          format: int32
        diagnoseAs:
          type: integer
          description: 'Possible values:

            1,2,3,4,5'
          format: int32
        icd9cm:
          type: string
        icd10:
          type: string
        prestatieniveau:
          type: string
        prestatiecodeNaamgevingGGZ:
          type: string
        prestatiecodeNaamgevingFZ:
          type: string
        prestatiecodedeelGGZ:
          type: string
        prestatiecodedeelFZ:
          type: string
        parallelliteitscodeGGZ:
          type: string
        parallelliteitscodeFZ:
          type: string
        brancheIndicatie:
          type: string
          description: 'Possible values:

            BEIDE(0)

            GGZ(1)

            FZ(2)'
      description: NZA code list values for Diagnosis
      example:
        id: 1
        code: act_2.6
        begindatum: '2016-01-01'
        einddatum: '9999-12-31'
        omschrijving: Leesstoornis
        groepcode: as1_1.01
        element: Leesstoornis
        zvzSubscore: 2
        aanspraakType: '2'
        hierarchieniveau: 3
        selecteerbaar: '1'
        sorteervolgorde: 1000050
        diagnoseAs: 1
        icd9cm: '315.00'
        icd10: F81.0
        prestatieniveau: fictief_a
        prestatiecodeNaamgevingGGZ: Overige stoornissen in de kindertijd
        prestatiecodeNaamgevingFZ: Stoornissen in de kindertijd
        prestatiecodedeelGGZ: '17'
        prestatiecodedeelFZ: '1'
        parallelliteitscodeGGZ: '28'
        parallelliteitscodeFZ: '1'
        brancheIndicatie: '0'
    dbc.ggz.list.DiagnoseToekenningList:
      type: object
      properties:
        diagnoseToekenningen:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/dbc.ggz.DiagnoseToekenning'
            xml:
              name: diagnoseToekenning
      description: DiagnoseToekenningList model (no description)
      example:
        diagnoseToekenningen:
        - id: 1
          externalId: 1
          primair: true
          trekkenVan: false
          datum: '2016-08-19'
          diagnoseCode:
            id: 1
            code: '000'
            begindatum: '2016-08-16'
            einddatum: '2016-08-16'
            omschrijving: Traject
            icd10: UUU
          zorgtrajectId: 1
      xml:
        name: diagnoseToekenningen
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
