openapi: 3.2.0
info:
  title: Nedap Dossier.Action Entry API
  version: 0.0.0
  description: 'Operations tagged dossier.ActionEntry across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: dossier.ActionEntry
paths:
  /t/dossier/action_entries:
    post:
      tags:
      - dossier.ActionEntry
      summary: Create ActionEntry
      operationId: dossier.ActionEntryAPI.create
      requestBody:
        description: 'Creates a new ActionEntry. Important: This endpoint only creates the ActionEntry. The associated Action must be present already and referenced by actionId.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.ActionEntry'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.ActionEntry'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/dossier/action_entries
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/dossier/action_entries/{id}:
    put:
      tags:
      - dossier.ActionEntry
      summary: Updates the given ActionEntry
      operationId: dossier.ActionEntryAPI.update
      parameters:
      - name: id
        in: path
        description: Identifier of ActionEntry to update.
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      requestBody:
        description: ActionEntry to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.ActionEntry'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.ActionEntry'
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/dossier/action_entries/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    delete:
      tags:
      - dossier.ActionEntry
      summary: Deletes the ActionEntry with given id
      operationId: dossier.ActionEntryAPI.delete
      parameters:
      - name: id
        in: path
        description: Identifier of ActionEntry to update.
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '204':
          description: If successfully removed the action entry
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/dossier/action_entries/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/dossier/care_plan_entries/{care_plan_entry_id}/action_entries:
    get:
      tags:
      - dossier.ActionEntry
      summary: Return the ActionEntries of a CarePlanEntry corresponding to the given id
      operationId: dossier.ActionEntryAPI.byCarePlanEntryId
      parameters:
      - name: care_plan_entry_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.list.ActionEntryList'
      x-replaced-by: /v0/administration/dossier/care_plan_entries/{care_plan_entry_id}/action_entries
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/dossier/action_entries:
    post:
      tags:
      - dossier.ActionEntry
      summary: Create ActionEntry
      operationId: dossier.ActionEntryAPI.create
      requestBody:
        description: 'Creates a new ActionEntry. Important: This endpoint only creates the ActionEntry. The associated Action must be present already and referenced by actionId.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.ActionEntry'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.ActionEntry'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/action_entries
    servers:
    - url: https://api-development.ons.io
  /v0/administration/dossier/action_entries/{id}:
    put:
      tags:
      - dossier.ActionEntry
      summary: Updates the given ActionEntry
      operationId: dossier.ActionEntryAPI.update
      parameters:
      - name: id
        in: path
        description: Identifier of ActionEntry to update.
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      requestBody:
        description: ActionEntry to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.ActionEntry'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.ActionEntry'
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/action_entries/{id}
    delete:
      tags:
      - dossier.ActionEntry
      summary: Deletes the ActionEntry with given id
      operationId: dossier.ActionEntryAPI.delete
      parameters:
      - name: id
        in: path
        description: Identifier of ActionEntry to update.
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '204':
          description: If successfully removed the action entry
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/action_entries/{id}
    servers:
    - url: https://api-development.ons.io
  /v0/administration/dossier/care_plan_entries/{care_plan_entry_id}/action_entries:
    get:
      tags:
      - dossier.ActionEntry
      summary: Return the ActionEntries of a CarePlanEntry corresponding to the given id
      operationId: dossier.ActionEntryAPI.byCarePlanEntryId
      parameters:
      - name: care_plan_entry_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.list.ActionEntryList'
      x-replacement-for:
      - /t/dossier/care_plan_entries/{care_plan_entry_id}/action_entries
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    AuditedBase:
      title: AuditedBase
      type: object
      properties:
        updatedAt:
          type:
          - string
          - 'null'
          description: Dated Base extension.
          format: date-time
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        createdBy:
          type:
          - string
          - 'null'
      description: AuditedBase model (no description)
      example:
        updatedAt: '2014-12-29T00:00:00.000+01:00'
        createdAt: '2014-12-29T00:00:00.000+01:00'
        createdBy: example
    dossier.Action:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        domain:
          $ref: '#/components/schemas/dossier.Domain'
        domainId:
          type: integer
          format: int64
        goal:
          $ref: '#/components/schemas/dossier.Goal'
        goalId:
          type: integer
          format: int64
        definition:
          type: string
        instructionUrl:
          type: string
        allowTitleOverride:
          type: boolean
          default: false
        allowComment:
          type: boolean
          default: false
        hidden:
          type: boolean
          default: false
        classificationId:
          type: string
      description: Zorgplan "actie"
      example:
        updatedAt: '2014-04-01T17:00:00.000+02:00'
        createdAt: '2013-12-01T17:00:00.000+01:00'
        createdBy: user
        id: 1
        domain:
          updatedAt: '2014-12-29T00:00:00.000+01:00'
          createdAt: '2014-12-29T00:00:00.000+01:00'
          createdBy: example
          id: 1
          name: example
          hidden: true
          classificationId: example
        domainId: 2
        goal:
          updatedAt: '2014-12-29T00:00:00.000+01:00'
          createdAt: '2014-12-29T00:00:00.000+01:00'
          createdBy: example
          id: 1
          domain:
            updatedAt: '2014-12-29T00:00:00.000+01:00'
            createdAt: '2014-12-29T00:00:00.000+01:00'
            createdBy: example
            id: 1
            name: example
            hidden: true
            classificationId: example
          domainId: 1
          demandId: 1
          definition: example
          allowTitleOverride: true
          allowComment: true
          reportProgress: true
          hidden: true
          classificationId: example
        goalId: 3
        definition: Een definitie
        instructionUrl: http://www.nedap.com/
        allowTitleOverride: true
        allowComment: true
        hidden: false
        classificationId: intervention.target.bowel_care
      xml:
        name: action
    dossier.Goal:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        domain:
          $ref: '#/components/schemas/dossier.Domain'
        domainId:
          type: integer
          format: int64
        demandId:
          type: integer
          format: int64
        definition:
          type: string
        allowTitleOverride:
          type: boolean
          default: false
        allowComment:
          type: boolean
          default: false
        reportProgress:
          type: boolean
          default: false
        hidden:
          type: boolean
          default: false
        classificationId:
          type: string
      description: Zorgplan "doel"
      example:
        updatedAt: '2014-04-01T17:00:00.000+02:00'
        createdAt: '2013-12-01T17:00:00.000+01:00'
        createdBy: user
        id: 1
        domain:
          updatedAt: '2014-12-29T00:00:00.000+01:00'
          createdAt: '2014-12-29T00:00:00.000+01:00'
          createdBy: example
          id: 1
          name: example
          hidden: true
          classificationId: example
        domainId: 2
        demandId: 3
        definition: Target definition
        allowTitleOverride: true
        allowComment: true
        reportProgress: false
        hidden: false
        classificationId: intervention.category.case_management
      xml:
        name: goal
    dossier.Domain:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        name:
          type: string
          description: (nl) Naam van dit domein
        hidden:
          type: boolean
          default: false
        classificationId:
          type: string
      description: Zorgplan "domein"
      example:
        updatedAt: '2014-04-01T17:00:00.000+02:00'
        createdAt: '2013-12-01T17:00:00.000+01:00'
        createdBy: user
        id: 1
        name: Domein naam
        hidden: false
        classificationId: classification.domain.health
    dossier.ActionEntry:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        carePlanEntryId:
          type: integer
          format: int64
        action:
          $ref: '#/components/schemas/dossier.Action'
        actionId:
          type: integer
          format: int64
        carePlanPersistentActionId:
          type: integer
          description: The care plan persistent action id of this action entry
          format: int64
        comment:
          type: string
        title:
          type: string
      description: Zorgplan "actie" entry
      example:
        updatedAt: '2014-04-01T17:00:00.000+02:00'
        createdAt: '2013-12-01T17:00:00.000+01:00'
        createdBy: user
        id: 1
        carePlanEntryId: 2
        action:
          updatedAt: '2014-12-29T00:00:00.000+01:00'
          createdAt: '2014-12-29T00:00:00.000+01:00'
          createdBy: example
          id: 1
          domain:
            updatedAt: '2014-12-29T00:00:00.000+01:00'
            createdAt: '2014-12-29T00:00:00.000+01:00'
            createdBy: example
            id: 1
            name: example
            hidden: true
            classificationId: example
          domainId: 1
          goal:
            updatedAt: '2014-12-29T00:00:00.000+01:00'
            createdAt: '2014-12-29T00:00:00.000+01:00'
            createdBy: example
            id: 1
            domain:
              updatedAt: '2014-12-29T00:00:00.000+01:00'
              createdAt: '2014-12-29T00:00:00.000+01:00'
              createdBy: example
              id: 1
              name: example
              hidden: true
              classificationId: example
            domainId: 1
            demandId: 1
            definition: example
            allowTitleOverride: true
            allowComment: true
            reportProgress: true
            hidden: true
            classificationId: example
          goalId: 1
          definition: example
          instructionUrl: example
          allowTitleOverride: true
          allowComment: true
          hidden: true
          classificationId: example
        actionId: 3
        carePlanPersistentActionId: 4
        comment: commentaar
        title: Een titel
      xml:
        name: actionEntry
    dossier.list.ActionEntryList:
      type: object
      properties:
        actionEntries:
          type: array
          items:
            $ref: '#/components/schemas/dossier.ActionEntry'
      description: ActionEntryList model (no description)
      example:
        actionEntries:
        - updatedAt: '2011-09-26T12:13:40.000+02:00'
          createdAt: '2011-09-26T12:13:40.000+02:00'
          id: 10561
          carePlanEntryId: 10510
          actionId: 350
          comment: Gebruik van hulpmiddelen aanleren; rollator les bij ergo
        - updatedAt: '2011-09-26T12:13:40.000+02:00'
          createdAt: '2011-09-26T12:13:40.000+02:00'
          id: 10562
          carePlanEntryId: 10510
          actionId: 350
          comment: Conditie verbeteren door dagelijks 3 maal 15 minuten oefenen achter rollator
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
