openapi: 3.2.0
info:
  title: Nedap Dossier.episodes.Episode API
  version: 0.0.0
  description: 'Operations tagged dossier.episodes.Episode across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: dossier.episodes.Episode
paths:
  /t/dossier/episodes/episodes:
    post:
      tags:
      - dossier.episodes.Episode
      summary: Create Episode
      operationId: dossier.episodes.EpisodeAPI.create
      requestBody:
        description: Episode to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.episodes.Episode'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.Episode'
      x-cupido-common-method: true
      x-replaced-by: /v0/dossier/back_channel/unauthorized/episodes
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/dossier/episodes/episodes/{id}:
    get:
      tags:
      - dossier.episodes.Episode
      summary: Gets the episode with the specified ID
      operationId: dossier.episodes.EpisodeAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting Episode
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.Episode'
      x-cupido-common-method: true
      x-replaced-by: /v0/dossier/back_channel/unauthorized/episodes/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    put:
      tags:
      - dossier.episodes.Episode
      summary: Updates the given Episode
      operationId: dossier.episodes.EpisodeAPI.update
      parameters:
      - name: id
        in: path
        description: Identifier of Episode to update.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Episode to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.episodes.Episode'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.Episode'
      x-cupido-common-method: true
      x-replaced-by: /v0/dossier/back_channel/unauthorized/episodes/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    patch:
      tags:
      - dossier.episodes.Episode
      summary: Patches Episode with given id
      operationId: dossier.episodes.EpisodeAPI.patch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.episodes.Episode'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.Episode'
      x-cupido-common-method: true
      x-replaced-by: /v0/dossier/back_channel/unauthorized/episodes/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/dossier/episodes/by_client_id/{client_id}:
    get:
      tags:
      - dossier.episodes.Episode
      summary: Gets all the episodes for the specified client ID
      operationId: dossier.episodes.EpisodeAPI.byClientId
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.list.EpisodeList'
      x-replaced-by: /v0/dossier/back_channel/unauthorized/episodes/by_client_id/{client_id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/dossier/back_channel/unauthorized/episodes:
    post:
      tags:
      - dossier.episodes.Episode
      summary: Create Episode
      operationId: dossier.episodes.EpisodeAPI.create
      requestBody:
        description: Episode to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.episodes.Episode'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.Episode'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/episodes/episodes
    servers:
    - url: https://api-development.ons.io
  /v0/dossier/back_channel/unauthorized/episodes/{id}:
    get:
      tags:
      - dossier.episodes.Episode
      summary: Gets the episode with the specified ID
      operationId: dossier.episodes.EpisodeAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting Episode
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.Episode'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/episodes/episodes/{id}
    put:
      tags:
      - dossier.episodes.Episode
      summary: Updates the given Episode
      operationId: dossier.episodes.EpisodeAPI.update
      parameters:
      - name: id
        in: path
        description: Identifier of Episode to update.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Episode to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.episodes.Episode'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.Episode'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/episodes/episodes/{id}
    patch:
      tags:
      - dossier.episodes.Episode
      summary: Patches Episode with given id
      operationId: dossier.episodes.EpisodeAPI.patch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.episodes.Episode'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.Episode'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/episodes/episodes/{id}
    servers:
    - url: https://api-development.ons.io
  /v0/dossier/back_channel/unauthorized/episodes/by_client_id/{client_id}:
    get:
      tags:
      - dossier.episodes.Episode
      summary: Gets all the episodes for the specified client ID
      operationId: dossier.episodes.EpisodeAPI.byClientId
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.list.EpisodeList'
      x-replacement-for:
      - /t/dossier/episodes/by_client_id/{client_id}
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    dossier.episodes.Action:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          description: Object id of this episode action
          format: int64
          x-cupido-id: true
        title:
          type: string
          description: Title of this episode action
        subGoalId:
          type: integer
          description: Object id of the parent episode sub goal
          format: int64
        showInCarePlan:
          type: boolean
          description: Show this action in the care plan
        archived:
          type: boolean
          description: Archive status of this action
      description: Action model (no description)
      example:
        updatedAt: '2017-11-27T00:00:00.000+01:00'
        createdAt: '2017-11-27T00:00:00.000+01:00'
        createdBy: Dummy
        id: 3
        title: Some action
        subGoalId: 2
        showInCarePlan: true
        archived: false
    AuditedBase:
      title: AuditedBase
      type: object
      properties:
        updatedAt:
          type:
          - string
          - 'null'
          description: Dated Base extension.
          format: date-time
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        createdBy:
          type:
          - string
          - 'null'
      description: AuditedBase model (no description)
      example:
        updatedAt: '2014-12-29T00:00:00.000+01:00'
        createdAt: '2014-12-29T00:00:00.000+01:00'
        createdBy: example
    dossier.episodes.EpisodeDocument:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        fileName:
          type: string
          deprecated: true
          x-deprecated-since: 01-04-2026
      description: EpisodeDocument model
      example:
        id: 1233
        fileName: file.pdf
    dossier.episodes.SubGoal:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          description: Object id of this sub goal
          format: int64
          x-cupido-id: true
        title:
          type: string
          description: Title of this sub goal
        episodeId:
          type: integer
          description: Object id of the parent episode of this sub goal
          format: int64
        archived:
          type: boolean
          description: Archived status of this sub goal
        actions:
          type: array
          items:
            $ref: '#/components/schemas/dossier.episodes.Action'
          description: Actions on this sub goal
      description: SubGoal model (no description)
      example:
        updatedAt: '2017-11-27T00:00:00.000+01:00'
        createdAt: '2017-11-27T00:00:00.000+01:00'
        createdBy: Dummy
        id: 2
        title: Some sub goal
        episodeId: 1
        archived: false
        actions:
        - updatedAt: '2014-12-29T00:00:00.000+01:00'
          createdAt: '2014-12-29T00:00:00.000+01:00'
          createdBy: example
          id: 1
          title: example
          subGoalId: 1
          showInCarePlan: true
          archived: true
        - updatedAt: '2014-12-29T00:00:00.000+01:00'
          createdAt: '2014-12-29T00:00:00.000+01:00'
          createdBy: example
          id: 1
          title: example
          subGoalId: 1
          showInCarePlan: true
          archived: true
    dossier.episodes.list.EpisodeList:
      type: object
      properties:
        episodes:
          type: array
          items:
            $ref: '#/components/schemas/dossier.episodes.Episode'
      description: EpisodeList model (no description)
      example:
        episodes:
        - updatedAt: '2017-11-27T00:00:00.000+01:00'
          createdAt: '2017-11-27T00:00:00.000+01:00'
          createdBy: Some Employee
          id: 1
          clientId: 1
          startDate: '2017-11-27'
          endDate: '2017-11-27'
          evaluationDate: '2017-11-27'
          goal: Some Goal
          title: awesome episode
          important: false
          marked: false
        - updatedAt: '2017-11-26T00:00:00.000+01:00'
          createdAt: '2017-11-26T00:00:00.000+01:00'
          createdBy: Some Employee
          id: 2
          clientId: 2
          startDate: '2017-11-26'
          endDate: '2017-11-26'
          evaluationDate: '2017-11-26'
          goal: Another Goal
          title: even more awesome episode
          important: false
          marked: false
    survey.SurveyResultStatus:
      type: string
      oneOf:
      - title: New
        enum:
        - New
      - title: Draft
        enum:
        - Draft
      - title: Review
        enum:
        - Review
      - title: Current
        enum:
        - Current
      - title: Archived
        enum:
        - Archived
      description: SurveyResultStatus model (no description)
      example: New
    survey.GroupAnswer:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        groupId:
          type: integer
          format: int64
        surveyResultId:
          type: integer
          format: int64
        score:
          type: integer
          format: int32
        importantForCareplan:
          type: boolean
      description: GroupAnswer model (no description)
      example:
        id: 1
        surveyResultId: 1
        groupId: 1
        score: 7
        createdAt: '2012-08-02T13:48:46.836+02:00'
        updatedAt: '2012-08-02T13:48:46.836+02:00'
        createdBy: user
        importantForCareplan: true
      xml:
        name: groupAnswer
    survey.Answer:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        surveyResultObjectId:
          type: integer
          format: int64
        questionObjectId:
          type: integer
          format: int64
        answerDefinitionObjectId:
          type: integer
          format: int64
        text:
          type: string
        important:
          type: boolean
        booleanAnswer:
          type: boolean
      description: Answer model (no description)
      example:
        id: 1
        surveyResultObjectId: 1
        questionObjectId: 1
        text: heeeeel oud
        answerDefinitionObjectId: 1
        important: false
        booleanAnswer: false
        createdAt: '2012-08-02T13:48:46.836+02:00'
        updatedAt: '2012-08-02T13:48:46.836+02:00'
        createdBy: user
      xml:
        name: answer
    Ability:
      type: object
      properties:
        enabled:
          type: boolean
        possible:
          type: boolean
        message:
          type: string
      description: Ability model (no description)
      example:
        enabled: true
        possible: false
        message: message
    survey.SurveyResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        surveyObjectId:
          type: integer
          format: int64
        clientObjectId:
          type: integer
          format: int64
        employeeObjectId:
          type: integer
          format: int64
        status:
          $ref: '#/components/schemas/survey.SurveyResultStatus'
        version:
          type: integer
          format: int64
        title:
          type: string
        linkedToActiveCarePlan:
          type: boolean
        isAnyCarePlanUsingThisResult:
          type: boolean
        duplicateSurveyResultAbility:
          $ref: '#/components/schemas/Ability'
        editSurveyResultAbility:
          $ref: '#/components/schemas/Ability'
        statusBumpSurveyResultAbility:
          $ref: '#/components/schemas/Ability'
        viewSurveyResultAbility:
          $ref: '#/components/schemas/Ability'
        answers:
          type: array
          items:
            $ref: '#/components/schemas/survey.Answer'
          xml:
            wrapped: true
        groupAnswers:
          type: array
          items:
            $ref: '#/components/schemas/survey.GroupAnswer'
          xml:
            wrapped: true
        completedAt:
          type: string
          format: date-time
      description: SurveyResult model (no description)
      example:
        id: 111
        surveyObjectId: 555
        clientObjectId: 333
        employeeObjectId: 444
        version: 1
        linkedToActiveCarePlan: true
        isAnyCarePlanUsingThisResult: true
        createdAt: '2012-08-02T13:48:46.836+02:00'
        updatedAt: '2012-08-02T13:48:46.836+02:00'
        createdBy: user
        completedAt: '2012-08-02T13:48:46.836+02:00'
        status: Draft
        title: test
        duplicateSurveyResultAbility:
          enabled: true
          possible: true
        editSurveyResultAbility:
          enabled: true
          possible: true
        statusBumpSurveyResultAbility:
          enabled: true
          possible: true
        viewSurveyResultAbility:
          enabled: true
          possible: true
        answers: []
        groupAnswers: []
      xml:
        name: surveyResult
    dossier.episodes.Episode:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          description: Object id of this episode
          format: int64
          x-cupido-id: true
        clientId:
          type: integer
          description: Client object id this episode belongs too
          format: int64
        startDate:
          type: string
          description: Start date of this episode
          format: date
        endDate:
          type: string
          description: End date of this episode
          format: date
        evaluationDate:
          type: string
          description: Evaluation date of this episode
          format: date
        goal:
          type: string
          description: Goal description of this episode
        title:
          type: string
          description: Title of this episode
        important:
          type: boolean
          description: Marked as important
        marked:
          type: boolean
          description: Marked as relevant
        subGoals:
          type: array
          items:
            $ref: '#/components/schemas/dossier.episodes.SubGoal'
          description: Sub goals of this episode
        problemIds:
          type: array
          items:
            type: integer
            format: int64
          description: Medical problems that are linked to this episode
        surveyResults:
          type: array
          items:
            $ref: '#/components/schemas/survey.SurveyResult'
          description: Object ids of the survey results that are linked to this episode
        documents:
          type: array
          items:
            $ref: '#/components/schemas/dossier.episodes.EpisodeDocument'
          description: Object ids of the documents that are linked to this episode
        expertiseProfileIds:
          type: array
          items:
            type: integer
            format: int64
          description: Only users with these expertise profiles are allowed to access this episode; authorzationIds
          deprecated: true
        authorizedExpertiseProfileIds:
          type: array
          items:
            type: integer
            format: int64
          description: Only users with these expertise profiles are allowed to access this episode
        authorizedExpertiseGroupIds:
          type: array
          items:
            type: integer
            format: int64
          description: Only users with these expertise groups are allowed to access this episode
        linkedExpertiseProfileIds:
          type: array
          items:
            type: integer
            format: int64
          description: Users with these linked expertise profiles are connected to this episode
        linkedExpertiseGroupIds:
          type: array
          items:
            type: integer
            format: int64
          description: Users with these linked expertise groups are connected to this episode
      description: Episode model (no description)
      example:
        updatedAt: '2017-11-27T00:00:00.000+01:00'
        createdAt: '2017-11-27T00:00:00.000+01:00'
        createdBy: Some Employee
        id: 1
        clientId: 1
        startDate: '2017-11-27'
        endDate: '2017-11-27'
        evaluationDate: '2017-11-27'
        goal: Some Goal
        title: awesome episode
        important: false
        marked: false
        subGoals:
        - updatedAt: '2017-11-27T00:00:00.000+01:00'
          createdAt: '2017-11-27T00:00:00.000+01:00'
          createdBy: Dummy
          id: 2
          title: Some sub goal
          episodeId: 1
          archived: false
        problemIds:
        - 1
        - 2
        surveyResults:
        - updatedAt: '2012-08-02T13:48:46.836+02:00'
          createdAt: '2012-08-02T13:48:46.836+02:00'
          createdBy: user
          id: 111
          surveyObjectId: 555
          clientObjectId: 333
          employeeObjectId: 444
          status: Draft
          version: 1
          title: test
          linkedToActiveCarePlan: true
          isAnyCarePlanUsingThisResult: true
          duplicateSurveyResultAbility:
            enabled: true
            possible: true
          editSurveyResultAbility:
            enabled: true
            possible: true
          statusBumpSurveyResultAbility:
            enabled: true
            possible: true
          viewSurveyResultAbility:
            enabled: true
            possible: true
          answers: []
          groupAnswers: []
          completedAt: '2012-08-02T13:48:46.836+02:00'
        documents:
        - id: 1233
          fileName: file.pdf
        expertiseProfileIds:
        - 1
        - 1
        authorizedExpertiseProfileIds:
        - 1
        - 2
        authorizedExpertiseGroupIds:
        - 1
        linkedExpertiseProfileIds:
        - 1
        - 2
        linkedExpertiseGroupIds:
        - 1
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
