openapi: 3.2.0
info:
  title: Nedap Moves.Expertise Profile API
  version: 0.0.0
  description: 'Operations tagged moves.ExpertiseProfile across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: moves.ExpertiseProfile
paths:
  /t/moves/expertise_profiles/x-stream-connect/data:
    get:
      tags:
      - moves.ExpertiseProfile
      summary: Return all ExpertiseProfile models in a streaming manner
      operationId: moves.ExpertiseProfileAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.list.ExpertiseProfileList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/moves.ExpertiseProfile'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/expertise_profiles/data
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/moves/expertise_profiles/x-stream-connect/deletes:
    get:
      tags:
      - moves.ExpertiseProfile
      summary: Return all ExpertiseProfile models which where deleted since the date given in…
      description: 'If no date is

        given it will return all deleted ExpertiseProfile models'
      operationId: moves.ExpertiseProfileAPI.streamDeletes
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.list.ExpertiseProfileList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/moves.ExpertiseProfile'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/expertise_profiles/deletes
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/moves/expertise_profiles/x-stream-connect/updates:
    get:
      tags:
      - moves.ExpertiseProfile
      summary: Return all ExpertiseProfile models which where updated since the date given in…
      operationId: moves.ExpertiseProfileAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.list.ExpertiseProfileList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/moves.ExpertiseProfile'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/expertise_profiles/updates
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/expertise_profiles/data:
    get:
      tags:
      - moves.ExpertiseProfile
      summary: Return all ExpertiseProfile models in a streaming manner
      operationId: moves.ExpertiseProfileAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.list.ExpertiseProfileList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/moves.ExpertiseProfile'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/moves/expertise_profiles/x-stream-connect/data
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/expertise_profiles/deletes:
    get:
      tags:
      - moves.ExpertiseProfile
      summary: Return all ExpertiseProfile models which where deleted since the date given in…
      description: 'If no date is

        given it will return all deleted ExpertiseProfile models'
      operationId: moves.ExpertiseProfileAPI.streamDeletes
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.list.ExpertiseProfileList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/moves.ExpertiseProfile'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/moves/expertise_profiles/x-stream-connect/deletes
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/expertise_profiles/updates:
    get:
      tags:
      - moves.ExpertiseProfile
      summary: Return all ExpertiseProfile models which where updated since the date given in…
      operationId: moves.ExpertiseProfileAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moves.list.ExpertiseProfileList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/moves.ExpertiseProfile'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/moves/expertise_profiles/x-stream-connect/updates
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    moves.ExpertiseProfile:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        externalId:
          type: integer
          format: int64
        name:
          type: string
        hidden:
          type: boolean
        parent:
          type: integer
          format: int64
      description: ExpertiseProfile model (no description)
      example:
        id: 1
        externalId: 2
        name: Verpleegkundige
        hidden: false
        parent: 10
    moves.list.ExpertiseProfileList:
      type: object
      properties:
        expertiseProfiles:
          type: array
          items:
            $ref: '#/components/schemas/moves.ExpertiseProfile'
      description: ExpertiseProfileList model (no description)
      example:
        expertiseProfiles:
        - id: 1
          externalId: 2
          name: Verpleegkundige
          hidden: false
          parent: 10
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
