openapi: 3.2.0
info:
  title: Nedap Dossier.episodes.Action API
  version: 0.0.0
  description: 'Operations tagged dossier.episodes.Action across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: dossier.episodes.Action
paths:
  /t/dossier/episodes/actions:
    post:
      tags:
      - dossier.episodes.Action
      summary: Create Action
      operationId: dossier.episodes.ActionAPI.create
      requestBody:
        description: Action to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.episodes.Action'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.Action'
      x-cupido-common-method: true
      x-replaced-by: /v0/dossier/back_channel/unauthorized/episodes/actions
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/dossier/episodes/actions/{id}:
    put:
      tags:
      - dossier.episodes.Action
      summary: Updates the given Action
      operationId: dossier.episodes.ActionAPI.update
      parameters:
      - name: id
        in: path
        description: Identifier of Action to update.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Action to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.episodes.Action'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.Action'
      x-cupido-common-method: true
      x-replaced-by: /v0/dossier/back_channel/unauthorized/episodes/actions/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    patch:
      tags:
      - dossier.episodes.Action
      summary: Patches Action with given id
      operationId: dossier.episodes.ActionAPI.patch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.episodes.Action'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.Action'
      x-cupido-common-method: true
      x-replaced-by: /v0/dossier/back_channel/unauthorized/episodes/actions/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/dossier/episodes/actions/by_episode_id/{episode_id}:
    get:
      tags:
      - dossier.episodes.Action
      summary: Gets all the actions for the specified episode ID
      operationId: dossier.episodes.ActionAPI.byEpisodeId
      parameters:
      - name: episode_id
        in: path
        description: The ID of the episode for which to fetch actions
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.list.ActionList'
      x-replaced-by: /v0/dossier/back_channel/unauthorized/episodes/actions/by_episode_id/{episode_id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/dossier/episodes/actions/by_sub_goal_id/{sub_goal_id}:
    get:
      tags:
      - dossier.episodes.Action
      summary: Gets alls the actions for the specified episode sub goal ID
      operationId: dossier.episodes.ActionAPI.bySubGoalId
      parameters:
      - name: sub_goal_id
        in: path
        description: The ID of the subgoal for which to fetch actions
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.list.ActionList'
      x-replaced-by: /v0/dossier/back_channel/unauthorized/episodes/actions/by_sub_goal_id/{sub_goal_id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/dossier/back_channel/unauthorized/episodes/actions:
    post:
      tags:
      - dossier.episodes.Action
      summary: Create Action
      operationId: dossier.episodes.ActionAPI.create
      requestBody:
        description: Action to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.episodes.Action'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.Action'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/episodes/actions
    servers:
    - url: https://api-development.ons.io
  /v0/dossier/back_channel/unauthorized/episodes/actions/{id}:
    put:
      tags:
      - dossier.episodes.Action
      summary: Updates the given Action
      operationId: dossier.episodes.ActionAPI.update
      parameters:
      - name: id
        in: path
        description: Identifier of Action to update.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Action to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.episodes.Action'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.Action'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/episodes/actions/{id}
    patch:
      tags:
      - dossier.episodes.Action
      summary: Patches Action with given id
      operationId: dossier.episodes.ActionAPI.patch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.episodes.Action'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.Action'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/episodes/actions/{id}
    servers:
    - url: https://api-development.ons.io
  /v0/dossier/back_channel/unauthorized/episodes/actions/by_episode_id/{episode_id}:
    get:
      tags:
      - dossier.episodes.Action
      summary: Gets all the actions for the specified episode ID
      operationId: dossier.episodes.ActionAPI.byEpisodeId
      parameters:
      - name: episode_id
        in: path
        description: The ID of the episode for which to fetch actions
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.list.ActionList'
      x-replacement-for:
      - /t/dossier/episodes/actions/by_episode_id/{episode_id}
    servers:
    - url: https://api-development.ons.io
  /v0/dossier/back_channel/unauthorized/episodes/actions/by_sub_goal_id/{sub_goal_id}:
    get:
      tags:
      - dossier.episodes.Action
      summary: Gets alls the actions for the specified episode sub goal ID
      operationId: dossier.episodes.ActionAPI.bySubGoalId
      parameters:
      - name: sub_goal_id
        in: path
        description: The ID of the subgoal for which to fetch actions
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.episodes.list.ActionList'
      x-replacement-for:
      - /t/dossier/episodes/actions/by_sub_goal_id/{sub_goal_id}
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    dossier.episodes.list.ActionList:
      type: object
      properties:
        actions:
          type: array
          items:
            $ref: '#/components/schemas/dossier.episodes.Action'
      description: ActionList model (no description)
      example:
        actions:
        - updatedAt: '2017-11-27T00:00:00.000+01:00'
          createdAt: '2017-11-27T00:00:00.000+01:00'
          createdBy: Dummy
          id: 3
          title: Some action
          subGoalId: 2
          showInCarePlan: true
          archived: false
        - updatedAt: '2017-11-27T00:00:00.000+01:00'
          createdAt: '2017-11-27T00:00:00.000+01:00'
          createdBy: Dummy
          id: 55
          title: Some archived action
          subGoalId: 90
          showInCarePlan: false
          archived: true
    dossier.episodes.Action:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          description: Object id of this episode action
          format: int64
          x-cupido-id: true
        title:
          type: string
          description: Title of this episode action
        subGoalId:
          type: integer
          description: Object id of the parent episode sub goal
          format: int64
        showInCarePlan:
          type: boolean
          description: Show this action in the care plan
        archived:
          type: boolean
          description: Archive status of this action
      description: Action model (no description)
      example:
        updatedAt: '2017-11-27T00:00:00.000+01:00'
        createdAt: '2017-11-27T00:00:00.000+01:00'
        createdBy: Dummy
        id: 3
        title: Some action
        subGoalId: 2
        showInCarePlan: true
        archived: false
    AuditedBase:
      title: AuditedBase
      type: object
      properties:
        updatedAt:
          type:
          - string
          - 'null'
          description: Dated Base extension.
          format: date-time
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        createdBy:
          type:
          - string
          - 'null'
      description: AuditedBase model (no description)
      example:
        updatedAt: '2014-12-29T00:00:00.000+01:00'
        createdAt: '2014-12-29T00:00:00.000+01:00'
        createdBy: example
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
