openapi: 3.2.0
info:
  title: Nedap Dossier.omaha.Classified Problem API
  version: 0.0.0
  description: 'Operations tagged dossier.omaha.ClassifiedProblem across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: dossier.omaha.ClassifiedProblem
paths:
  /t/dossier/omaha/classified_problems:
    post:
      tags:
      - dossier.omaha.ClassifiedProblem
      summary: Create ClassifiedProblem
      operationId: dossier.omaha.ClassifiedProblemAPI.create
      parameters:
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      requestBody:
        description: ClassifiedProblem to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.omaha.ClassifiedProblem'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.omaha.ClassifiedProblem'
        '400':
          description: Invalid problem
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/omaha/classified_problems
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/dossier/omaha/classified_problems/{id}:
    get:
      tags:
      - dossier.omaha.ClassifiedProblem
      summary: Return the Omaha Classified Problem corresponding to the given id
      operationId: dossier.omaha.ClassifiedProblemAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting ClassifiedProblem
        required: true
        schema:
          type: string
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.omaha.ClassifiedProblem'
        '400':
          description: Invalid problem
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/omaha/classified_problems/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    put:
      tags:
      - dossier.omaha.ClassifiedProblem
      summary: Updates the given ClassifiedProblem
      operationId: dossier.omaha.ClassifiedProblemAPI.update
      parameters:
      - name: id
        in: path
        description: used for selecting ClassifiedProblem
        required: true
        schema:
          type: string
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      requestBody:
        description: ClassifiedProblem to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.omaha.ClassifiedProblem'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.omaha.ClassifiedProblem'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/omaha/classified_problems/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    delete:
      tags:
      - dossier.omaha.ClassifiedProblem
      summary: Deletes the ClassifiedProblem with given id
      operationId: dossier.omaha.ClassifiedProblemAPI.delete
      parameters:
      - name: id
        in: path
        description: used for selecting ClassifiedProblem
        required: true
        schema:
          type: string
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '204':
          description: If successfully removed the classified problem
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/omaha/classified_problems/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/omaha/classified_problems:
    post:
      tags:
      - dossier.omaha.ClassifiedProblem
      summary: Create ClassifiedProblem
      operationId: dossier.omaha.ClassifiedProblemAPI.create
      parameters:
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      requestBody:
        description: ClassifiedProblem to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.omaha.ClassifiedProblem'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.omaha.ClassifiedProblem'
        '400':
          description: Invalid problem
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/omaha/classified_problems
    servers:
    - url: https://api-development.ons.io
  /v0/administration/omaha/classified_problems/{id}:
    get:
      tags:
      - dossier.omaha.ClassifiedProblem
      summary: Return the Omaha Classified Problem corresponding to the given id
      operationId: dossier.omaha.ClassifiedProblemAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting ClassifiedProblem
        required: true
        schema:
          type: string
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.omaha.ClassifiedProblem'
        '400':
          description: Invalid problem
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/omaha/classified_problems/{id}
    put:
      tags:
      - dossier.omaha.ClassifiedProblem
      summary: Updates the given ClassifiedProblem
      operationId: dossier.omaha.ClassifiedProblemAPI.update
      parameters:
      - name: id
        in: path
        description: used for selecting ClassifiedProblem
        required: true
        schema:
          type: string
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      requestBody:
        description: ClassifiedProblem to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.omaha.ClassifiedProblem'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.omaha.ClassifiedProblem'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/omaha/classified_problems/{id}
    delete:
      tags:
      - dossier.omaha.ClassifiedProblem
      summary: Deletes the ClassifiedProblem with given id
      operationId: dossier.omaha.ClassifiedProblemAPI.delete
      parameters:
      - name: id
        in: path
        description: used for selecting ClassifiedProblem
        required: true
        schema:
          type: string
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '204':
          description: If successfully removed the classified problem
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/omaha/classified_problems/{id}
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    dossier.omaha.ClassifiedProblem:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: string
          x-cupido-id: true
        omahaClassificationId:
          type: string
        clientId:
          type: integer
          format: int64
        ratingKnowledgeStart:
          type: integer
          description: (nl) Huidige score kennis
          format: int32
        ratingBehaviorStart:
          type: integer
          description: (nl) Huidige score gedrag
          format: int32
        ratingStatusSignalsStart:
          type: integer
          description: (nl) Huidige score status signaal
          format: int32
        ratingKnowledgeTarget:
          type: integer
          description: (nl) Streef score kennis
          format: int32
        ratingBehaviorTarget:
          type: integer
          description: (nl) Streef score gedrag
          format: int32
        ratingStatusSignalsTarget:
          type: integer
          description: (nl) Streef score status signaal
          format: int32
        modifierReach:
          allOf:
          - $ref: '#/components/schemas/dossier.omaha.ModifierReach'
          description: (nl) Omaha kenmerken (1/2)
        modifierProblemLevel:
          allOf:
          - $ref: '#/components/schemas/dossier.omaha.ModifierProblemLevel'
          description: (nl) Omaha kenmerken (2/2)
        additionalInfo:
          type: string
          description: (nl) Toelichting
        omahaProblem:
          allOf:
          - $ref: '#/components/schemas/dossier.omaha.Problem'
          description: Problem definition
        omahaClassifiedSignsAndSymptoms:
          type: array
          items:
            $ref: '#/components/schemas/dossier.omaha.ClassifiedSignOrSymptom'
          description: (nl) Bijbehorende omaha 'signalen en symptomen'
          xml:
            wrapped: true
        omahaClassifiedInterventions:
          type: array
          items:
            $ref: '#/components/schemas/dossier.omaha.ClassifiedIntervention'
          description: (nl) Bijbehorende omaha 'acties'
          xml:
            wrapped: true
      description: '(nl) Omaha Gebieden '
      example:
        updatedAt: '2014-04-01T17:00:00.000+02:00'
        createdAt: '2013-12-01T17:00:00.000+01:00'
        createdBy: user
        id: 1:some.classification.id
        omahaClassificationId: care_plan:23
        clientId: 3
        ratingKnowledgeStart: 0
        ratingBehaviorStart: 0
        ratingStatusSignalsStart: 0
        ratingKnowledgeTarget: 0
        ratingBehaviorTarget: 0
        ratingStatusSignalsTarget: 0
        modifierReach: Family
        modifierProblemLevel: Actual
        additionalInfo: Extra informatie
        omahaProblem:
          classificationId: example
          name: example
          omahaDomain:
            classificationId: example
            name: example
          omahaSignsAndSymptoms:
          - classificationId: example
            name: example
            problemId: example
            textAllowed: true
          - classificationId: example
            name: example
            problemId: example
            textAllowed: true
        omahaClassifiedSignsAndSymptoms:
        - text: example
          omahaSignOrSymptom:
            classificationId: example
            name: example
            problemId: example
            textAllowed: true
        - text: example
          omahaSignOrSymptom:
            classificationId: example
            name: example
            problemId: example
            textAllowed: true
        omahaClassifiedInterventions:
        - id: 1
          omahaInterventionCategory:
            classificationId: example
            name: example
          omahaInterventionTarget:
            classificationId: example
            name: example
          specification: example
          carePlanEntryId: 1
          actionEntryId: 1
        - id: 1
          omahaInterventionCategory:
            classificationId: example
            name: example
          omahaInterventionTarget:
            classificationId: example
            name: example
          specification: example
          carePlanEntryId: 1
          actionEntryId: 1
      xml:
        name: omahaClassifiedProblem
    AuditedBase:
      title: AuditedBase
      type: object
      properties:
        updatedAt:
          type:
          - string
          - 'null'
          description: Dated Base extension.
          format: date-time
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        createdBy:
          type:
          - string
          - 'null'
      description: AuditedBase model (no description)
      example:
        updatedAt: '2014-12-29T00:00:00.000+01:00'
        createdAt: '2014-12-29T00:00:00.000+01:00'
        createdBy: example
    dossier.omaha.ClassifiedIntervention:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        omahaInterventionCategory:
          allOf:
          - $ref: '#/components/schemas/dossier.omaha.InterventionCategory'
          description: (nl) Soort actie
        omahaInterventionTarget:
          allOf:
          - $ref: '#/components/schemas/dossier.omaha.InterventionTarget'
          description: (nl) Actievlak
        specification:
          type: string
          description: (nl) Specificatie
        carePlanEntryId:
          type: integer
          description: Object id of the corresponding carePlanEntry
          format: int64
        actionEntryId:
          type: integer
          description: Object id of the corresponding actionEntry
          format: int64
      description: '(nl) Omaha Acties '
      example:
        id: 1
        omahaInterventionCategory:
          classificationId: example
          name: example
        omahaInterventionTarget:
          classificationId: example
          name: example
        specification: Dummy
        carePlanEntryId: 13
        actionEntryId: 14
      xml:
        name: omahaClassifiedIntervention
    dossier.omaha.ModifierProblemLevel:
      type: string
      oneOf:
      - title: HealthPromotion
        enum:
        - HealthPromotion
      - title: Potential
        enum:
        - Potential
      - title: Actual
        enum:
        - Actual
      description: (nl) Omaha kenmerken (2/2)
      example: HealthPromotion
    dossier.omaha.ClassifiedSignOrSymptom:
      type: object
      properties:
        text:
          type: string
          description: (nl) Toelichting bij signalen en symptomen
        omahaSignOrSymptom:
          allOf:
          - $ref: '#/components/schemas/dossier.omaha.SignOrSymptom'
          description: (nl) Definitie van dit signaal/symptoom
      description: '(nl) Omaha ''Signalen en symptomen'' '
      example:
        text: Some text
        omahaSignOrSymptom:
          classificationId: example
          name: example
          problemId: example
          textAllowed: true
      xml:
        name: omahaClassifiedSignOrSymptom
    dossier.omaha.SignOrSymptom:
      type: object
      properties:
        classificationId:
          type: string
          x-cupido-id: true
        name:
          type: string
          description: (nl) Naam van dit signaal/symptoom
        problemId:
          type: string
          description: Object id of the related problem
        textAllowed:
          type: boolean
          description: 'Indicates the presence of an extra textfield

            (nl) Geeft aan of er een extra tekstveld aanwezig is'
      description: 'Omaha definitie van ''signalen en symptomen'' '
      example:
        classificationId: Dummy
        name: Dummy
        problemId: some.classification.id
        textAllowed: true
      xml:
        name: omahaSignOrSymptom
    dossier.omaha.Problem:
      type: object
      properties:
        classificationId:
          type: string
          x-cupido-id: true
        name:
          type: string
          description: (nl) Naam van dit gebied
        omahaDomain:
          allOf:
          - $ref: '#/components/schemas/dossier.omaha.Domain'
          description: (nl) Domein van dit gebied
        omahaSignsAndSymptoms:
          type: array
          items:
            $ref: '#/components/schemas/dossier.omaha.SignOrSymptom'
          description: (nl) Gerelateerde signalen en symptomen
          xml:
            wrapped: true
      description: 'Omaha definitie van ''gebied'' '
      example:
        classificationId: Dummy
        name: Dummy
        omahaDomain:
          classificationId: example
          name: example
        omahaSignsAndSymptoms:
        - classificationId: example
          name: example
          problemId: example
          textAllowed: true
        - classificationId: example
          name: example
          problemId: example
          textAllowed: true
      xml:
        name: omahaProblem
    dossier.omaha.InterventionTarget:
      type: object
      properties:
        classificationId:
          type: string
          x-cupido-id: true
        name:
          type: string
          description: (nl) Naam van dit actievlak
      description: 'Omaha Actievlak '
      example:
        classificationId: Dummy
        name: Dummy
      xml:
        name: omahaInterventionTarget
    dossier.omaha.InterventionCategory:
      type: object
      properties:
        classificationId:
          type: string
          x-cupido-id: true
        name:
          type: string
          description: (nl) Naam van deze actie
      description: 'Omaha soort actie '
      example:
        classificationId: Dummy
        name: Dummy
      xml:
        name: omahaInterventionCategory
    dossier.omaha.ModifierReach:
      type: string
      oneOf:
      - title: Individual
        enum:
        - Individual
      - title: Family
        enum:
        - Family
      - title: Community
        enum:
        - Community
      description: (nl) Omaha kenmerken (1/2)
      example: Individual
    dossier.omaha.Domain:
      type: object
      properties:
        classificationId:
          type: string
          x-cupido-id: true
        name:
          type: string
          description: (nl) Naam van dit domein
      description: 'Omaha Domein '
      example:
        classificationId: Dummy
        name: Dummy
      xml:
        name: omahaDomain
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
