openapi: 3.2.0
info:
  title: Nedap Care Arrangement API
  version: 0.0.0
  description: 'Operations tagged CareArrangement across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: CareArrangement
paths:
  /t/clients/{client_id}/care_arrangements:
    get:
      tags:
      - CareArrangement
      summary: Return the care arrangements of a Client corresponding to the given id
      operationId: CareArrangementAPI.byClientId
      parameters:
      - name: client_id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      - name: valid_from
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: valid_to
        in: query
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.CareArrangementList'
      x-replaced-by: /v0/administration/clients/{client_id}/care_arrangements
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/care_arrangements/x-stream-connect/data:
    get:
      tags:
      - CareArrangement
      summary: Return all CareArrangement models in a streaming manner
      operationId: CareArrangementAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.CareArrangementList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/CareArrangement'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/care_arrangements/data
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/care_arrangements/x-stream-connect/updates:
    get:
      tags:
      - CareArrangement
      summary: Return all CareArrangement models which where updated since the date given in…
      operationId: CareArrangementAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.CareArrangementList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/CareArrangement'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/care_arrangements/updates
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/clients/{client_id}/care_arrangements:
    get:
      tags:
      - CareArrangement
      summary: Return the care arrangements of a Client corresponding to the given id
      operationId: CareArrangementAPI.byClientId
      parameters:
      - name: client_id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      - name: valid_from
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: valid_to
        in: query
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.CareArrangementList'
      x-replacement-for:
      - /t/clients/{client_id}/care_arrangements
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/care_arrangements/data:
    get:
      tags:
      - CareArrangement
      summary: Return all CareArrangement models in a streaming manner
      operationId: CareArrangementAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.CareArrangementList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/CareArrangement'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/care_arrangements/x-stream-connect/data
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/care_arrangements/updates:
    get:
      tags:
      - CareArrangement
      summary: Return all CareArrangement models which where updated since the date given in…
      operationId: CareArrangementAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.CareArrangementList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/CareArrangement'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/care_arrangements/x-stream-connect/updates
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    list.CareArrangementList:
      type: object
      properties:
        careArrangements:
          type: array
          items:
            $ref: '#/components/schemas/CareArrangement'
          xml:
            name: careArrangement
      description: CareArrangementList model (no description)
      example:
        careArrangements:
        - id: 1
          clientObjectId: 7815
          teamObjectId: 0
          activityObjectId: 39
          category: 1
          beginDate: '2010-02-22T00:00:00.000+01:00'
          endDate: '2010-05-21T23:59:59.000+02:00'
          normMorning: 180
          normAfternoon: 0
          normEvening: 0
          normNight: 0
          mornings: 1 2 3 4 5
          afternoons: ''
          evenings: ''
          nights: ''
      xml:
        name: careArrangements
    CareArrangement:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        clientObjectId:
          type: integer
          format: int64
        teamObjectId:
          type: integer
          format: int64
        activityObjectId:
          type: integer
          description: Id of an activityObject, also known as hour_type
          format: int64
        category:
          type: integer
          format: int32
        beginDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        normMorning:
          type: integer
          format: int32
        normAfternoon:
          type: integer
          format: int32
        normEvening:
          type: integer
          format: int32
        normNight:
          type: integer
          format: int32
        mornings:
          type: string
        afternoons:
          type: string
        evenings:
          type: string
        nights:
          type: string
      description: Care arrangement domain model.
      example:
        id: 1
        clientObjectId: 7815
        teamObjectId: 0
        activityObjectId: 39
        category: 1
        beginDate: '2010-02-22T01:00:00.000+01:00'
        endDate: '2010-05-22T01:59:59.000+02:00'
        normMorning: 180
        normAfternoon: 0
        normEvening: 0
        normNight: 0
        mornings: 1 2 3 4 5
        afternoons: 1 2 3 4 5
        evenings: 1 2 3 4 5
        nights: 1 2 3 4 5
      xml:
        name: careArrangement
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
