openapi: 3.2.0
info:
  title: Nedap Nexus.Client Employee Relation API
  version: 0.0.0
  description: 'Operations tagged nexus.ClientEmployeeRelation across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: nexus.ClientEmployeeRelation
paths:
  /t/nexus/client_employee_relations:
    post:
      tags:
      - nexus.ClientEmployeeRelation
      summary: Deprecated. Please use `/administration/client_employee_relations` instead
      operationId: nexus.ClientEmployeeRelationAPI.create
      requestBody:
        description: ClientEmployeeRelation to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nexus.ClientEmployeeRelation'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nexus.ClientEmployeeRelation'
      deprecated: true
      x-cupido-common-method: true
      x-deprecated-since: 12-05-2026
      x-replaced-by: /v0/ons_nexus/client_employee_relations
    servers:
    - url: https://api-development.ons.io
  /t/nexus/client_employee_relations/{id}:
    get:
      tags:
      - nexus.ClientEmployeeRelation
      summary: Deprecated. Please use `/administration/client_employee_relations/{id}` instead
      operationId: nexus.ClientEmployeeRelationAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting ClientEmployeeRelation
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nexus.ClientEmployeeRelation'
      deprecated: true
      x-cupido-common-method: true
      x-deprecated-since: 12-05-2026
      x-replaced-by: /v0/ons_nexus/client_employee_relations/{id}
    put:
      tags:
      - nexus.ClientEmployeeRelation
      summary: Deprecated. Please use `/administration/client_employee_relations/{id}` instead
      operationId: nexus.ClientEmployeeRelationAPI.update
      parameters:
      - name: id
        in: path
        description: Identifier of ClientEmployeeRelation to update.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: ClientEmployeeRelation to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nexus.ClientEmployeeRelation'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nexus.ClientEmployeeRelation'
      deprecated: true
      x-cupido-common-method: true
      x-deprecated-since: 12-05-2026
      x-replaced-by: /v0/ons_nexus/client_employee_relations/{id}
    delete:
      tags:
      - nexus.ClientEmployeeRelation
      summary: Deprecated. Please use `/administration/client_employee_relations/{id}` instead
      operationId: nexus.ClientEmployeeRelationAPI.delete
      parameters:
      - name: id
        in: path
        description: Identifier of ClientEmployeeRelation to delete.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: If successfully removed the client employee relation
      deprecated: true
      x-cupido-common-method: true
      x-deprecated-since: 12-05-2026
      x-replaced-by: /v0/ons_nexus/client_employee_relations/{id}
    servers:
    - url: https://api-development.ons.io
  /t/clients/{client_id}/client_employee_relations:
    get:
      tags:
      - nexus.ClientEmployeeRelation
      summary: Deprecated.
      operationId: nexus.ClientEmployeeRelationAPI.byClientId
      parameters:
      - name: client_id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      - name: valid_from
        in: query
        schema:
          type: string
          format: date
      - name: valid_to
        in: query
        schema:
          type: string
          format: date
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nexus.list.ClientEmployeeRelationList'
      deprecated: true
      x-deprecated-since: 12-05-2026
      x-replaced-by: /v0/ons_nexus/clients/{client_id}/client_employee_relations
    servers:
    - url: https://api-development.ons.io
  /t/employees/{employee_id}/client_employee_relations:
    get:
      tags:
      - nexus.ClientEmployeeRelation
      summary: Deprecated.
      operationId: nexus.ClientEmployeeRelationAPI.byEmployeeId
      parameters:
      - name: employee_id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      - name: valid_from
        in: query
        schema:
          type: string
          format: date
      - name: valid_to
        in: query
        schema:
          type: string
          format: date
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nexus.list.ClientEmployeeRelationList'
      deprecated: true
      x-deprecated-since: 12-05-2026
      x-replaced-by: /v0/ons_nexus/employees/{employee_id}/client_employee_relations
    servers:
    - url: https://api-development.ons.io
  /t/nexus/client_employee_relations/x-stream-connect/data:
    get:
      tags:
      - nexus.ClientEmployeeRelation
      summary: Return all ClientEmployeeRelation models in a streaming manner
      operationId: nexus.ClientEmployeeRelationAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nexus.list.ClientEmployeeRelationList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/nexus.ClientEmployeeRelation'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/client_employee_relations/data
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/nexus/client_employee_relations/x-stream-connect/updates:
    get:
      tags:
      - nexus.ClientEmployeeRelation
      summary: Return all ClientEmployeeRelation models which where updated since the date…
      operationId: nexus.ClientEmployeeRelationAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nexus.list.ClientEmployeeRelationList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/nexus.ClientEmployeeRelation'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/client_employee_relations/updates
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/ons_nexus/client_employee_relations:
    post:
      tags:
      - nexus.ClientEmployeeRelation
      summary: Deprecated. Please use `/administration/client_employee_relations` instead
      operationId: nexus.ClientEmployeeRelationAPI.create
      requestBody:
        description: ClientEmployeeRelation to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nexus.ClientEmployeeRelation'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nexus.ClientEmployeeRelation'
      deprecated: true
      x-cupido-common-method: true
      x-deprecated-since: 12-05-2026
      x-replacement-for:
      - /t/nexus/client_employee_relations
    servers:
    - url: https://api-development.ons.io
  /v0/ons_nexus/client_employee_relations/{id}:
    get:
      tags:
      - nexus.ClientEmployeeRelation
      summary: Deprecated. Please use `/administration/client_employee_relations/{id}` instead
      operationId: nexus.ClientEmployeeRelationAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting ClientEmployeeRelation
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nexus.ClientEmployeeRelation'
      deprecated: true
      x-cupido-common-method: true
      x-deprecated-since: 12-05-2026
      x-replacement-for:
      - /t/nexus/client_employee_relations/{id}
    put:
      tags:
      - nexus.ClientEmployeeRelation
      summary: Deprecated. Please use `/administration/client_employee_relations/{id}` instead
      operationId: nexus.ClientEmployeeRelationAPI.update
      parameters:
      - name: id
        in: path
        description: Identifier of ClientEmployeeRelation to update.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: ClientEmployeeRelation to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nexus.ClientEmployeeRelation'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nexus.ClientEmployeeRelation'
      deprecated: true
      x-cupido-common-method: true
      x-deprecated-since: 12-05-2026
      x-replacement-for:
      - /t/nexus/client_employee_relations/{id}
    delete:
      tags:
      - nexus.ClientEmployeeRelation
      summary: Deprecated. Please use `/administration/client_employee_relations/{id}` instead
      operationId: nexus.ClientEmployeeRelationAPI.delete
      parameters:
      - name: id
        in: path
        description: Identifier of ClientEmployeeRelation to delete.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: If successfully removed the client employee relation
      deprecated: true
      x-cupido-common-method: true
      x-deprecated-since: 12-05-2026
      x-replacement-for:
      - /t/nexus/client_employee_relations/{id}
    servers:
    - url: https://api-development.ons.io
  /v0/ons_nexus/clients/{client_id}/client_employee_relations:
    get:
      tags:
      - nexus.ClientEmployeeRelation
      summary: Deprecated.
      operationId: nexus.ClientEmployeeRelationAPI.byClientId
      parameters:
      - name: client_id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      - name: valid_from
        in: query
        schema:
          type: string
          format: date
      - name: valid_to
        in: query
        schema:
          type: string
          format: date
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nexus.list.ClientEmployeeRelationList'
      deprecated: true
      x-deprecated-since: 12-05-2026
      x-replacement-for:
      - /t/clients/{client_id}/client_employee_relations
    servers:
    - url: https://api-development.ons.io
  /v0/ons_nexus/employees/{employee_id}/client_employee_relations:
    get:
      tags:
      - nexus.ClientEmployeeRelation
      summary: Deprecated.
      operationId: nexus.ClientEmployeeRelationAPI.byEmployeeId
      parameters:
      - name: employee_id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      - name: valid_from
        in: query
        schema:
          type: string
          format: date
      - name: valid_to
        in: query
        schema:
          type: string
          format: date
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nexus.list.ClientEmployeeRelationList'
      deprecated: true
      x-deprecated-since: 12-05-2026
      x-replacement-for:
      - /t/employees/{employee_id}/client_employee_relations
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/client_employee_relations/data:
    get:
      tags:
      - nexus.ClientEmployeeRelation
      summary: Return all ClientEmployeeRelation models in a streaming manner
      operationId: nexus.ClientEmployeeRelationAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nexus.list.ClientEmployeeRelationList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/nexus.ClientEmployeeRelation'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/nexus/client_employee_relations/x-stream-connect/data
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/client_employee_relations/updates:
    get:
      tags:
      - nexus.ClientEmployeeRelation
      summary: Return all ClientEmployeeRelation models which where updated since the date…
      operationId: nexus.ClientEmployeeRelationAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nexus.list.ClientEmployeeRelationList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/nexus.ClientEmployeeRelation'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/nexus/client_employee_relations/x-stream-connect/updates
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    AuditedBase:
      title: AuditedBase
      type: object
      properties:
        updatedAt:
          type:
          - string
          - 'null'
          description: Dated Base extension.
          format: date-time
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        createdBy:
          type:
          - string
          - 'null'
      description: AuditedBase model (no description)
      example:
        updatedAt: '2014-12-29T00:00:00.000+01:00'
        createdAt: '2014-12-29T00:00:00.000+01:00'
        createdBy: example
    nexus.RelationType:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        name:
          type: string
        tag:
          type: string
        primary:
          type: boolean
        exclusive:
          type: boolean
        relevant:
          type: boolean
        negative:
          type: boolean
        active:
          type: boolean
        legal:
          type: boolean
        vbmResponsible:
          type: boolean
        vektisCode:
          type: integer
          description: See https://www.vektis.nl/standaardisatie/codelijsten/COD821-VEKT
          format: int64
        reference:
          type: integer
          description: Only available during transitional period.
          format: int64
          deprecated: true
        relationCategory:
          $ref: '#/components/schemas/nexus.RelationCategory'
      description: RelationType model (no description)
      example:
        updatedAt: '2013-09-24T11:49:58.000+02:00'
        createdAt: '2013-09-24T11:49:58.000+02:00'
        createdBy: user
        id: 6
        name: Coach
        tag: coach
        primary: true
        exclusive: true
        relevant: true
        negative: false
        active: true
        legal: false
        vbmResponsible: false
        vektisCode: 1
        reference: 1
        relationCategory:
          updatedAt: '2013-09-24T11:49:58.000+02:00'
          createdAt: '2013-09-24T11:49:58.000+02:00'
          createdBy: user
          id: 7
          name: Standard
      deprecated: true
      x-deprecated-since: 03-10-2014
    nexus.ClientEmployeeRelationType:
      type: object
      allOf:
      - $ref: '#/components/schemas/nexus.RelationType'
      description: ClientEmployeeRelationType model (no description)
      example:
        id: 6
        name: Coach
        tag: tag
        primary: true
        exclusive: true
        relevant: true
        negative: false
        active: true
        legal: false
        vbmResponsible: false
        vektisCode: 1
        reference: 1
        relationCategory:
          updatedAt: '2013-09-24T11:49:58.000+02:00'
          createdAt: '2013-09-24T11:49:58.000+02:00'
          createdBy: user
          id: 7
          name: Standard
        updatedAt: '2013-09-24T11:49:58.000+02:00'
        createdAt: '2013-09-24T11:49:58.000+02:00'
        createdBy: user
    nexus.RelationCategory:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        name:
          type: string
        type:
          type: string
      description: RelationCategory model (no description)
      example:
        updatedAt: '2013-09-24T11:49:58.000+02:00'
        createdAt: '2013-09-24T11:49:58.000+02:00'
        createdBy: user
        id: 7
        name: Standard
        type: SOCIAL
      xml:
        name: relationCategory
    nexus.ClientEmployeeRelation:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        relationName:
          type: string
          description: The name of the relation type, equal to relationType.name.
        validFrom:
          type: string
          format: date-time
        validTo:
          type: string
          format: date-time
        relationType:
          $ref: '#/components/schemas/nexus.ClientEmployeeRelationType'
        relationTypeId:
          type: integer
          format: int64
        clientId:
          type: integer
          format: int64
        employeeId:
          type: integer
          format: int64
      description: ClientEmployeeRelation model (no description)
      example:
        updatedAt: '2013-09-24T11:49:58.000+02:00'
        createdAt: '2013-09-24T11:49:58.000+02:00'
        createdBy: user
        id: 5
        relationName: Cøach
        validFrom: '2013-11-28T00:00:00.000+01:00'
        validTo: '2013-11-30T00:00:00.000+01:00'
        relationType:
          id: 6
          name: Cøach
          primary: true
          exclusive: true
          relevant: true
          negative: false
          active: true
          legal: false
          vbmResponsible: false
          vektisCode: 1
          reference: 1
          relationCategory:
            updatedAt: '2013-09-24T11:49:58.000+02:00'
            createdAt: '2013-09-24T11:49:58.000+02:00'
            createdBy: user
            id: 7
            name: Standard
          updatedAt: '2013-09-24T11:49:58.000+02:00'
          createdAt: '2013-09-24T11:49:58.000+02:00'
          createdBy: user
        relationTypeId: 6
        clientId: 3
        employeeId: 12
      xml:
        name: clientEmployeeRelation
    nexus.list.ClientEmployeeRelationList:
      type: object
      properties:
        clientEmployeeRelations:
          type: array
          items:
            $ref: '#/components/schemas/nexus.ClientEmployeeRelation'
          xml:
            name: clientEmployeeRelation
      description: ClientEmployeeRelationList model (no description)
      example:
        clientEmployeeRelations:
        - updatedAt: '2013-09-24T11:49:58.000+02:00'
          createdAt: '2013-09-24T11:49:58.000+02:00'
          id: 17
          relationName: Cøach
          validFrom: '2013-11-28T11:49:58.000+01:00'
          validTo: '2013-11-30T11:49:58.000+01:00'
          relationType:
            id: 6
            name: Cøach
            primary: true
            exclusive: true
            negative: false
            active: true
            vektisCode: 1
            reference: 1
            relationCategory:
              updatedAt: '2013-09-24T11:49:58.000+02:00'
              createdAt: '2013-09-24T11:49:58.000+02:00'
              id: 7
              name: Standard
            updatedAt: '2013-09-24T11:49:58.000+02:00'
            createdAt: '2013-09-24T11:49:58.000+02:00'
          relationTypeId: 6
          clientId: 3
          employeeId: 12
        - updatedAt: '2013-09-24T11:49:58.000+02:00'
          createdAt: '2013-09-24T11:49:58.000+02:00'
          id: 18
          relationName: Cøach
          validFrom: '2013-11-28T11:49:58.000+01:00'
          validTo: '2013-11-30T11:49:58.000+01:00'
          relationType:
            id: 6
            name: Cøach
            primary: true
            exclusive: true
            negative: false
            active: true
            vektisCode: 1
            reference: 1
            relationCategory:
              updatedAt: '2013-09-24T11:49:58.000+02:00'
              createdAt: '2013-09-24T11:49:58.000+02:00'
              id: 7
              name: Standard
            updatedAt: '2013-09-24T11:49:58.000+02:00'
            createdAt: '2013-09-24T11:49:58.000+02:00'
          relationTypeId: 6
          clientId: 3
          employeeId: 13
        - updatedAt: '2013-09-24T11:49:58.000+02:00'
          createdAt: '2013-09-24T11:49:58.000+02:00'
          id: 19
          relationName: Cøach
          validFrom: '2013-11-28T11:49:58.000+01:00'
          validTo: '2013-11-30T11:49:58.000+01:00'
          relationType:
            id: 6
            name: Cøach
            primary: true
            exclusive: true
            negative: false
            active: true
            vektisCode: 1
            reference: 1
            relationCategory:
              updatedAt: '2013-09-24T11:49:58.000+02:00'
              createdAt: '2013-09-24T11:49:58.000+02:00'
              id: 7
              name: Standard
            updatedAt: '2013-09-24T11:49:58.000+02:00'
            createdAt: '2013-09-24T11:49:58.000+02:00'
          relationTypeId: 6
          clientId: 3
          employeeId: 14
        - updatedAt: '2013-09-24T11:49:58.000+02:00'
          createdAt: '2013-09-24T11:49:58.000+02:00'
          id: 20
          relationName: Cøach
          validFrom: '2013-11-28T11:49:58.000+01:00'
          validTo: '2013-11-30T11:49:58.000+01:00'
          relationType:
            id: 6
            name: Cøach
            primary: true
            exclusive: true
            negative: false
            active: true
            vektisCode: 1
            reference: 1
            relationCategory:
              updatedAt: '2013-09-24T11:49:58.000+02:00'
              createdAt: '2013-09-24T11:49:58.000+02:00'
              id: 7
              name: Standard
            updatedAt: '2013-09-24T11:49:58.000+02:00'
            createdAt: '2013-09-24T11:49:58.000+02:00'
          relationTypeId: 6
          clientId: 3
          employeeId: 15
        - updatedAt: '2013-09-24T11:49:58.000+02:00'
          createdAt: '2013-09-24T11:49:58.000+02:00'
          id: 21
          relationName: Cøach
          validFrom: '2013-11-28T11:49:58.000+01:00'
          validTo: '2013-11-30T11:49:58.000+01:00'
          relationType:
            id: 6
            name: Cøach
            primary: true
            exclusive: true
            negative: false
            active: true
            vektisCode: 1
            reference: 1
            relationCategory:
              updatedAt: '2013-09-24T11:49:58.000+02:00'
              createdAt: '2013-09-24T11:49:58.000+02:00'
              id: 7
              name: Standard
            updatedAt: '2013-09-24T11:49:58.000+02:00'
            createdAt: '2013-09-24T11:49:58.000+02:00'
          relationTypeId: 6
          clientId: 3
          employeeId: 16
      xml:
        name: clientEmployeeRelations
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
