{
  "openapi": "3.0.3",
  "info": {
    "title": "Nedap Ons API",
    "version": "0.0.0"
  },
  "servers": [
    {
      "url": "https://api-development.ons.io"
    }
  ],
  "paths": {
    "/t/payroll/account_entries/{id}": {
      "get": {
        "tags": [
          "payroll.AccountEntry"
        ],
        "summary": "Return the Account Entry corresponding to the given id",
        "operationId": "payroll.AccountEntryAPI.byId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "used for selecting AccountEntry",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Cupido-User-Name",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cupido-Active-Identity",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payroll.AccountEntry"
                }
              }
            }
          },
          "400": {
            "description": "The ID is required"
          },
          "404": {
            "description": "The account entry cannot be found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/account_entries/{id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/payroll/account_entries/by_employee_and_type_in_period/{employee_id}": {
      "get": {
        "tags": [
          "payroll.AccountEntry"
        ],
        "summary": "Retrieve all AccountEntry for an Employee for a specific AccountType in a period",
        "description": "Retrieve all {@link AccountEntry} for an {@link Employee} for a specific {@link AccountType} in a period",
        "operationId": "payroll.AccountEntryAPI.byEmployeeAndAccountTypeInPeriod",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "the specific employee",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "account_type_id",
            "in": "query",
            "description": "the account type",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "valid_from",
            "in": "query",
            "description": "the start of the period",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "valid_to",
            "in": "query",
            "description": "the end of the period",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payroll.list.AccountEntryList"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/account_entries/by_employee_and_type_in_period/{employee_id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/payroll/account_entries/by_employee_and_type_till_date/{employee_id}": {
      "get": {
        "tags": [
          "payroll.AccountEntry"
        ],
        "summary": "Retrieve the account entries up until the specified date for a specific employee and specified type",
        "operationId": "payroll.AccountEntryAPI.byEmployeeIdAndAccountTypeIdTillDate",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "of the requested employee",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "account_type_id",
            "in": "query",
            "description": "the specified accountType",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "until accountentries are requested",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payroll.list.AccountEntryList"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/account_entries/by_employee_and_type_till_date/{employee_id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/payroll/account_entries/by_employee_and_type/{employee_id}": {
      "get": {
        "tags": [
          "payroll.AccountEntry"
        ],
        "summary": "Retrieve all AccountEntry for an Employee and a specific AccountType",
        "description": "Retrieve all {@link AccountEntry} for an {@link Employee} and a specific {@link AccountType}",
        "operationId": "payroll.AccountEntryAPI.byEmployeeAndAccountType",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "the requested employee",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "account_type_id",
            "in": "query",
            "description": "the specific accountType",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payroll.list.AccountEntryList"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/account_entries/by_employee_and_type/{employee_id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/payroll/account_entries/by_employee_in_period/{employee_id}": {
      "get": {
        "tags": [
          "payroll.AccountEntry"
        ],
        "summary": "Retrieve all the AccountEntry for an Employee in a specified period",
        "description": "Retrieve all the {@link AccountEntry} for an {@link Employee} in a specified period",
        "operationId": "payroll.AccountEntryAPI.byEmployeeInPeriod",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "of the request employee",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "valid_from",
            "in": "query",
            "description": "the start of the period",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "valid_to",
            "in": "query",
            "description": "the end of the period",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payroll.list.AccountEntryList"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/account_entries/by_employee_in_period/{employee_id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/payroll/account_entries/by_employee_till_date/{employee_id}": {
      "get": {
        "tags": [
          "payroll.AccountEntry"
        ],
        "summary": "Retrieve the account entries up until the specified date for a specific employee",
        "operationId": "payroll.AccountEntryAPI.byEmployeeIdTillDate",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "of the requested employee",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "until accountentries are requested",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payroll.list.AccountEntryList"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/account_entries/by_employee_till_date/{employee_id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/payroll/account_entries/by_employee/{employee_id}": {
      "get": {
        "tags": [
          "payroll.AccountEntry"
        ],
        "summary": "Retrieve all AccountEntry for an Employee",
        "description": "Retrieve all {@link AccountEntry} for an {@link Employee}",
        "operationId": "payroll.AccountEntryAPI.byEmployee",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "the requested employee",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payroll.list.AccountEntryList"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/account_entries/by_employee/{employee_id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/payroll/account_type_expire_statistics/by_employee_at_date/{employee_id}": {
      "get": {
        "tags": [
          "payroll.AccountTypeExpireStatistic"
        ],
        "summary": "Retrieve all the AccountTypeExpireStatistic for an Employee calculated at the given date",
        "description": "Retrieve all the {@link AccountTypeExpireStatistic} for an {@link Employee} calculated at the given date",
        "operationId": "payroll.AccountTypeExpireStatisticAPI.byEmployeeAtDate",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "of the requested employee",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "the date for which AccountTypeExpireStatistics are requested",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "subtype",
            "in": "query",
            "description": "the subtype of the account types for which AccountTypeExpireStatistics should be returned. Valid inputs are 0 (none), 1 (PLB) and 2 (LFB).",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payroll.list.AccountTypeExpireStatisticList"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/account_type_expire_statistics/by_employee_at_date/{employee_id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/payroll/account_types": {
      "get": {
        "tags": [
          "payroll.AccountType"
        ],
        "summary": "Returns every AccountType available from the AccountTypeAPI",
        "operationId": "payroll.AccountTypeAPI.all",
        "parameters": [
          {
            "name": "X-Cupido-User-Name",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cupido-Active-Identity",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payroll.list.AccountTypeList"
                }
              }
            }
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/account_types",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/payroll/account_types/{id}": {
      "get": {
        "tags": [
          "payroll.AccountType"
        ],
        "summary": "Return the AccountType corresponding to the given id",
        "operationId": "payroll.AccountTypeAPI.byId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "used for selecting AccountType",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Cupido-User-Name",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cupido-Active-Identity",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payroll.AccountType"
                }
              }
            }
          },
          "400": {
            "description": "ID is required"
          },
          "404": {
            "description": "The account type could not be found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/account_types/{id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/addresses/{id}": {
      "get": {
        "tags": [
          "Address"
        ],
        "summary": "Find address by id",
        "operationId": "AddressAPI.byId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the id of an address",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "404": {
            "description": "Address not found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/addresses/{id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/admin/background_image": {
      "get": {
        "tags": [
          "admin.BackgroundImage"
        ],
        "summary": "Retrieves the BackgroundImage",
        "operationId": "admin.BackgroundImageAPI.get",
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.BackgroundImage"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/admin/background_image",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/admin/licenses": {
      "get": {
        "tags": [
          "admin.License"
        ],
        "summary": "Returns every License available from the LicenseAPI",
        "operationId": "admin.LicenseAPI.all",
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.list.LicenseList"
                }
              }
            }
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/admin/licenses",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/admin/logo_image": {
      "get": {
        "tags": [
          "admin.LogoImage"
        ],
        "summary": "Retrieves the LogoImage",
        "operationId": "admin.LogoImageAPI.get",
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.LogoImage"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/admin/logo_image",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/admin/logo_image/download": {
      "get": {
        "tags": [
          "admin.LogoImage"
        ],
        "summary": "Download logo image.",
        "operationId": "admin.LogoImageAPI.download",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "image/jpeg"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/admin/logo_image/download",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/timesheet_config": {
      "get": {
        "tags": [
          "admin.TimesheetConfig"
        ],
        "summary": "Retrieves the TimesheetConfig",
        "operationId": "admin.TimesheetConfigAPI.get",
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.TimesheetConfig"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/admin/timesheetconfig",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      },
      "put": {
        "tags": [
          "admin.TimesheetConfig"
        ],
        "summary": "Updates the given TimesheetConfig",
        "operationId": "admin.TimesheetConfigAPI.update",
        "requestBody": {
          "description": "TimesheetConfig to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/admin.TimesheetConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.TimesheetConfig"
                }
              }
            }
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/admin/timesheetconfig",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/admin/version": {
      "get": {
        "tags": [
          "admin.Version"
        ],
        "summary": "Retrieves the Version",
        "operationId": "admin.VersionAPI.get",
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.Version"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/admin/version",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/agbcodes": {
      "get": {
        "tags": [
          "Agbcode"
        ],
        "summary": "Returns every Agbcode available from the AgbcodeAPI",
        "operationId": "AgbcodeAPI.all",
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list.AgbcodeList"
                }
              }
            }
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/agbcodes",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/agbcodes/{id}": {
      "get": {
        "tags": [
          "Agbcode"
        ],
        "summary": "Return the Agbcode corresponding to the given id",
        "operationId": "AgbcodeAPI.byId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "used for selecting Agbcode",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agbcode"
                }
              }
            }
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/agbcodes/{id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/agbcodes/by_client_id/{id}/sorted": {
      "get": {
        "tags": [
          "Agbcode"
        ],
        "summary": "Return a list of sorted agbcodes, using the tree depth of the location of given person",
        "description": "if the agbcode of the location fails, return agbcode from the parent unit",
        "operationId": "AgbcodeAPI.sortedByClientId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "of the client's object from who we want the associated agbcode",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "active_only",
            "in": "query",
            "description": "Determines if only the active or all agb codes of the active locations of given person are returned.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list.AgbcodeList"
                }
              }
            }
          },
          "400": {
            "description": "Client ID is required"
          }
        },
        "x-replaced-by": "/v0/administration/agbcodes/by_client_id/{id}/sorted",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/intent_preferences/add_intent_to_time_slot/{intent_uuid}": {
      "post": {
        "tags": [
          "arrangement.IntentPreference"
        ],
        "summary": "Adds an extra or first Intent to the TimeSlot.",
        "operationId": "arrangement.IntentPreferenceAPI.addIntentToTimeSlot",
        "parameters": [
          {
            "name": "intent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_slot_uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "No time slot UUID specified"
          },
          "403": {
            "description": "Intent can't be set to time slots, because it is created by the OA-CONVERTER"
          },
          "404": {
            "description": "Intent or time slot not found"
          }
        },
        "x-replaced-by": "/v0/administration/arrangement/intent_preferences/add_intent_to_time_slot/{intent_uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/intent_preferences/for_client_in_period/{client_uuid}": {
      "get": {
        "tags": [
          "arrangement.IntentPreference"
        ],
        "summary": "Gets a list of IntentPreferences for the client in a period.",
        "description": "Only Intents that are within the period or partially overlap with it, will be included in the result\nIntentPreferenceList.",
        "operationId": "arrangement.IntentPreferenceAPI.forClientInPeriod",
        "parameters": [
          {
            "name": "client_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_begin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "period_end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.list.IntentPreferenceList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid period"
          },
          "404": {
            "description": "Client was not found"
          }
        },
        "x-replaced-by": "/v0/administration/arrangement/intent_preferences/for_client_in_period/{client_uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/intent_preferences/remove_intent_from_time_slot/{intent_uuid}": {
      "delete": {
        "tags": [
          "arrangement.IntentPreference"
        ],
        "summary": "Removes an Intent from the TimeSlot.",
        "operationId": "arrangement.IntentPreferenceAPI.removeIntentFromTimeSlot",
        "parameters": [
          {
            "name": "intent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_slot_uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "No time slot UUID specified"
          },
          "403": {
            "description": "Intent can't be set to time slots, because it is created by the OA-CONVERTER"
          },
          "404": {
            "description": "Intent or time slot not found"
          }
        },
        "x-replaced-by": "/v0/administration/arrangement/intent_preferences/remove_intent_from_time_slot/{intent_uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/intent_preferences/set_intent_to_time_slots/{intent_uuid}": {
      "post": {
        "tags": [
          "arrangement.IntentPreference"
        ],
        "summary": "Ties an Intent to a list of TimeSlots, replacing all previous connections.",
        "operationId": "arrangement.IntentPreferenceAPI.setIntentToTimeSlots",
        "parameters": [
          {
            "name": "intent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/arrangement.UuidList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "No time slot UUID's specified, or Intent not found"
          },
          "403": {
            "description": "Intent can't be set to time slots, because it is created by the OA-CONVERTER"
          },
          "404": {
            "description": "Intent cannot be found"
          }
        },
        "x-replaced-by": "/v0/administration/arrangement/intent_preferences/set_intent_to_time_slots/{intent_uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/intent_preferences/set_time_slot_to_intents/{time_slot_uuid}": {
      "post": {
        "tags": [
          "arrangement.IntentPreference"
        ],
        "summary": "Connects a TimeSlot to a list of Intents, replacing all, if any, previous connections.",
        "operationId": "arrangement.IntentPreferenceAPI.setTimeSlotToIntents",
        "parameters": [
          {
            "name": "time_slot_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/arrangement.UuidList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "No time slot UUID specified"
          },
          "403": {
            "description": "Intent can't be set to time slots, because it is created by the OA-CONVERTER"
          },
          "404": {
            "description": "Time slot not found"
          }
        },
        "x-replaced-by": "/v0/administration/arrangement/intent_preferences/set_time_slot_to_intents/{time_slot_uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/intents": {
      "post": {
        "tags": [
          "arrangement.Intent"
        ],
        "summary": "Create Intent",
        "description": "Deprecated due to potential overlap validation issues. Use createOrUpdateTimeline instead.",
        "operationId": "arrangement.IntentAPI.create",
        "requestBody": {
          "description": "Intent to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/arrangement.Intent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.Intent"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-cupido-common-method": true,
        "x-deprecated-since": "19-01-2024",
        "x-replaced-by": "/v0/administration/arrangement/intents"
      }
    },
    "/t/arrangement/intents/{uuid}": {
      "put": {
        "tags": [
          "arrangement.Intent"
        ],
        "summary": "Updates the given Intent",
        "description": "Deprecated due to potential overlap validation issues. Use createOrUpdateTimeline instead.",
        "operationId": "arrangement.IntentAPI.update",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Identifier of Intent to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Intent to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/arrangement.Intent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.Intent"
                }
              }
            }
          },
          "400": {
            "description": "Intent does not match UUID"
          },
          "403": {
            "description": "Intent can't be modified because it is created by the OA-CONVERTER"
          },
          "404": {
            "description": "Intent not found"
          }
        },
        "deprecated": true,
        "x-cupido-common-method": true,
        "x-deprecated-since": "19-01-2024",
        "x-replaced-by": "/v0/administration/arrangement/intents/{uuid}"
      },
      "delete": {
        "tags": [
          "arrangement.Intent"
        ],
        "summary": "Deletes the Intent with given uuid",
        "description": "Deprecated due to potential overlap validation issues. Use deleteTimeline instead.",
        "operationId": "arrangement.IntentAPI.delete",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Identifier of Intent to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.Intent"
                }
              }
            }
          },
          "403": {
            "description": "Intent can't be modified because it is created by the OA-CONVERTER"
          },
          "404": {
            "description": "Intent not found"
          }
        },
        "deprecated": true,
        "x-cupido-common-method": true,
        "x-deprecated-since": "19-01-2024",
        "x-replaced-by": "/v0/administration/arrangement/intents/{uuid}"
      }
    },
    "/t/arrangement/intents/by_client_period_plannable/{client_id}": {
      "get": {
        "tags": [
          "arrangement.Intent"
        ],
        "summary": "Gets all intents for a Client in a given period and whether they are plannable",
        "operationId": "arrangement.IntentAPI.byClientInPeriodPlannable",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "objectId of the client",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "period_begin",
            "in": "query",
            "description": "beginning of the period",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "period_end",
            "in": "query",
            "description": "end of the period",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "plannable",
            "in": "query",
            "description": "if the intent is plannable",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.list.IntentList"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/arrangement/intents/by_client_period_plannable/{client_id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/intents/by_employee/{employee_id}": {
      "get": {
        "tags": [
          "arrangement.Intent"
        ],
        "summary": "Gets all intents for an Employee.",
        "operationId": "arrangement.IntentAPI.byEmployeeId",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "include_education",
            "in": "query",
            "description": "if `true` also intents of the employee's education are returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_cluster",
            "in": "query",
            "description": "if `true` also intents of the employee's team are returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "period_begin",
            "in": "query",
            "description": "the beginning of the period",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "period_end",
            "in": "query",
            "description": "the end of the period",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.list.IntentList"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/arrangement/intents/by_employee/{employee_id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/intents/by_timeline/{timeline_uuid}": {
      "put": {
        "tags": [
          "arrangement.Intent"
        ],
        "summary": "Updates all intents for a timeline identified by a UUID",
        "operationId": "arrangement.IntentAPI.createOrUpdateTimeline",
        "parameters": [
          {
            "name": "timeline_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/arrangement.list.IntentList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.list.IntentList"
                }
              }
            }
          },
          "400": {
            "description": "Timeline UUID is invalid or does not match intent"
          },
          "403": {
            "description": "Intent can't be modified because it is created by the OA-CONVERTER"
          },
          "404": {
            "description": "No intents found for the given timeline UUID"
          }
        },
        "x-replaced-by": "/v0/administration/arrangement/intents/by_timeline/{timeline_uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      },
      "delete": {
        "tags": [
          "arrangement.Intent"
        ],
        "summary": "Deletes all intents for a timeline identified by a UUID",
        "operationId": "arrangement.IntentAPI.deleteTimeline",
        "parameters": [
          {
            "name": "timeline_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Timeline UUID cannot be null"
          },
          "403": {
            "description": "Intent can't be modified because it is created by the OA-CONVERTER"
          },
          "404": {
            "description": "Timeline not found"
          }
        },
        "x-replaced-by": "/v0/administration/arrangement/intents/by_timeline/{timeline_uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/stakeholders": {
      "post": {
        "tags": [
          "arrangement.Stakeholder"
        ],
        "summary": "Create Stakeholder",
        "operationId": "arrangement.StakeholderAPI.create",
        "requestBody": {
          "description": "Stakeholder to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/arrangement.Stakeholder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.Stakeholder"
                }
              }
            }
          },
          "400": {
            "description": "Intent UUID is required"
          },
          "404": {
            "description": "Intent not found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/arrangement/stakeholders",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/stakeholders/{uuid}": {
      "get": {
        "tags": [
          "arrangement.Stakeholder"
        ],
        "summary": "Gets an Stakeholder by UUID",
        "operationId": "arrangement.StakeholderAPI.byUuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "the uuid of the Stakeholder",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.Stakeholder"
                }
              }
            }
          },
          "400": {
            "description": "Stakeholder UUID is required"
          },
          "404": {
            "description": "Stakeholder not found"
          }
        },
        "x-replaced-by": "/v0/administration/arrangement/stakeholders/{uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      },
      "put": {
        "tags": [
          "arrangement.Stakeholder"
        ],
        "summary": "Updates the given Stakeholder",
        "operationId": "arrangement.StakeholderAPI.update",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "the uuid of the Stakeholder",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Stakeholder to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/arrangement.Stakeholder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.Stakeholder"
                }
              }
            }
          },
          "400": {
            "description": "Stakeholder or intent UUID is required"
          },
          "404": {
            "description": "Stakeholder or intent not found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/arrangement/stakeholders/{uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      },
      "delete": {
        "tags": [
          "arrangement.Stakeholder"
        ],
        "summary": "Deletes the Stakeholder with given uuid",
        "operationId": "arrangement.StakeholderAPI.delete",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "the uuid of the Stakeholder",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.Stakeholder"
                }
              }
            }
          },
          "400": {
            "description": "Stakeholder UUID is required"
          },
          "404": {
            "description": "Stakeholder not found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/arrangement/stakeholders/{uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/stakeholders/by_intent/{intent_uuid}": {
      "get": {
        "tags": [
          "arrangement.Stakeholder"
        ],
        "summary": "Gets the Stakeholders which belong to an Intent",
        "operationId": "arrangement.StakeholderAPI.byIntentUuid",
        "parameters": [
          {
            "name": "intent_uuid",
            "in": "path",
            "description": "the UUID of the Intent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.list.StakeholderList"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/arrangement/stakeholders/by_intent/{intent_uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/stakeholders/by_timeline/{timeline_uuid}": {
      "get": {
        "tags": [
          "arrangement.Stakeholder"
        ],
        "summary": "Gets the Stakeholders which belong to a Timeline",
        "operationId": "arrangement.StakeholderAPI.byTimelineUuid",
        "parameters": [
          {
            "name": "timeline_uuid",
            "in": "path",
            "description": "the UUID of the Timeline",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.list.StakeholderList"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/arrangement/stakeholders/by_timeline/{timeline_uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/time_slots": {
      "post": {
        "tags": [
          "arrangement.TimeSlot"
        ],
        "summary": "Create TimeSlot",
        "operationId": "arrangement.TimeSlotAPI.create",
        "requestBody": {
          "description": "TimeSlot to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/arrangement.TimeSlot"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.TimeSlot"
                }
              }
            }
          },
          "400": {
            "description": "No time slot specified"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/arrangement/time_slots",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/time_slots/{uuid}": {
      "get": {
        "tags": [
          "arrangement.TimeSlot"
        ],
        "summary": "Gets a time slot by UUID.",
        "operationId": "arrangement.TimeSlotAPI.byUuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "the uuid of the time slot",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.TimeSlot"
                }
              }
            }
          },
          "404": {
            "description": "No time slot specified"
          }
        },
        "x-replaced-by": "/v0/administration/arrangement/time_slots/{uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      },
      "put": {
        "tags": [
          "arrangement.TimeSlot"
        ],
        "summary": "Updates the given TimeSlot",
        "operationId": "arrangement.TimeSlotAPI.update",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "the uuid of the time slot",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "TimeSlot to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/arrangement.TimeSlot"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.TimeSlot"
                }
              }
            }
          },
          "400": {
            "description": "No time slot specified or time slot does not match UUID"
          },
          "403": {
            "description": "Time slot can't be updated, because it used by an intent created by the OA-CONVERTER"
          },
          "404": {
            "description": "Time slot not found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/arrangement/time_slots/{uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      },
      "delete": {
        "tags": [
          "arrangement.TimeSlot"
        ],
        "summary": "Deletes the TimeSlot with given uuid",
        "operationId": "arrangement.TimeSlotAPI.delete",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "the uuid of the time slot",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.TimeSlot"
                }
              }
            }
          },
          "403": {
            "description": "Time slot can't be updated, because it used by an intent created by the OA-CONVERTER"
          },
          "404": {
            "description": "Time slot not found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/arrangement/time_slots/{uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/time_slots/all_for_client/{client_uuid}": {
      "get": {
        "tags": [
          "arrangement.TimeSlot"
        ],
        "summary": "Gets the time slots that have been specified for a client.",
        "operationId": "arrangement.TimeSlotAPI.allForClient",
        "parameters": [
          {
            "name": "client_uuid",
            "in": "path",
            "description": "the UUID of the client",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.list.TimeSlotList"
                }
              }
            }
          },
          "404": {
            "description": "Client not found"
          }
        },
        "x-replaced-by": "/v0/administration/arrangement/time_slots/all_for_client/{client_uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/time_slots/all_for_intent/{intent_uuid}": {
      "get": {
        "tags": [
          "arrangement.TimeSlot"
        ],
        "summary": "Gets the time slots for an intent, i.e.",
        "description": "the slots that are connected via IntentPreference records.",
        "operationId": "arrangement.TimeSlotAPI.allForIntent",
        "parameters": [
          {
            "name": "intent_uuid",
            "in": "path",
            "description": "the UUID of the intent",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.list.TimeSlotList"
                }
              }
            }
          },
          "404": {
            "description": "Intent not found"
          }
        },
        "x-replaced-by": "/v0/administration/arrangement/time_slots/all_for_intent/{intent_uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/arrangement/time_slots/generic_for_client/{client_uuid}": {
      "get": {
        "tags": [
          "arrangement.TimeSlot"
        ],
        "summary": "Gets all time slots that are generic to a client (have no connection to Intents (yet)).",
        "operationId": "arrangement.TimeSlotAPI.genericForClient",
        "parameters": [
          {
            "name": "client_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/arrangement.list.TimeSlotList"
                }
              }
            }
          },
          "404": {
            "description": "Client not found"
          }
        },
        "x-replaced-by": "/v0/administration/arrangement/time_slots/generic_for_client/{client_uuid}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/employees/{employee_id}/expense_address": {
      "get": {
        "tags": [
          "expense.ExpenseAddressModel"
        ],
        "summary": "Returns the expense addresses of given employee",
        "operationId": "expense.ExpenseAddressModelAPI.getExpenseAddresses",
        "parameters": [
          {
            "name": "X-Cupido-User-Name",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cupido-Active-Identity",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/expense.list.ExpenseAddressModelList"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient rights"
          }
        },
        "x-replaced-by": "/v0/administration/authorized/employees/{employee_id}/expense_address",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      },
      "put": {
        "tags": [
          "expense.ExpenseAddressModel"
        ],
        "summary": "Update an expense address",
        "operationId": "expense.ExpenseAddressModelAPI.createOrUpdateExpenseAddress",
        "parameters": [
          {
            "name": "X-Cupido-User-Name",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cupido-Active-Identity",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "ExpenseAddress to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/expense.ExpenseAddressModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/expense.ExpenseAddressModel"
                }
              }
            }
          },
          "400": {
            "description": "Validation errors"
          },
          "403": {
            "description": "Insufficient rights"
          }
        },
        "x-replaced-by": "/v0/administration/authorized/employees/{employee_id}/expense_address",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/employees/{employee_id}/expense_address/{expenseAddress_id}": {
      "delete": {
        "tags": [
          "expense.ExpenseAddressModel"
        ],
        "summary": "Removes expense address",
        "operationId": "expense.ExpenseAddressModelAPI.removeExpenseAddress",
        "parameters": [
          {
            "name": "X-Cupido-User-Name",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cupido-Active-Identity",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "expenseAddress_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Validation errors"
          },
          "403": {
            "description": "Insufficient rights"
          },
          "404": {
            "description": "Expense address not found"
          }
        },
        "x-replaced-by": "/v0/administration/authorized/employees/{employee_id}/expense_address/{expenseAddress_id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/employees/{employee_id}/vehicle": {
      "get": {
        "tags": [
          "VehicleAssignmentModel"
        ],
        "summary": "Returns the vehicleAssignments corresponding of the given employee_id",
        "operationId": "VehicleAssignmentModelAPI.byEmployeeId",
        "parameters": [
          {
            "name": "X-Cupido-User-Name",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cupido-Active-Identity",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "description": "The objectid of an employee",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list.VehicleAssignmentModelList"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient rights"
          }
        },
        "x-replaced-by": "/v0/administration/authorized/employees/{employee_id}/vehicle",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      },
      "put": {
        "tags": [
          "VehicleAssignmentModel"
        ],
        "summary": "Updates a specific vehicleAssignment for the given employee_id",
        "operationId": "VehicleAssignmentModelAPI.createOrUpdateVehicleAssignments",
        "parameters": [
          {
            "name": "X-Cupido-User-Name",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cupido-Active-Identity",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleAssignmentModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleAssignmentModel"
                }
              }
            }
          },
          "400": {
            "description": "Validation errors"
          },
          "403": {
            "description": "Insufficient rights"
          }
        },
        "x-replaced-by": "/v0/administration/authorized/employees/{employee_id}/vehicle",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/employees/{employee_id}/vehicle/{vehicle_assignment_id}": {
      "delete": {
        "tags": [
          "VehicleAssignmentModel"
        ],
        "summary": "deletes a specific vehicleAssignment for the given employee_id",
        "operationId": "VehicleAssignmentModelAPI.removeVehicleAssignment",
        "parameters": [
          {
            "name": "X-Cupido-User-Name",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cupido-Active-Identity",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "vehicle_assignment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Validation errors"
          },
          "403": {
            "description": "Insufficient rights"
          },
          "404": {
            "description": "Vehicle assignment not found"
          }
        },
        "x-replaced-by": "/v0/administration/authorized/employees/{employee_id}/vehicle/{vehicle_assignment_id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/bsns": {
      "post": {
        "tags": [
          "Bsn"
        ],
        "summary": "Create Bsn",
        "operationId": "BsnAPI.create",
        "requestBody": {
          "description": "Bsn to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bsn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bsn"
                }
              }
            }
          },
          "400": {
            "description": "Invalid BSN"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/bsns",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/bsns/{id}": {
      "get": {
        "tags": [
          "Bsn"
        ],
        "summary": "Return the Bsn corresponding to the given id",
        "operationId": "BsnAPI.byId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "used for selecting Bsn",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bsn"
                }
              }
            }
          },
          "404": {
            "description": "Bsn not found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/bsns/{id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/capacity/capacity_profiles": {
      "get": {
        "tags": [
          "capacity.CapacityProfile"
        ],
        "summary": "Returns every CapacityProfile available from the CapacityProfileAPI",
        "operationId": "capacity.CapacityProfileAPI.all",
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/capacity.list.CapacityProfileList"
                }
              }
            }
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/capacity/capacity_profiles",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/capacity/capacity_profiles/{id}": {
      "get": {
        "tags": [
          "capacity.CapacityProfile"
        ],
        "summary": "Return the Capacity Profile corresponding to the given id",
        "operationId": "capacity.CapacityProfileAPI.byId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "used for selecting CapacityProfile",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/capacity.CapacityProfile"
                }
              }
            }
          },
          "400": {
            "description": "No capacity profile ID"
          },
          "404": {
            "description": "Capacity profile does not exist"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/capacity/capacity_profiles/{id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/capacity/capacity_profiles/all_active": {
      "get": {
        "tags": [
          "capacity.CapacityProfile"
        ],
        "summary": "Find a list of CapacityProfiles that are active on the given date.",
        "operationId": "capacity.CapacityProfileAPI.allActive",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "date on which the capacity profiles should be active",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/capacity.list.CapacityProfileList"
                }
              }
            }
          },
          "400": {
            "description": "Date is required"
          }
        },
        "x-replaced-by": "/v0/administration/capacity/capacity_profiles/all_active",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/care_provider_addresses": {
      "post": {
        "tags": [
          "CareProviderAddress"
        ],
        "summary": "Create CareProviderAddress",
        "operationId": "CareProviderAddressAPI.create",
        "requestBody": {
          "description": "CareProviderAddress to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CareProviderAddress"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CareProviderAddress"
                }
              }
            }
          },
          "400": {
            "description": "CareProviderAddress must have a careprovider, or other validation errors"
          },
          "404": {
            "description": "Address or CareProviderAddress not found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/care_provider_addresses",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/care_provider_addresses/{id}": {
      "get": {
        "tags": [
          "CareProviderAddress"
        ],
        "summary": "Return the address of a Careprovider corresponding to the given id.",
        "operationId": "CareProviderAddressAPI.byId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "used for selecting CareProviderAddress",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CareProviderAddress"
                }
              }
            }
          },
          "404": {
            "description": "Address or CareProviderAddress not found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/care_provider_addresses/{id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/care_allocations": {
      "post": {
        "tags": [
          "CareAllocation"
        ],
        "summary": "Create a CareAllocation",
        "operationId": "CareAllocationAPI.create",
        "requestBody": {
          "description": "CareAllocation to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CareAllocation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CareAllocation"
                }
              }
            }
          },
          "400": {
            "description": "Validation errors"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/careallocations",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/care_allocations/{id}": {
      "get": {
        "tags": [
          "CareAllocation"
        ],
        "summary": "Return the Care Allocation corresponding to the given id",
        "operationId": "CareAllocationAPI.byId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "used for selecting CareAllocation",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CareAllocation"
                }
              }
            }
          },
          "404": {
            "description": "The care allocation cannot be found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/careallocations/{id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      },
      "put": {
        "tags": [
          "CareAllocation"
        ],
        "summary": "Update the Care Allocation corresponding to the given id",
        "operationId": "CareAllocationAPI.updateCareAllocationById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "used for selecting CareAllocation",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CareAllocation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated care allocation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CareAllocation"
                }
              }
            }
          },
          "400": {
            "description": "Validation errors"
          },
          "404": {
            "description": "The care allocation cannot be found"
          }
        },
        "x-replaced-by": "/v0/administration/careallocations/{id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/external_care_providers": {
      "post": {
        "tags": [
          "CareProvider"
        ],
        "summary": "Create CareProvider",
        "operationId": "CareProviderAPI.create",
        "requestBody": {
          "description": "CareProvider to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CareProvider"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CareProvider"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/careproviders",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/external_care_providers/{care_provider_id}/addresses": {
      "get": {
        "tags": [
          "Address"
        ],
        "summary": "Return the addresses of a CareProvider corresponding to the given id.",
        "operationId": "AddressAPI.byCareProviderId",
        "parameters": [
          {
            "name": "care_provider_id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list.AddressList"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/careproviders/{care_provider_id}/addresses",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/external_care_providers/{care_provider_id}/assign_to_client/{client_id}": {
      "post": {
        "tags": [
          "CareProvider"
        ],
        "summary": "Assigns an external care provider to a client.",
        "description": "After doing this, that care provider will be returned when calling /clients/{id}/care_providers",
        "operationId": "CareProviderAPI.assignCareProviderToClient",
        "parameters": [
          {
            "name": "care_provider_id",
            "in": "path",
            "description": "the id of the care provider",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "client_id",
            "in": "path",
            "description": "the id of the client",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "External care provider assigned"
          }
        },
        "x-replaced-by": "/v0/administration/careproviders/{care_provider_id}/assign_to_client/{client_id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/external_care_providers/{care_provider_id}/unassign_from_client/{client_id}": {
      "delete": {
        "tags": [
          "CareProvider"
        ],
        "summary": "Unassigns an external care provider from a client.",
        "description": "After doing this, that care provider will no longer be returned when calling /clients/{id}/care_providers",
        "operationId": "CareProviderAPI.unassignCareProviderFromClient",
        "parameters": [
          {
            "name": "care_provider_id",
            "in": "path",
            "description": "the id of the care provider",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "client_id",
            "in": "path",
            "description": "the id of the client",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "External care provider unassigned"
          }
        },
        "x-replaced-by": "/v0/administration/careproviders/{care_provider_id}/unassign_from_client/{client_id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/external_care_providers/{id}": {
      "get": {
        "tags": [
          "CareProvider"
        ],
        "summary": "Return the Care Provider corresponding to the given id",
        "operationId": "CareProviderAPI.byId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "used for selecting CareProvider",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CareProvider"
                }
              }
            }
          },
          "404": {
            "description": "Care provider not found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/careproviders/{id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/external_care_providers/category/{category_id}/{identification}": {
      "get": {
        "tags": [
          "CareProvider"
        ],
        "operationId": "CareProviderAPI.byCategoryAndIdentification",
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "description": "Category of CareProvider",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "identification",
            "in": "path",
            "description": "ID of care provider (not object ID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CareProvider"
                }
              }
            }
          }
        },
        "x-replaced-by": "/v0/administration/careproviders/category/{category_id}/{identification}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/external_care_providers/identification/{identification}": {
      "get": {
        "tags": [
          "CareProvider"
        ],
        "summary": "Return the Care Provider corresponding to the given identification",
        "operationId": "CareProviderAPI.byIdentification",
        "parameters": [
          {
            "name": "identification",
            "in": "path",
            "description": "identification of care provider (not object ID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list.CareProviderList"
                }
              }
            }
          },
          "404": {
            "description": "Care provider not found"
          }
        },
        "x-replaced-by": "/v0/administration/careproviders/identification/{identification}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/external_care_providers/ura/{ura_number}": {
      "get": {
        "tags": [
          "CareProvider"
        ],
        "summary": "Return the Care Providers corresponding to the given URA number",
        "operationId": "CareProviderAPI.byUraNumber",
        "parameters": [
          {
            "name": "ura_number",
            "in": "path",
            "description": "URA number used for selecting CareProviders. Must consist of exactly 8 digits.",
            "required": true,
            "schema": {
              "pattern": "^[0-9]{8}$",
              "type": "string",
              "example": "12345678"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list.CareProviderList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URA number. Must consist of exactly 8 digits."
          }
        },
        "x-replaced-by": "/v0/administration/careproviders/ura/{ura_number}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/client_addresses": {
      "post": {
        "tags": [
          "ClientAddress"
        ],
        "summary": "Create ClientAddress",
        "operationId": "ClientAddressAPI.create",
        "requestBody": {
          "description": "ClientAddress to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientAddress"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientAddress"
                }
              }
            }
          },
          "400": {
            "description": "ClientAddress must have a client, or validation errors"
          },
          "404": {
            "description": "Client not found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/client_addresses",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/client_addresses/{id}": {
      "get": {
        "tags": [
          "ClientAddress"
        ],
        "summary": "Return the Client Address corresponding to the given id",
        "operationId": "ClientAddressAPI.byId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "used for selecting ClientAddress",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "include_access_info",
            "in": "query",
            "description": "Include residence access information",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientAddress"
                }
              }
            }
          },
          "404": {
            "description": "Address or ClientAddress not found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/client_addresses/{id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      },
      "put": {
        "tags": [
          "ClientAddress"
        ],
        "summary": "Update ClientAddress",
        "operationId": "ClientAddressAPI.update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "used for selecting ClientAddress",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "ClientAddress to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientAddress"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientAddress"
                }
              }
            }
          },
          "400": {
            "description": "ClientAddress must have a client, or validation errors"
          },
          "404": {
            "description": "ClientAddress not found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/client_addresses/{id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/client_contact_relation_addresses": {
      "post": {
        "tags": [
          "ClientContactRelationAddress"
        ],
        "summary": "Create ClientContactRelationAddress",
        "operationId": "ClientContactRelationAddressAPI.create",
        "requestBody": {
          "description": "ClientContactRelationAddress to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientContactRelationAddress"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientContactRelationAddress"
                }
              }
            }
          },
          "400": {
            "description": "ClientContactRelationAddress must have a relation"
          },
          "404": {
            "description": "Relation not found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/client_contact_relation_addresses",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/client_contact_relation_addresses/{id}": {
      "get": {
        "tags": [
          "ClientContactRelationAddress"
        ],
        "summary": "Return the client contact Relation Address corresponding to the given id",
        "operationId": "ClientContactRelationAddressAPI.byId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "used for selecting ClientContactRelationAddress",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientContactRelationAddress"
                }
              }
            }
          },
          "404": {
            "description": "Address or RelationAddress not found"
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/client_contact_relation_addresses/{id}",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/administration/client_contact_relation_types": {
      "get": {
        "tags": [
          "ClientContactRelationType"
        ],
        "summary": "Returns every ClientContactRelationType available from the ClientContactRelationTypeAPI",
        "operationId": "ClientContactRelationTypeAPI.all",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "number of results to skip",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "number of results for one call",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list.ClientContactRelationTypeList"
                }
              }
            }
          }
        },
        "x-cupido-common-method": true,
        "x-replaced-by": "/v0/administration/client_contact_relation_types",
        "deprecated": true,
        "x-deprecated-since": "19-11-2025"
      }
    },
    "/t/administration/client_contact_relation_types/{id}": {
      "get": {
        "tags": [
          "ClientContactRelationType"
        ],
        "summary": "Returns the ClientContactRelationType corresponding to the given id",
        "operationId": "ClientContactRelationTypeAPI.byId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "used for selecting ClientContactRelationType",
            "required": true,
            "schema": {
              "type": "integer",
[...]
