openapi: 3.2.0
info:
  title: Nedap Admin.Logo Image API
  version: 0.0.0
  description: 'Operations tagged admin.LogoImage across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: admin.LogoImage
paths:
  /t/admin/logo_image:
    get:
      tags:
      - admin.LogoImage
      summary: Retrieves the LogoImage
      operationId: admin.LogoImageAPI.get
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/admin.LogoImage'
      x-replaced-by: /v0/administration/admin/logo_image
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/admin/logo_image/download:
    get:
      tags:
      - admin.LogoImage
      summary: Download logo image
      operationId: admin.LogoImageAPI.download
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: image/jpeg
      responses:
        '200':
          description: No response was specified
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
      x-replaced-by: /v0/administration/admin/logo_image/download
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/admin/logo_image:
    get:
      tags:
      - admin.LogoImage
      summary: Retrieves the LogoImage
      operationId: admin.LogoImageAPI.get
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/admin.LogoImage'
      x-replacement-for:
      - /t/admin/logo_image
    servers:
    - url: https://api-development.ons.io
  /v0/administration/admin/logo_image/download:
    get:
      tags:
      - admin.LogoImage
      summary: Download logo image
      operationId: admin.LogoImageAPI.download
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: image/jpeg
      responses:
        '200':
          description: No response was specified
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
      x-replacement-for:
      - /t/admin/logo_image/download
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    admin.LogoImage:
      type: object
      properties:
        type:
          type: string
          description: Free field to identify type of logo image
      description: Used for logo image
      example:
        type: versionA
      xml:
        name: logoImage
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
