openapi: 3.2.0
info:
  title: Nedap Payroll.Collective Agreement API
  version: 0.0.0
  description: 'Operations tagged payroll.CollectiveAgreement across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: payroll.CollectiveAgreement
paths:
  /t/payroll/collective_agreements:
    get:
      tags:
      - payroll.CollectiveAgreement
      summary: Returns every CollectiveAgreement available
      operationId: payroll.CollectiveAgreementAPI.all
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payroll.list.CollectiveAgreementList'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/collective_agreements
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/payroll/collective_agreements/{id}:
    get:
      tags:
      - payroll.CollectiveAgreement
      operationId: payroll.CollectiveAgreementAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting Collective Agreement
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payroll.CollectiveAgreement'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/collective_agreements/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
      summary: Payroll collective agreement API by id
      x-summary-source: derived
    servers:
    - url: https://api-development.ons.io
  /v0/administration/collective_agreements:
    get:
      tags:
      - payroll.CollectiveAgreement
      summary: Returns every CollectiveAgreement available
      operationId: payroll.CollectiveAgreementAPI.all
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payroll.list.CollectiveAgreementList'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/payroll/collective_agreements
    servers:
    - url: https://api-development.ons.io
  /v0/administration/collective_agreements/{id}:
    get:
      tags:
      - payroll.CollectiveAgreement
      operationId: payroll.CollectiveAgreementAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting Collective Agreement
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payroll.CollectiveAgreement'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/payroll/collective_agreements/{id}
      summary: Payroll collective agreement API by id
      x-summary-source: derived
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    payroll.list.CollectiveAgreementList:
      type: object
      properties:
        collectiveAgreements:
          type: array
          items:
            $ref: '#/components/schemas/payroll.CollectiveAgreement'
          xml:
            name: collectiveAgreement
      description: CollectiveAgreementList model (no description)
      example:
        collectiveAgreements:
        - id: 1
          name: Thuiszorg (extramuraal) - 2014
      xml:
        name: collectiveAgreements
    payroll.CollectiveAgreement:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        name:
          type: string
      description: 'CollectiveAgreement model


        Created on 06/05/21.'
      example:
        id: 1
        name: Thuiszorg (extramuraal) - 2014
      xml:
        name: collectiveAgreement
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
