openapi: 3.2.0
info:
  title: Nedap Agenda.Reservation Occurrence API
  version: 0.0.0
  description: 'Operations tagged agenda.ReservationOccurrence across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: agenda.ReservationOccurrence
paths:
  /t/agenda/employees/{employee_id}/entries/reservation:
    get:
      tags:
      - agenda.ReservationOccurrence
      summary: Return the reservation occurrences of an Employee in the given period
      description: List reservation occurrences for employee. The period may span at most 42 days.
      operationId: agenda.ReservationOccurrenceAPI.byEmployeeId
      parameters:
      - name: employee_id
        in: path
        description: External id of the employee to retrieve the reservations for.
        required: true
        schema:
          type: integer
          format: int64
      - name: from
        in: query
        description: Start date (inclusive) of selection period
        required: true
        schema:
          type: string
          format: date
      - name: to
        in: query
        description: End date (exclusive) of selection period
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Reservation occurrence response. Hash with list of occurrences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agenda.ReservationOccurrenceResponse'
      x-replaced-by: /v0/agenda/employees/{employee_id}/entries/reservation
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/agenda/entries/reservations/occurrences/{occurrence_id}:
    delete:
      tags:
      - agenda.ReservationOccurrence
      summary: Delete a single reservation occurrence
      description: Removes a single occurrence of a reservation series.
      operationId: agenda.ReservationOccurrenceAPI.deleteInstance
      parameters:
      - name: occurrence_id
        in: path
        description: Occurrence id of the reservation occurrence to remove.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Reservation occurrence removed
        '403':
          description: Insufficient rights
        '404':
          description: Reservation occurrence not found
        '422':
          description: Request parameters did not validate
      x-replaced-by: /v0/agenda/entries/reservations/occurrences/{occurrence_id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    patch:
      tags:
      - agenda.ReservationOccurrence
      summary: Update a single reservation occurrence
      description: Updates a single occurrence of a reservation series. Only the supplied fields are changed; omitted fields are left unchanged.
      operationId: agenda.ReservationOccurrenceAPI.updateInstance
      parameters:
      - name: occurrence_id
        in: path
        description: Occurrence id of the reservation occurrence to update.
        required: true
        schema:
          type: string
      requestBody:
        description: Fields to update on the reservation occurrence.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agenda.ReservationUpdate'
        required: true
      responses:
        '204':
          description: Reservation occurrence updated
        '403':
          description: Insufficient rights
        '404':
          description: Reservation occurrence not found
        '422':
          description: Request parameters did not validate
      x-replaced-by: /v0/agenda/entries/reservations/occurrences/{occurrence_id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/agenda/entries/reservations/occurrences/{occurrence_id}/following:
    delete:
      tags:
      - agenda.ReservationOccurrence
      summary: Delete a reservation occurrence and all following occurrences
      description: Removes the given reservation occurrence and all of the following occurrences in the series.
      operationId: agenda.ReservationOccurrenceAPI.deleteFollowing
      parameters:
      - name: occurrence_id
        in: path
        description: Occurrence id of the reservation occurrence from which to remove this and all following occurrences.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Reservation occurrences removed
        '403':
          description: Insufficient rights
        '404':
          description: Reservation occurrence not found
        '422':
          description: Request parameters did not validate
      x-replaced-by: /v0/agenda/entries/reservations/occurrences/{occurrence_id}/following
      deprecated: true
      x-deprecated-since: 19-11-2025
    patch:
      tags:
      - agenda.ReservationOccurrence
      summary: Update a reservation occurrence and all following occurrences
      description: Updates the given reservation occurrence and all of the following occurrences in the series. Only the supplied fields are changed; omitted fields are left unchanged.
      operationId: agenda.ReservationOccurrenceAPI.updateFollowing
      parameters:
      - name: occurrence_id
        in: path
        description: Occurrence id of the reservation occurrence from which to update this and all following occurrences.
        required: true
        schema:
          type: string
      requestBody:
        description: Fields to update on the reservation occurrences.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agenda.ReservationUpdate'
        required: true
      responses:
        '204':
          description: Reservation occurrences updated
        '403':
          description: Insufficient rights
        '404':
          description: Reservation occurrence not found
        '422':
          description: Request parameters did not validate
      x-replaced-by: /v0/agenda/entries/reservations/occurrences/{occurrence_id}/following
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/agenda/employees/{employee_id}/entries/reservation:
    get:
      tags:
      - agenda.ReservationOccurrence
      summary: Return the reservation occurrences of an Employee in the given period
      description: List reservation occurrences for employee. The period may span at most 42 days.
      operationId: agenda.ReservationOccurrenceAPI.byEmployeeId
      parameters:
      - name: employee_id
        in: path
        description: External id of the employee to retrieve the reservations for.
        required: true
        schema:
          type: integer
          format: int64
      - name: from
        in: query
        description: Start date (inclusive) of selection period
        required: true
        schema:
          type: string
          format: date
      - name: to
        in: query
        description: End date (exclusive) of selection period
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Reservation occurrence response. Hash with list of occurrences.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/agenda.ReservationOccurrenceResponse'
      x-replacement-for:
      - /t/agenda/employees/{employee_id}/entries/reservation
    servers:
    - url: https://api-development.ons.io
  /v0/agenda/entries/reservations/occurrences/{occurrence_id}:
    delete:
      tags:
      - agenda.ReservationOccurrence
      summary: Delete a single reservation occurrence
      description: Removes a single occurrence of a reservation series.
      operationId: agenda.ReservationOccurrenceAPI.deleteInstance
      parameters:
      - name: occurrence_id
        in: path
        description: Occurrence id of the reservation occurrence to remove.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Reservation occurrence removed
        '403':
          description: Insufficient rights
        '404':
          description: Reservation occurrence not found
        '422':
          description: Request parameters did not validate
      x-replacement-for:
      - /t/agenda/entries/reservations/occurrences/{occurrence_id}
    patch:
      tags:
      - agenda.ReservationOccurrence
      summary: Update a single reservation occurrence
      description: Updates a single occurrence of a reservation series. Only the supplied fields are changed; omitted fields are left unchanged.
      operationId: agenda.ReservationOccurrenceAPI.updateInstance
      parameters:
      - name: occurrence_id
        in: path
        description: Occurrence id of the reservation occurrence to update.
        required: true
        schema:
          type: string
      requestBody:
        description: Fields to update on the reservation occurrence.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agenda.ReservationUpdate'
        required: true
      responses:
        '204':
          description: Reservation occurrence updated
        '403':
          description: Insufficient rights
        '404':
          description: Reservation occurrence not found
        '422':
          description: Request parameters did not validate
      x-replacement-for:
      - /t/agenda/entries/reservations/occurrences/{occurrence_id}
    servers:
    - url: https://api-development.ons.io
  /v0/agenda/entries/reservations/occurrences/{occurrence_id}/following:
    delete:
      tags:
      - agenda.ReservationOccurrence
      summary: Delete a reservation occurrence and all following occurrences
      description: Removes the given reservation occurrence and all of the following occurrences in the series.
      operationId: agenda.ReservationOccurrenceAPI.deleteFollowing
      parameters:
      - name: occurrence_id
        in: path
        description: Occurrence id of the reservation occurrence from which to remove this and all following occurrences.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Reservation occurrences removed
        '403':
          description: Insufficient rights
        '404':
          description: Reservation occurrence not found
        '422':
          description: Request parameters did not validate
      x-replacement-for:
      - /t/agenda/entries/reservations/occurrences/{occurrence_id}/following
    patch:
      tags:
      - agenda.ReservationOccurrence
      summary: Update a reservation occurrence and all following occurrences
      description: Updates the given reservation occurrence and all of the following occurrences in the series. Only the supplied fields are changed; omitted fields are left unchanged.
      operationId: agenda.ReservationOccurrenceAPI.updateFollowing
      parameters:
      - name: occurrence_id
        in: path
        description: Occurrence id of the reservation occurrence from which to update this and all following occurrences.
        required: true
        schema:
          type: string
      requestBody:
        description: Fields to update on the reservation occurrences.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/agenda.ReservationUpdate'
        required: true
      responses:
        '204':
          description: Reservation occurrences updated
        '403':
          description: Insufficient rights
        '404':
          description: Reservation occurrence not found
        '422':
          description: Request parameters did not validate
      x-replacement-for:
      - /t/agenda/entries/reservations/occurrences/{occurrence_id}/following
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    agenda.ReservationOccurrenceResponse:
      title: ReservationOccurrenceResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/agenda.ReservationOccurrence'
      description: Response wrapping a list of reservation occurrences.
      example:
        data:
        - occurrenceId: 07ea6051
          startsAt: '2025-06-05T08:10:00.000+02:00'
          endsAt: '2025-06-05T08:20:00.000+02:00'
          labels:
          - id: 1
            name: Telefonisch
    agenda.ReservationUpdate:
      title: ReservationUpdate
      type: object
      properties:
        startsAt:
          type: string
          description: Start moment of the reservation. When supplied, must be on the same day as endsAt and in the Europe/Amsterdam time zone.
          format: date-time
        endsAt:
          type: string
          description: End moment (exclusive) of the reservation. When supplied, must be after startsAt, on the same day, and in the Europe/Amsterdam time zone.
          format: date-time
        labelIds:
          type: array
          items:
            type: integer
            format: int64
          description: Ids of the labels to assign to this reservation.
        recurrenceRule:
          $ref: '#/components/schemas/agenda.RecurrenceRule'
      description: Request body used to update a reservation. All fields are optional; when a recurrenceRule is supplied, startsAt must be on or before its repeatUntil.
      example:
        startsAt: '2025-06-05T08:10:00.000+02:00'
        endsAt: '2025-06-05T08:20:00.000+02:00'
        labelIds:
        - 1
        recurrenceRule:
          recurrenceType: weekly
          interval: 1
          weekdays:
          - 1
          - 3
          repeatUntil: '2025-08-02'
    agenda.RecurrenceType:
      enum:
      - single
      - daily
      - weekly
      - monthly_on_day
      - monthly_on_week
      - yearly
      type: string
      description: 'When no value is supplied, it defaults to single. Specifies the recurrence rule:


        * single: The entry only occurs a single time, no recurrence is used.

        * daily: The entry occurs every day.

        * weekly: The entry occurs every week on the days supplied in the ''weekdays'' field.

        * monthly_on_day: The entry occurs every month on the given date. I.e. on the 10th every month.

        * monthly_on_week: The entry occurs every month on the same day of the month. I.e. on the

        first Tuesday every month.

        * yearly: The entry occurs every year on the given date.'
      default: single
      example: single
    agenda.RecurrenceRule:
      title: AgendaRecurrenceRule
      required:
      - recurrenceType
      type:
      - object
      - 'null'
      properties:
        recurrenceType:
          $ref: '#/components/schemas/agenda.RecurrenceType'
        interval:
          minimum: 1
          type: integer
          description: 'Must be >= 1. The interval used in calculating the occurrences. The recurrence rule specifies when an

            occurrence might occur. Then the ''interval'' is used to determine which of these occurrences actually occurs.

            A value of 1 means that every occurrence occurs, a value of 2 means that every other occurrence occurs, etc.'
          format: int64
          default: 1
        weekdays:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int32
          description: "An array containing all days of the week the occurrence should occur. Is only used when the recurrence rule\n'weekly' is selected. Defaults to the `startDate` day integer of the parent event when omitted or null.\nDays of the week are represented as follows:\n  * 1: Monday\n  * 2: Tuesday\n  * 3: Wednesday\n  * 4: Thursday\n  * 5: Friday\n  * 6: Saturday\n  * 7: Sunday"
        repeatUntil:
          type: string
          description: Last day on which an occurrence may start (inclusive). When omitted or null, recurs indefinitely.
          format: date
      description: Object describing the recurrence. This object may be omitted, in that case a single occurrence is created
      example:
        recurrenceType: weekly
        interval: 1
        weekdays:
        - 1
        - 3
        repeatUntil: '2015-08-02'
    agenda.ReservationOccurrence:
      title: ReservationOccurrence
      type: object
      properties:
        occurrenceId:
          type: string
          description: Id of the occurrence
        startsAt:
          type: string
          description: Start moment of reservation. Must be on same day as endsAt.
          format: date-time
        endsAt:
          type: string
          description: End moment (exclusive) of reservation. Must be on same day as startsAt.
          format: date-time
        labels:
          type: array
          items:
            $ref: '#/components/schemas/agenda.Label'
          description: List of labels assigned to this reservation
      description: ''
      example:
        occurrenceId: 07ea6051
        startsAt: '2025-06-05T08:10:00.000+02:00'
        endsAt: '2025-06-05T08:20:00.000+02:00'
        labels:
        - id: 1
          name: Telefonisch
    agenda.Label:
      title: Label
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        name:
          type: string
      description: Domain model for Labels for AgendaOccurrences/AgendaSeries
      example:
        id: 1
        name: Telefonisch
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
