openapi: 3.2.0
info:
  title: Nedap Free Field Category API
  version: 0.0.0
  description: 'Operations tagged FreeFieldCategory across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: FreeFieldCategory
paths:
  /t/free_field_categories/x-stream-connect/data:
    get:
      tags:
      - FreeFieldCategory
      summary: Retrieve all entries for free_field_categories
      operationId: FreeFieldCategoryAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.FreeFieldCategoryList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/FreeFieldCategory'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/free_field_categories/data
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/free_field_categories/data:
    get:
      tags:
      - FreeFieldCategory
      summary: Retrieve all entries for free_field_categories
      operationId: FreeFieldCategoryAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.FreeFieldCategoryList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/FreeFieldCategory'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/free_field_categories/x-stream-connect/data
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    FreeFieldCategory:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        carrierType:
          $ref: '#/components/schemas/CarrierType'
        name:
          type: string
          description: Name of the FreeFieldCategory
      description: Table containing the categories (such as clients and employees) that make use of free fields
      example:
        id: 1
        carrierType: 1
        name: EMPLOYEE
      xml:
        name: FreeFieldCategory
    list.FreeFieldCategoryList:
      type: object
      properties:
        freeFieldCategories:
          type: array
          items:
            $ref: '#/components/schemas/FreeFieldCategory'
          xml:
            name: freeFieldCategory
      description: FreeFieldCategoryList model (no description)
      example:
        freeFieldCategories:
        - id: 1
          carrierType: 1
          name: Employee
      xml:
        name: freeFieldCategories
    CarrierType:
      type: integer
      oneOf:
      - title: ACTIVITY
        enum:
        - 0
      - title: EMPLOYEE
        enum:
        - 1
      - title: CLIENT
        enum:
        - 2
      description: 'Specifies the type of the carrier. Possible values: 0 = ACTIVITY, 1 = EMPLOYEE, 2 = CLIENT.'
      example: 0
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
