openapi: 3.2.0
info:
  title: Nedap Authorization.provisioning.Role API
  version: 0.0.0
  description: 'Operations tagged authorization.provisioning.Role across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: authorization.provisioning.Role
paths:
  /t/authorization/provisioning/roles:
    get:
      tags:
      - authorization.provisioning.Role
      summary: Returns every Role available from the RoleAPI
      operationId: authorization.provisioning.RoleAPI.all
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorization.provisioning.list.RoleList'
      x-cupido-common-method: true
      x-replaced-by: /v0/authorization/provisioning/roles
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/authorization/provisioning/roles:
    get:
      tags:
      - authorization.provisioning.Role
      summary: Returns every Role available from the RoleAPI
      operationId: authorization.provisioning.RoleAPI.all
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorization.provisioning.list.RoleList'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/authorization/provisioning/roles
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    authorization.provisioning.list.RoleList:
      type: object
      properties:
        roles:
          type: array
          items:
            $ref: '#/components/schemas/authorization.provisioning.Role'
      description: RoleList model (no description)
      example:
        roles:
        - uuid: ea9e0f20-2232-4087-9a43-8f894e79b6f0
          name: Rol naam
    authorization.provisioning.Role:
      type: object
      properties:
        uuid:
          type: string
          x-cupido-id: true
        name:
          type: string
      description: Role model (no description)
      example:
        uuid: ea9e0f20-2232-4087-9a43-8f894e79b6f0
        name: Rol naam
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
