openapi: 3.2.0
info:
  title: Nedap Finance.Parallel Care Order API
  version: 0.0.0
  description: 'Operations tagged finance.ParallelCareOrder across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: finance.ParallelCareOrder
paths:
  /t/finance/parallel_care_orders/by_employee_and_client_at_date/{employee_object_id}:
    get:
      tags:
      - finance.ParallelCareOrder
      operationId: finance.ParallelCareOrderAPI.byEmployeeAndClientAtDate
      parameters:
      - name: employee_object_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: client_id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: source_type
        in: query
        description: 'Is used to determine filtering. Valid values are: 1 (iO Smart), 2 (TouchPro), 3 (Manual), 4 (Timesheet), 5 (A priori), 6 (Planning), 7 (iO Me), 8 (Group care (old)), 9 (Schedule), 10 (Import without overlap), 11 (Import with overlap), 12 (Ons Agenda), 13 (Group care (new)), 14 (Ysis), 15 (Ons DBC) and 16 (Ons Vandaag). Filtering is only performed when values for Ons Agenda, Io Me or Ons Vandaag are provided.'
        required: true
        schema:
          type: integer
          format: int32
      - name: date
        in: query
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finance.list.ParallelCareOrderList'
      x-replaced-by: /v0/administration/finance/parallel_care_orders/by_employee_and_client_at_date/{employee_object_id}
      deprecated: true
      x-deprecated-since: 19-11-2025
      summary: Finance parallel care order API by employee and client at date
      x-summary-source: derived
    servers:
    - url: https://api-development.ons.io
  /v0/administration/finance/parallel_care_orders/by_employee_and_client_at_date/{employee_object_id}:
    get:
      tags:
      - finance.ParallelCareOrder
      operationId: finance.ParallelCareOrderAPI.byEmployeeAndClientAtDate
      parameters:
      - name: employee_object_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: client_id
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: source_type
        in: query
        description: 'Is used to determine filtering. Valid values are: 1 (iO Smart), 2 (TouchPro), 3 (Manual), 4 (Timesheet), 5 (A priori), 6 (Planning), 7 (iO Me), 8 (Group care (old)), 9 (Schedule), 10 (Import without overlap), 11 (Import with overlap), 12 (Ons Agenda), 13 (Group care (new)), 14 (Ysis), 15 (Ons DBC) and 16 (Ons Vandaag). Filtering is only performed when values for Ons Agenda, Io Me or Ons Vandaag are provided.'
        required: true
        schema:
          type: integer
          format: int32
      - name: date
        in: query
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/finance.list.ParallelCareOrderList'
      x-replacement-for:
      - /t/finance/parallel_care_orders/by_employee_and_client_at_date/{employee_object_id}
      summary: Finance parallel care order API by employee and client at date
      x-summary-source: derived
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    finance.list.ParallelCareOrderList:
      type: object
      properties:
        parallelCareOrders:
          type: array
          items:
            $ref: '#/components/schemas/finance.ParallelCareOrder'
      description: ParallelCareOrderList model (no description)
      example:
        parallelCareOrders:
        - careOrder:
            id: 1
            userIdentifier: Bggz-12345
            clientIdentifier: '12345'
            beschikkingsNummer: '321'
            lawIdentification: '321'
            indicatieorgaanCode: '0710'
            aanvraagNummer: '123'
            issueDate: '2014-12-29T00:00:00.000+01:00'
            contactPerson: Dhr. Psycholoog
            comments: Client kan agressief reageren op de kleur rood
            beginDate: '2014-12-29T00:00:00.000+01:00'
            endDate: '2014-12-29T00:00:00.000+01:00'
            clientId: 1
            financeTypeId: 1
            debtorId: 1
          hourTypes:
          - id: 1
            description: Activiteiten begeleiding - patiëntgebonden handelen
            identificationNo: '194822'
            activityGroupObjectId: 1
            externalCode3: '3'
            active: true
            payrolling: true
            direct: true
            systemDefined: false
            travelTime: false
            activityType: Payrolling
            groupCare: false
            quantityBased: true
          productName: bggzkort
          totalRegisteredAmount: 5
          maxRegisteredAmount: 10
          registeredUnit: QUARTERS
          errorMessage: ''
          referringDiagnosisCode: '1234'
    finance.CareOrderProduct:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        careOrderId:
          type: integer
          description: ID of the care order this care order product belongs to.
          format: int64
        userIdentifier:
          type: string
        quantity:
          type: integer
          description: 'Deprecated since: 14-03-2019'
          format: int32
          deprecated: true
        quantityUnit:
          type: string
          description: 'Deprecated since: 14-03-2019'
          deprecated: true
        magnitudeQuantityValue:
          type: integer
          description: 'Care order products have a magnitude of the form: [quantityValue] of [unitQuantity] [unitType] per [frequency].

            For example 30 * 1 minute per week. This value represents the quantityValue part and is mandatory.'
          format: int32
        magnitudeUnitQuantity:
          type: integer
          description: 'Care order products have a magnitude of the form: [quantityValue] of [unitQuantity] [unitType] per [frequency].

            For example 30 * 1 minute per week. This value represents the unitQuantity part and it can be omitted.

            In most cases this is 1.'
          format: int32
        magnitudeUnitType:
          type: string
          description: "Care order products have a magnitude of the form: [quantityValue] of [unitQuantity] [unitType] per [frequency].\nFor example 30 * 1 minute per week. This value represents the unitType part and it can be omitted.\nThe following values are supported:\n  - EURO_CENT\n  - PIECE\n  - MINUTE\n  - HOUR"
        magnitudeFrequency:
          type: string
          description: "Care order products have a magnitude of the form: [quantityValue] of [unitQuantity] [unitType] per [frequency].\nFor example 30 * 1 minute per week. This value represents the frequency part and it can be omitted.\nThe following values are supported:\n  - PER_DAG\n  - PER_WEEK\n  - PER_VIER_WEKEN\n  - PER_MAAND\n  - PER_JAAR\n  - PER_TRAJECT"
        comments:
          type: string
          description: Comments, generally only used by old pre-2015 AWBZ care order products.
        productId:
          type: integer
          description: ID of the product that this care order product is for
          format: int64
        financeTypeId:
          type: integer
          description: ID of the finance type this care order product belongs to.
          format: int64
        instellingsCode:
          type: string
          description: AGB code of the care provider responsible for handling this care order product
        functietype:
          type: string
          description: 'Deprecated: field was never set.'
          deprecated: true
          x-deprecated-since: 14-10-2021
        debtorId:
          type: integer
          description: ID of the debtor that this care order product belongs to.
          format: int64
        beginDate:
          type: string
          description: Original begin date of the care order product, the time component is ignored, and considered to be 00:00:00.
          format: date-time
        endDate:
          type: string
          description: Original end date of the care order product, the time component is ignored, and considered to be 23:59:59.
          format: date-time
        clippedBeginDate:
          type: string
          description: Begin date of the care order product after clipping (vegen), the time component is ignored, and considered to be 00:00:00.
          format: date-time
        clippedEndDate:
          type: string
          description: End date of the care order product after clipping (vegen), the time component is ignored, and considered to be 23:59:59.
          format: date-time
      description: CareOrderProduct model (no description)
      example:
        id: 1
        careOrderId: 1
        userIdentifier: '1'
        quantity: 1
        quantityUnit: MinutesPerWeek
        magnitudeQuantityValue: 1
        magnitudeUnitQuantity: 1
        magnitudeUnitType: MINUTE
        magnitudeFrequency: PER_WEEK
        comments: comments
        productId: 1
        financeTypeId: 1
        instellingsCode: ABCD
        functietype: ZZP
        debtorId: 1
        beginDate: '2014-12-29T00:00:00.000+01:00'
        endDate: '2014-12-29T00:00:00.000+01:00'
        clippedBeginDate: '2014-12-29T00:00:00.000+01:00'
        clippedEndDate: '2014-12-29T00:00:00.000+01:00'
      xml:
        name: careOrderProduct
    HourType:
      type: object
      properties:
        id:
          type: integer
          description: An unique ID of this hourtype
          format: int64
          x-cupido-id: true
        description:
          type: string
          description: A description of this hourtype
        identificationNo:
          type: string
        activityGroupObjectId:
          type: integer
          format: int64
        externalCode3:
          type: string
        active:
          type: boolean
          description: Indicates if the hourtype is active and can be used in presencelogs
        payrolling:
          type: boolean
        direct:
          type: boolean
          description: Indicates if the hourtype is for client time a.k.a. direct time
        systemDefined:
          type: boolean
        travelTime:
          type: boolean
        activityType:
          type: string
        groupCare:
          type: boolean
          description: Indicates if the hourtype is meant for group care
        transport:
          type: boolean
        quantityBased:
          type: boolean
        directAllowed:
          type: boolean
          description: Indicates it is allowed to write direct clienttime on a presence log with this hourtype
        indirectAllowed:
          type: boolean
          description: Indicates it is allowed to write indirect clienttime on a presence log with this hourtype
        travelAllowed:
          type: boolean
          description: Indicates it is allowed to write travel clienttime on a presence log with this hourtype
        noShow:
          type: boolean
          description: Indicates if the hour type is a no show hourtype
        snomedCode:
          type: string
          description: Corresponding snomed code used for data exchange with zibs
        travelCalculationDisabled:
          type: boolean
          description: When set to true, this hourtype will not be used in travel calculations like travel time or distances
        absenceAllowed:
          type: boolean
          description: Indicates if client(s) are allowed to be partially absent during an activity with this hourtype
        splitHourtype:
          type: boolean
          description: When set to true, this hourtype will be divided in Administration
      description: A.K.A. Activity.
      example:
        id: 1
        description: Activiteiten begeleiding - patiëntgebonden handelen
        identificationNo: '194822'
        activityGroupObjectId: 1
        externalCode3: '3'
        active: true
        payrolling: true
        direct: true
        systemDefined: false
        travelTime: false
        activityType: Payrolling
        groupCare: false
        transport: false
        quantityBased: true
        directAllowed: true
        indirectAllowed: true
        travelAllowed: true
        noShow: true
        snomedCode: '1234'
        travelCalculationDisabled: false
        absenceAllowed: false
        splitHourtype: false
      xml:
        name: hourType
    finance.CareOrder:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        userIdentifier:
          type: string
          description: Identification number of this care order, provided by the user, or in some cases derived from the lawIdentification.
        clientIdentifier:
          type: string
          description: Legal identifier of the client this care order belongs to. This is not necessarily the same as the client number of the client.
        beschikkingsNummer:
          type: string
          description: 'Deprecated since: 23-07-2021 use lawIdentification instead'
          deprecated: true
        lawIdentification:
          type: string
          description: Identification number of this care order, provided by the authority that issued this care order.
        indicatieorgaanCode:
          type: string
          description: Code of the indicatieorgaan that issued this care order, only used by old pre-2015 AWBZ care orders.
        aanvraagNummer:
          type: string
          description: Request number for the care order (if applicable).
        issueDate:
          type: string
          description: Date and time this care order was issued. In particular important for the clipping (veeg) mechanism.
          format: date-time
        contactPerson:
          type: string
          description: Contact person, only used by old pre-2015 AWBZ care orders.
        comments:
          type: string
          description: Comments, generally only used by old pre-2015 AWBZ care orders.
        beginDate:
          type: string
          description: Begin date of the care order, the time component is ignored, and considered to be 00:00:00.
          format: date-time
        endDate:
          type: string
          description: End date of the care order, the time component is ignored, and considered to be 23:59:59.
          format: date-time
        clientId:
          type: integer
          description: ID of the client this care order belongs to.
          format: int64
        financeTypeId:
          type: integer
          description: ID of the finance type this care order belongs to.
          format: int64
        debtorId:
          type: integer
          description: ID of the debtor that this care order belongs to.
          format: int64
        careOrderProducts:
          type: array
          items:
            $ref: '#/components/schemas/finance.CareOrderProduct'
          xml:
            wrapped: true
      description: CareOrder model (no description)
      example:
        id: 1
        userIdentifier: Dummy
        clientIdentifier: Dummy
        beschikkingsNummer: Dummy
        lawIdentification: Dummy
        indicatieorgaanCode: Dummy
        aanvraagNummer: Dummy
        issueDate: '2014-12-29T00:00:00.000+01:00'
        contactPerson: Dummy
        comments: Dummy
        beginDate: '2014-12-29T00:00:00.000+01:00'
        endDate: '2014-12-29T00:00:00.000+01:00'
        clientId: 1
        financeTypeId: 1
        debtorId: 1
        careOrderProducts:
        - id: 2
          careOrderId: 1
          userIdentifier: '1'
          quantity: 1
          quantityUnit: MinutesPerWeek
          magnitudeQuantityValue: 1
          magnitudeUnitQuantity: 1
          magnitudeUnitType: MINUTE
          magnitudeFrequency: PER_WEEK
          comments: comments
          productId: 1
          financeTypeId: 1
          instellingsCode: ABCD
          functietype: ZZP
          debtorId: 1
          beginDate: '2014-12-29T00:00:00.000+01:00'
          endDate: '2014-12-29T00:00:00.000+01:00'
          clippedBeginDate: '2014-12-29T00:00:00.000+01:00'
          clippedEndDate: '2014-12-29T00:00:00.000+01:00'
      xml:
        name: careOrder
    RegisteredUnit:
      enum:
      - PIECES
      - MINUTES
      - QUARTERS
      - HOURS
      type: string
      description: The unit of totalRegisteredAmount and maxRegisteredAmount
      example: PIECES
    finance.ParallelCareOrder:
      type: object
      properties:
        careOrder:
          $ref: '#/components/schemas/finance.CareOrder'
        hourTypes:
          type: array
          items:
            $ref: '#/components/schemas/HourType'
        productName:
          type: string
        totalRegisteredAmount:
          type: integer
          description: The total amount already registered
          format: int32
          default: 0
        maxRegisteredAmount:
          type: integer
          description: The maximal allowed amount that is allowed to registered
          format: int32
          default: 0
        registeredUnit:
          allOf:
          - $ref: '#/components/schemas/RegisteredUnit'
          description: The unit of totalRegisteredAmount and maxRegisteredAmount
        errorMessage:
          type: string
        referringDiagnosisCode:
          type: string
          description: The corresponding referring diagnosis code of an Paramedische Eerstelijnszorg Careorder
      description: 'Model class holding


        @Author joel.witteveen'
      example:
        careOrder:
          id: 1
          userIdentifier: Bggz-12345
          clientIdentifier: '12345'
          beschikkingsNummer: '321'
          lawIdentification: '321'
          indicatieorgaanCode: '0710'
          aanvraagNummer: '123'
          issueDate: '2014-12-29T00:00:00.000+01:00'
          contactPerson: Dhr. Psycholoog
          comments: Client kan agressief reageren op de kleur rood
          beginDate: '2014-12-29T00:00:00.000+01:00'
          endDate: '2014-12-29T00:00:00.000+01:00'
          clientId: 1
          financeTypeId: 1
          debtorId: 1
        hourTypes:
        - id: 1
          description: Activiteiten begeleiding - patiëntgebonden handelen
          identificationNo: '194822'
          activityGroupObjectId: 1
          externalCode3: '3'
          active: true
          payrolling: true
          direct: true
          systemDefined: false
          travelTime: false
          activityType: Payrolling
          groupCare: false
          quantityBased: true
        productName: bggzkort
        totalRegisteredAmount: 5
        maxRegisteredAmount: 10
        registeredUnit: QUARTERS
        errorMessage: ''
        referringDiagnosisCode: '1234'
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
