openapi: 3.2.0
info:
  title: Nedap Expertise Profile API
  version: 0.0.0
  description: 'Operations tagged ExpertiseProfile across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: ExpertiseProfile
paths:
  /t/employees/{employee_id}/expertise_profiles:
    get:
      tags:
      - ExpertiseProfile
      summary: Return the expertise profiles of a Employee corresponding to the given id…
      operationId: ExpertiseProfileAPI.byEmployeeId
      parameters:
      - name: employee_id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      - name: valid_from
        in: query
        schema:
          type: string
          format: date
      - name: valid_to
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseProfileList'
      x-replaced-by: /v0/administration/employees/{employee_id}/expertise_profiles
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/expertise_profiles:
    get:
      tags:
      - ExpertiseProfile
      summary: Returns every ExpertiseProfile available from the ExpertiseProfileAPI
      operationId: ExpertiseProfileAPI.all
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseProfileList'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/expertise_profiles
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/expertise_profiles/{id}:
    get:
      tags:
      - ExpertiseProfile
      summary: Return the Expertise Profile corresponding to the given id
      operationId: ExpertiseProfileAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting ExpertiseProfile
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpertiseProfile'
        '404':
          description: Expertise profile not found
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/expertise_profiles/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/expertise_profiles/multiple:
    get:
      tags:
      - ExpertiseProfile
      summary: Method used for requesting multiple ExpertiseProfile objects using their ids
      operationId: ExpertiseProfileAPI.multiple
      parameters:
      - name: id
        in: query
        description: 'array style id''s: id=1&id=2&etc'
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseProfileList'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/expertise_profiles/multiple
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/expertise_profiles/x-stream-connect/data:
    get:
      tags:
      - ExpertiseProfile
      summary: Return all ExpertiseProfile models in a streaming manner
      operationId: ExpertiseProfileAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseProfileList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/ExpertiseProfile'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/educations/data
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/expertise_profiles/x-stream-connect/updates:
    get:
      tags:
      - ExpertiseProfile
      summary: Return all ExpertiseProfile models which where updated since the date given in…
      operationId: ExpertiseProfileAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseProfileList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/ExpertiseProfile'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/educations/updates
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/employees/{employee_id}/expertise_profiles:
    get:
      tags:
      - ExpertiseProfile
      summary: Return the expertise profiles of a Employee corresponding to the given id…
      operationId: ExpertiseProfileAPI.byEmployeeId
      parameters:
      - name: employee_id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      - name: valid_from
        in: query
        schema:
          type: string
          format: date
      - name: valid_to
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseProfileList'
      x-replacement-for:
      - /t/employees/{employee_id}/expertise_profiles
    servers:
    - url: https://api-development.ons.io
  /v0/administration/expertise_profiles:
    get:
      tags:
      - ExpertiseProfile
      summary: Returns every ExpertiseProfile available from the ExpertiseProfileAPI
      operationId: ExpertiseProfileAPI.all
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseProfileList'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/expertise_profiles
    servers:
    - url: https://api-development.ons.io
  /v0/administration/expertise_profiles/{id}:
    get:
      tags:
      - ExpertiseProfile
      summary: Return the Expertise Profile corresponding to the given id
      operationId: ExpertiseProfileAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting ExpertiseProfile
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpertiseProfile'
        '404':
          description: Expertise profile not found
      x-cupido-common-method: true
      x-replacement-for:
      - /t/expertise_profiles/{id}
    servers:
    - url: https://api-development.ons.io
  /v0/administration/expertise_profiles/multiple:
    get:
      tags:
      - ExpertiseProfile
      summary: Method used for requesting multiple ExpertiseProfile objects using their ids
      operationId: ExpertiseProfileAPI.multiple
      parameters:
      - name: id
        in: query
        description: 'array style id''s: id=1&id=2&etc'
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseProfileList'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/expertise_profiles/multiple
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/educations/data:
    get:
      tags:
      - ExpertiseProfile
      summary: Return all ExpertiseProfile models in a streaming manner
      operationId: ExpertiseProfileAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseProfileList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/ExpertiseProfile'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/expertise_profiles/x-stream-connect/data
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/educations/updates:
    get:
      tags:
      - ExpertiseProfile
      summary: Return all ExpertiseProfile models which where updated since the date given in…
      operationId: ExpertiseProfileAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.ExpertiseProfileList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/ExpertiseProfile'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/expertise_profiles/x-stream-connect/updates
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    ExpertiseProfile:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        description:
          type: string
        visible:
          type: boolean
        beginDate:
          type: string
          description: 'Deprecated since: 2024-05-14, unused, always empty'
          format: date-time
          deprecated: true
          x-deprecated-since: 14-05-2024
        endDate:
          type: string
          description: 'Deprecated since: 2024-05-14, unused, always empty'
          format: date-time
          deprecated: true
          x-deprecated-since: 14-05-2024
        allowDossierActions:
          type: boolean
        allowDossierConfidential:
          type: boolean
        hourTypeIds:
          type: array
          items:
            type: integer
            description: List of Ids of {@link HourType}s assigned to this expertise profile
            format: int64
            xml:
              name: hourTypeId
          description: List of Ids of {@link HourType}s assigned to this expertise profile
          xml:
            wrapped: true
      description: Model is used to check to see if a person can be connected to a certain {@link HourType}.
      example:
        id: 5
        description: Helpenden
        visible: true
        beginDate: '2015-01-01T12:00:00.000+01:00'
        endDate: '2020-01-01T12:00:00.000+01:00'
        allowDossierActions: true
        allowDossierConfidential: false
        hourTypeIds:
        - 1
        - 2
        - 3
    list.ExpertiseProfileList:
      type: object
      properties:
        expertiseProfiles:
          type: array
          items:
            $ref: '#/components/schemas/ExpertiseProfile'
          xml:
            name: expertiseProfile
      description: ExpertiseProfileList model (no description)
      example:
        expertiseProfiles:
        - id: 5
          description: Helpenden
          visible: true
      xml:
        name: expertiseProfiles
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
