openapi: 3.2.0
info:
  title: Nedap Dossier.Goal Entry API
  version: 0.0.0
  description: 'Operations tagged dossier.GoalEntry across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: dossier.GoalEntry
paths:
  /t/dossier/goal_entries:
    post:
      tags:
      - dossier.GoalEntry
      summary: Create GoalEntry
      operationId: dossier.GoalEntryAPI.create
      requestBody:
        description: 'Creates a new GoalEntry. Important: This endpoint only creates the GoalEntry.The associated Goal must be present already and referenced by goalId.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.GoalEntry'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.GoalEntry'
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/dossier/goal_entries
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/dossier/goal_entries/{id}:
    get:
      tags:
      - dossier.GoalEntry
      summary: Get a resource by its ID
      operationId: dossier.GoalEntryAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting GoalEntry
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.GoalEntry'
        '404':
          description: GoalEntry not found
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/dossier/goal_entries/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    put:
      tags:
      - dossier.GoalEntry
      summary: Updates the given GoalEntry
      operationId: dossier.GoalEntryAPI.update
      parameters:
      - name: id
        in: path
        description: used for selecting GoalEntry
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      requestBody:
        description: GoalEntry to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.GoalEntry'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.GoalEntry'
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/dossier/goal_entries/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    delete:
      tags:
      - dossier.GoalEntry
      summary: Deletes the GoalEntry with given id
      operationId: dossier.GoalEntryAPI.delete
      parameters:
      - name: id
        in: path
        description: used for selecting GoalEntry
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '204':
          description: If successfully removed the goal entry
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/dossier/goal_entries/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/dossier/goal_entries:
    post:
      tags:
      - dossier.GoalEntry
      summary: Create GoalEntry
      operationId: dossier.GoalEntryAPI.create
      requestBody:
        description: 'Creates a new GoalEntry. Important: This endpoint only creates the GoalEntry.The associated Goal must be present already and referenced by goalId.'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.GoalEntry'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.GoalEntry'
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/goal_entries
    servers:
    - url: https://api-development.ons.io
  /v0/administration/dossier/goal_entries/{id}:
    get:
      tags:
      - dossier.GoalEntry
      summary: Get a resource by its ID
      operationId: dossier.GoalEntryAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting GoalEntry
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.GoalEntry'
        '404':
          description: GoalEntry not found
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/goal_entries/{id}
    put:
      tags:
      - dossier.GoalEntry
      summary: Updates the given GoalEntry
      operationId: dossier.GoalEntryAPI.update
      parameters:
      - name: id
        in: path
        description: used for selecting GoalEntry
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      requestBody:
        description: GoalEntry to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dossier.GoalEntry'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dossier.GoalEntry'
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/goal_entries/{id}
    delete:
      tags:
      - dossier.GoalEntry
      summary: Deletes the GoalEntry with given id
      operationId: dossier.GoalEntryAPI.delete
      parameters:
      - name: id
        in: path
        description: used for selecting GoalEntry
        required: true
        schema:
          type: integer
          format: int64
      - name: X-Cupido-User-Name
        in: header
        schema:
          type: string
      - name: X-Cupido-Active-Identity
        in: header
        schema:
          type: string
      responses:
        '204':
          description: If successfully removed the goal entry
        '400':
          description: Validation errors
      x-cupido-common-method: true
      x-replacement-for:
      - /t/dossier/goal_entries/{id}
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    dossier.Goal:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        domain:
          $ref: '#/components/schemas/dossier.Domain'
        domainId:
          type: integer
          format: int64
        demandId:
          type: integer
          format: int64
        definition:
          type: string
        allowTitleOverride:
          type: boolean
          default: false
        allowComment:
          type: boolean
          default: false
        reportProgress:
          type: boolean
          default: false
        hidden:
          type: boolean
          default: false
        classificationId:
          type: string
      description: Zorgplan "doel"
      example:
        updatedAt: '2014-04-01T17:00:00.000+02:00'
        createdAt: '2013-12-01T17:00:00.000+01:00'
        createdBy: user
        id: 1
        domain:
          updatedAt: '2014-12-29T00:00:00.000+01:00'
          createdAt: '2014-12-29T00:00:00.000+01:00'
          createdBy: example
          id: 1
          name: example
          hidden: true
          classificationId: example
        domainId: 2
        demandId: 3
        definition: Target definition
        allowTitleOverride: true
        allowComment: true
        reportProgress: false
        hidden: false
        classificationId: intervention.category.case_management
      xml:
        name: goal
    dossier.Domain:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        name:
          type: string
          description: (nl) Naam van dit domein
        hidden:
          type: boolean
          default: false
        classificationId:
          type: string
      description: Zorgplan "domein"
      example:
        updatedAt: '2014-04-01T17:00:00.000+02:00'
        createdAt: '2013-12-01T17:00:00.000+01:00'
        createdBy: user
        id: 1
        name: Domein naam
        hidden: false
        classificationId: classification.domain.health
    AuditedBase:
      title: AuditedBase
      type: object
      properties:
        updatedAt:
          type:
          - string
          - 'null'
          description: Dated Base extension.
          format: date-time
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        createdBy:
          type:
          - string
          - 'null'
      description: AuditedBase model (no description)
      example:
        updatedAt: '2014-12-29T00:00:00.000+01:00'
        createdAt: '2014-12-29T00:00:00.000+01:00'
        createdBy: example
    dossier.GoalEntry:
      type: object
      allOf:
      - $ref: '#/components/schemas/AuditedBase'
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        comment:
          type: string
        title:
          type: string
        carePlanEntryId:
          type: integer
          format: int64
        goal:
          $ref: '#/components/schemas/dossier.Goal'
        goalId:
          type: integer
          format: int64
        targetDate:
          type: string
          format: date-time
      description: Zorgplan "doel" entry.
      example:
        updatedAt: '2014-04-01T17:00:00.000+02:00'
        createdAt: '2013-12-01T17:00:00.000+01:00'
        createdBy: user
        id: 1
        comment: Een opmerking
        title: Een titlel
        carePlanEntryId: 2
        goal:
          updatedAt: '2014-12-29T00:00:00.000+01:00'
          createdAt: '2014-12-29T00:00:00.000+01:00'
          createdBy: example
          id: 1
          domain:
            updatedAt: '2014-12-29T00:00:00.000+01:00'
            createdAt: '2014-12-29T00:00:00.000+01:00'
            createdBy: example
            id: 1
            name: example
            hidden: true
            classificationId: example
          domainId: 1
          demandId: 1
          definition: example
          allowTitleOverride: true
          allowComment: true
          reportProgress: true
          hidden: true
          classificationId: example
        goalId: 3
        targetDate: '2014-04-01T17:00:00.000+02:00'
      xml:
        name: goalEntry
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
