openapi: 3.2.0
info:
  title: Nedap Employee Address API
  version: 0.0.0
  description: 'Operations tagged EmployeeAddress across 2 of this provider''s published API definitions: nedap-ons-deprecated-openapi-original.json, nedap-ons-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-development.ons.io
tags:
- name: EmployeeAddress
paths:
  /t/employee_addresses:
    post:
      tags:
      - EmployeeAddress
      summary: Create EmployeeAddress
      operationId: EmployeeAddressAPI.create
      requestBody:
        description: EmployeeAddress to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeAddress'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeAddress'
        '400':
          description: EmployeeAddress must have an employee
        '404':
          description: Employee not found
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/employee_addresses
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/employee_addresses/{id}:
    get:
      tags:
      - EmployeeAddress
      summary: Return the Employee Address corresponding to the given
      operationId: EmployeeAddressAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting EmployeeAddress
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeAddress'
        '404':
          description: Address or EmployeeAddress not found
      x-cupido-common-method: true
      x-replaced-by: /v0/administration/employee_addresses/{id}
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/employee_addresses/x-stream-connect/data:
    get:
      tags:
      - EmployeeAddress
      summary: Return all EmployeeAddress models in a streaming manner
      operationId: EmployeeAddressAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.EmployeeAddressList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/EmployeeAddress'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/employee_addresses/data
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /t/employee_addresses/x-stream-connect/updates:
    get:
      tags:
      - EmployeeAddress
      summary: Return all EmployeeAddress models which where updated since the date given in…
      operationId: EmployeeAddressAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.EmployeeAddressList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/EmployeeAddress'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replaced-by: /v0/xstream/employee_addresses/updates
      deprecated: true
      x-deprecated-since: 19-11-2025
    servers:
    - url: https://api-development.ons.io
  /v0/administration/employee_addresses:
    post:
      tags:
      - EmployeeAddress
      summary: Create EmployeeAddress
      operationId: EmployeeAddressAPI.create
      requestBody:
        description: EmployeeAddress to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeAddress'
        required: true
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeAddress'
        '400':
          description: EmployeeAddress must have an employee
        '404':
          description: Employee not found
      x-cupido-common-method: true
      x-replacement-for:
      - /t/employee_addresses
    servers:
    - url: https://api-development.ons.io
  /v0/administration/employee_addresses/{id}:
    get:
      tags:
      - EmployeeAddress
      summary: Return the Employee Address corresponding to the given
      operationId: EmployeeAddressAPI.byId
      parameters:
      - name: id
        in: path
        description: used for selecting EmployeeAddress
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeAddress'
        '404':
          description: Address or EmployeeAddress not found
      x-cupido-common-method: true
      x-replacement-for:
      - /t/employee_addresses/{id}
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/employee_addresses/data:
    get:
      tags:
      - EmployeeAddress
      summary: Return all EmployeeAddress models in a streaming manner
      operationId: EmployeeAddressAPI.streamAll
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.EmployeeAddressList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/EmployeeAddress'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/employee_addresses/x-stream-connect/data
    servers:
    - url: https://api-development.ons.io
  /v0/xstream/employee_addresses/updates:
    get:
      tags:
      - EmployeeAddress
      summary: Return all EmployeeAddress models which where updated since the date given in…
      operationId: EmployeeAddressAPI.streamUpdates
      parameters:
      - name: since
        in: query
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-29T00:00:00.000'
      responses:
        '200':
          description: No response was specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list.EmployeeAddressList'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/EmployeeAddress'
        '400':
          description: Could not parse request parameter
        '404':
          description: Resource not found
        '500':
          description: Unspecified internal error
      x-cupido-common-method: true
      x-replacement-for:
      - /t/employee_addresses/x-stream-connect/updates
    servers:
    - url: https://api-development.ons.io
components:
  schemas:
    list.EmployeeAddressList:
      type: object
      properties:
        employeeAddresses:
          type: array
          items:
            $ref: '#/components/schemas/EmployeeAddress'
          xml:
            name: employeeAddress
      description: EmployeeAddressList model (no description)
      example:
        employeeAddresses:
        - id: 1
          beginDate: '2010-02-16'
          endDate: '2010-02-17'
          homeNumber: 4
          homeNumberExtension: a
          poBoxNumber: 123a
          street: Parallelweg
          city: Enschede
          zipcode: 7513KC
          municipality: Enschede
          country: Netherlands
          telephoneNumber: 053-1234567
          telephoneCountryCode: '+31'
          telephoneNumber2: 053-1234567
          telephoneCountryCode2: '+31'
          faxNumber: 053-1234567
          email: mike.wazowski@nedap.com
          type: residence address
          typeString: temporary
          residentType: '0'
          personType: client
          personTypeString: birthname
          roomNumber: '1'
          locationDescription: Afdeling noord
          updatedAt: '2016-01-01T12:00:00.000+01:00'
          createdAt: '2016-01-01T12:00:00.000+01:00'
          latitude: 52.1
          longitude: 6.9
          employeeId: 2
          situationDescription: Test
      xml:
        name: employeeAddresses
    EmployeeAddress:
      type: object
      allOf:
      - $ref: '#/components/schemas/Address'
      properties:
        employeeId:
          type: integer
          format: int64
      description: EmployeeAddress model (no description)
      example:
        id: 1
        beginDate: '2010-02-16'
        endDate: '2010-02-17'
        homeNumber: 4
        homeNumberExtension: a
        poBoxNumber: 123a
        street: Parallelweg
        city: Enschede
        zipcode: 7513KC
        municipality: Enschede
        country: Netherlands
        telephoneNumber: 053-1234567
        telephoneCountryCode: '+31'
        telephoneNumber2: 053-1234567
        telephoneCountryCode2: '+31'
        faxNumber: 053-1234567
        email: mike.wazowski@nedap.com
        type: residence address
        typeString: temporary
        residentType: '0'
        personType: client
        personTypeString: birthname
        roomNumber: '1'
        locationDescription: Afdeling noord
        updatedAt: '2016-01-01T12:00:00.000+01:00'
        createdAt: '2016-01-01T12:00:00.000+01:00'
        latitude: 52.1
        longitude: 6.9
        employeeId: 2
        situationDescription: Test
        residenceAccessInfo: Test
      xml:
        name: employeeAddress
    Address:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-cupido-id: true
        beginDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        homeNumber:
          type: integer
          format: int32
        homeNumberExtension:
          type: string
        poBoxNumber:
          type: string
        street:
          type: string
        city:
          type: string
        zipcode:
          type: string
        municipality:
          type: string
        country:
          type: string
        telephoneNumber:
          type: string
        telephoneCountryCode:
          type: string
        telephoneNumber2:
          type: string
        telephoneCountryCode2:
          type: string
        faxNumber:
          type: string
        email:
          type: string
        type:
          type: string
          description: '0: Unknown

            1: Living

            2: Postal

            3: Residence

            4: Temporary

            50: Sleuteladres

            98: Other

            100: Factuuradres'
        typeString:
          type: string
        residentType:
          type: string
          description: '0: Unknown

            1: One-family house

            2: Upstairs apartment

            3: Ground floor apartment

            4: Apartment or flat

            5: Apartment or flat, with elevator between floors

            6: Houseboat

            7: Trailer

            8: WLZ organisation (with stay facilities)

            9: Homeless

            11: Assisted living

            12: WLZ organisation

            13: ZVW organisation

            14: WMO organisation

            21: asylum seekers center

            31: Correctional Institution

            99: Other'
        personType:
          type: string
          description: '1: Client

            2: Employee

            3: Relation

            4: Careprovider

            5: Unit'
        personTypeString:
          type: string
        roomNumber:
          type: string
        locationDescription:
          type: string
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        situationDescription:
          type: string
          description: Toelichting woonsituatie
        residenceAccessInfo:
          type: string
          description: Informatie over toegang tot de woning
      description: Address model.
      example:
        id: 1
        beginDate: '2010-02-16'
        endDate: '2010-02-17'
        homeNumber: 4
        homeNumberExtension: b
        poBoxNumber: 123a
        street: Parallelweg
        city: Groenlo
        zipcode: 7513KC
        municipality: Enschede
        country: Netherlands
        telephoneNumber: 053-1234567
        telephoneCountryCode: '+31'
        telephoneNumber2: 053-1234567
        telephoneCountryCode2: '+31'
        faxNumber: 053-1234567
        email: mike.wazowski@nedap.com
        type: '3'
        typeString: residence address
        residentType: '?'
        personType: '1'
        personTypeString: client
        roomNumber: '1'
        locationDescription: Afdeling noord
        updatedAt: '2016-01-01T12:00:00.000+01:00'
        createdAt: '2016-01-01T12:00:00.000+01:00'
        latitude: 52.1
        longitude: 6.9
        situationDescription: Woont bij ex
        residenceAccessInfo: Sleutel ligt onder de blauwe bloempot
x-refined-from:
- nedap-ons-deprecated-openapi-original.json
- nedap-ons-openapi-original.json
